{#{% if reporte.diagnostico == null %}
        <div class="btn-group" style="margin-bottom: 8px;">
            <a class="btn btn-primary" href="#form_precio_modal"><span class="glyphicon glyphicon-plus-sign"></span> {{ 'precio.btn.adicionar'|trans({}, 'BusetaBodegaBundle') }}</a>
        </div>
{% endif %}#}

<div class="btn-group" style="margin-bottom: 8px;">
    <a class="btn btn-primary" href="#form_precios_modal"><span class="glyphicon glyphicon-plus-sign"></span> {{ 'precio.btn.adicionar'|trans({}, 'BusetaBodegaBundle') }}</a>
</div>

<div class="paginator row">
    <div class="col-lg-4"><strong>Resultados:</strong> {{ entities.getTotalItemCount }}</div>
</div>

<table class="precio_records_list table table-striped table-bordered table-condensed table-hover">
    <thead>
    <tr>
        {#<th>{{ knp_pagination_sortable(entities, 'precio.valor' | trans({}, 'BusetaTallerBundle'), 'd.valor') }}</th>#}
        <th>Precio</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Activo</th>
        <th style="text-align: center">Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.precio }}</td>
            <td>{{ entity.fechaInicio | date('d/m/Y') }}</td>
            <td>{{ entity.fechaFin | date('d/m/Y')}}</td>
            <td>
                {% if entity.activo %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </td>

            <td style="width: 10%; text-align: center;">
                {#{% if reporte.diagnostico == null %}#}
                        <a class="btn btn-danger btn-xs" href="#delete" data-content="{{ entity.id }}"><i class="fa fa-remove"> Eliminar</i></a>
                    {#{% else %}#}
                        {#<a class="btn btn-danger btn-xs disabled" href="#delete" data-content="{{ entity.id }}"><i class="fa fa-remove"> Eliminar</i></a>#}
                {#{% endif %}#}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="10">{{ 'messages.no_results' | trans({}, 'BusetaBodegaBundle') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="paginator row">
    <div class="col-lg-4"></div>
    <div class="col-lg-12" style="text-align: center">{{ knp_pagination_render(entities) }}</div>
</div>

<div class="modal" id="form_precios_modal"></div>
<div class="modal" id="form_precios_delete_modal"></div>