<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Buscar...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{{ path('core_homepage') }}"><i class="fa fa-dashboard fa-fw"></i> Página Principal</a>
            </li>

            <li>
                <a href="{{ path('reporte') }}"><i class="fa fa-book fa-fw"></i> Reportes </a>
            </li>
            <li>
                <a href="{{ path('diagnostico') }}"><i class="fa fa-newspaper-o"></i> Diagnósticos </a>
            </li>

            <li>
                <a href="#"><i class="fa fa-share-square fa-fw"></i> Gestionar Orden de trabajo<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('ordentrabajo') }}">Orden de Trabajo</a>
                    </li>
                    <li>
                        <a href="{{ path('mantenimientopreventivo') }}">Mantenimiento preventivo</a>
                    </li>
                    <li>
                        <a href="{{ path('historicomantenimientos') }}">Histórico de Mantenimientos</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->
