{% block collection_widget %}
    {% spaceless %}
<div class="collection">
    {% if prototype is defined %}
        {% set attr = attr | merge({'data-prototype': block('collection_item_widget') }) %}
    {% endif %}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div  {{ block('widget_container_attributes') }}>
                        <h4>Listado de tareas adicionales insertadas:</h4>

                        <div class="row form-group" >
                            <div class="col-lg-12">
                                <div class="col-lg-2" style="text-align: center;"><b>Grupo</b></div>
                                <div class="col-lg-2" style="text-align: center;"><b>Subgrupo</b></div>
                                <div class="col-lg-4" style="text-align: center;"><b>Tarea</b></div>
                                <div class="col-lg-2" style="text-align: center;"><b>Fecha estimada</b></div>
                                <div class="col-lg-2" style="text-align: center;"><b>Descripcion</b></div>
                            </div>
                        </div>

                        <div id="tbody">
                            {% set counter = form | length %}
                            {% for rows in form %}
                                <div class="row form-group">
                                    {{ _self.template(rows) }}
                                </div>
                            {% endfor %}
                            {% if counter == 0 %}
                                <div id="no-elements-tr">No existen elementos. Presione "Adicionar" para agregar nuevos elementos.</div>
                            {% else %}
                                <div id="no-elements-tr">No existen elementos. Presione "Adicionar" para agregar nuevos elementos.</div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {{ form_rest(form) }}
    <div>

    </div>
    {% endspaceless %}
    {% endblock collection_widget %}

    {% block collection_item_widget %}
        {% spaceless %}
            {{ _self.template(prototype) }}
        {% endspaceless %}
    {% endblock collection_item_widget %}

    {% macro template(prototype) %}
    <div class="col-lg-2 form-group">
        {{ form_errors(prototype.grupos) }}
        {{ form_widget(prototype.grupos) }}
    </div>
    <div class="col-lg-2 form-group">
        {{ form_errors(prototype.subgrupos) }}
        {{ form_widget(prototype.subgrupos) }}
    </div>
    <div class="col-lg-4 form-group">
        {{ form_errors(prototype.tarea) }}
        {{ form_widget(prototype.tarea) }}
    </div>
    <div class="col-lg-2 form-group">
        {{ form_errors(prototype.fecha_estimada) }}
        {{ form_widget(prototype.fecha_estimada) }}
    </div>
    <div class="col-lg-2 form-group">
        {{ form_errors(prototype.descripcion) }}
        {{ form_widget(prototype.descripcion) }}
    </div>
    <div class="col-lg-2 form-group">
        {{ form_errors(prototype.hora_inicio) }}
        {{ form_widget(prototype.hora_inicio) }}
    </div>
    <div class="col-lg-2 form-group">
        {{ form_errors(prototype.hora_final) }}
        {{ form_widget(prototype.hora_final) }}
    </div>
    <div class="col-lg-2 form-group">
        {{ form_errors(prototype.garantias_tareas) }}
        {{ form_widget(prototype.garantias_tareas) }}
    </div>
    <div class="col-lg-2 form-group">
        {{ form_errors(prototype.horas_laboradas) }}
        {{ form_widget(prototype.horas_laboradas) }}
    </div>

    <div class="col-lg-1 form-group">
        <a class="btn btn-primary delete_tag_link" href="#"><i class="fa fa-minus-circle"></i></a>
    </div>

{% endmacro %}