{% extends "BusetaTallerBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Listado de Ordenes de Trabajo' %}

{% block area_trabajo %}
    {% set display = '' %}
    {% set headericon = 'glyphicon-chevron-down' %}
    {% if (filter_form.vars.value.numero is null or filter_form.vars.value.numero is empty)
      and (filter_form.vars.value.requisionMateriales is null or filter_form.vars.value.requisionMateriales is empty)
      and (filter_form.vars.value.diagnosticadoPor is null or filter_form.vars.value.diagnosticadoPor is empty)
      and (filter_form.vars.value.ayudante is null or filter_form.vars.value.ayudante is empty)
      and (filter_form.vars.value.autobus is null or filter_form.vars.value.autobus is empty)
      and (filter_form.vars.value.diagnostico is null or filter_form.vars.value.diagnostico is empty) %}

        {% set display = 'display: none;' %}
        {% set headericon = 'glyphicon-chevron-right' %}
    {% endif %}

    <h4><a id="filter_form_header" style="cursor: pointer;">
        <span class="glyphicon {{ headericon }}"></span> Búsqueda</a>
    </h4>

    <div id="filter_form_component" style="{{ display }}">
        <form id="filter_form" method="{{ filter_form.vars.method }}" action="{{ filter_form.vars.action }}">
            <div class="row">
                <div class="col-lg-4">{{ form_row(filter_form.numero) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.requisionMateriales) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.diagnostico) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.autobus) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.diagnosticadoPor) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.ayudante) }}</div>
            </div>
            {{ form_widget(filter_form._token) }}

            <div class="filter-actions" style="margin-top: 8px;">
                <a id="filter_form_submit_btn" class="btn btn-success btn-small">
                    <span class="glyphicon glyphicon-filter"></span> Filtrar
                </a>
                <a id="filter_form_reset_btn" class="btn btn-danger btn-small">
                    <span class="glyphicon glyphicon-repeat"></span> Reiniciar
                </a>
            </div>
        </form>
    </div>

    <hr/>

    <div id="actions_container">
        {% if is_granted('CREATE', 'Buseta\\TallerBundle\\Entity\\OrdenTrabajo') %}
        <div class="btn-group pull-left" style="padding-bottom: 8px;">
            <a class="btn btn-primary" href="{{ path('ordentrabajo_new') }}"><i class="fa fa-plus-circle"></i> Adicionar
                Orden de Trabajo</a>
        </div>
        {% endif %}

        <div class="btn-group pull-right" data-toggle="buttons">
            <label class="btn btn-default" id="vistatareas" title="Vista Tareas OT">
                <input type="radio" name="options"> <i class="fa fa-tags"></i>
            </label>
            <label class="btn btn-default active" id="vistaordenes" title="Vista Orden Trabajo">
                <input type="radio" name="options"> <i class="fa fa-tag"></i>
            </label>
        </div>
    </div>

    <div id="lista_tareas_ordenes" style="display: none;">
        <table class="records_list table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>OT</th>
                    <th>Autobus</th>
                    <th>Grupo</th>
                    <th>Subgrupo</th>
                    <th>Tarea</th>
                    <th>Kilometraje</th>
                    <th>Creado</th>
                    <th>Responsable</th>
                    <th>Fecha estimada</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                {% set color_fondo=entity.autobus.grupobuses is not null ?
                "background-color: " ~ entity.autobus.grupobuses.color ~ ";": "" %}
                {% set color_letra=entity.autobus.grupobuses is not null ?
                "color: " ~ entity.autobus.grupobuses.colorTexto ~ ";": "" %}
                {% for tarea in entity.tareasAdicionales %}
                <tr>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">OT #{{ entity.numero }}</td>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">{{ entity.autobus }}</td>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">{{ tarea.grupo }}</td>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">{{ tarea.subgrupo }}</td>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">{{ tarea.tareamantenimiento }}</td>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">{{ entity.kilometraje }}</td>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">{{ entity.created ? entity.created | date('d/m/Y h:i a') : '-' }}</td>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">{{ entity.realizadapor }}</td>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">{{ tarea.fechaestimada |date('d/m/Y') }}</td>
                    <td style="width: 18% !important; text-align: center;  {{ color_fondo|raw }}">
                    {% if is_granted('VIEW', entity) %}
                        <div class="btn-group">
                            <a class="btn btn-success btn-xs"
                               href="{{ path('ordentrabajo_show', { 'id': entity.id }) }}"><i
                                        class="fa fa-search"> Mostrar</i></a>
                        </div>
                    {% endif %}
                    {% if is_granted('EDIT', entity) %}
                        <div class="btn-group">
                            <a class="btn btn-danger btn-xs"
                               href="{{ path('ordentrabajo_edit', { 'id': entity.id }) }}"><i
                                        class="fa fa-edit"> Editar</i></a>
                        </div>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="12">No se encontraron registros de tareas adicionales en el sistema.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="lista_ordenes" style="display: block;">
        <table class="records_list table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>OT</th>
                    <th>Diagnosticado por</th>
                    <th>Autobus</th>
                    <th>Ayudante</th>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                {% set color_fondo=entity.autobus.grupobuses is not null ?
                "background-color: " ~ entity.autobus.grupobuses.color ~ ";": "" %}
                {% set color_letra=entity.autobus.grupobuses is not null ?
                "color: " ~ entity.autobus.grupobuses.colorTexto ~ ";": "" %}
                {% set text_color = 'default' %}
                {% if ordentrabajo is defined and ordentrabajo and entity.estado != 'CO' %}
                    {% set text_color = 'danger' %}
                {% endif %}
                <tr>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">OT #{{ entity.numero }}</td>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">{{ entity.diagnosticadoPor | default('-')}}</td>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">{{ entity.autobus }}</td>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">{{ entity.ayudante }}</td>
                    <td style="{{ color_fondo|raw }} {{ color_letra|raw }}">{{ entity.prioridad }}</td>

                    {% if entity.estado == 'CO' %}
                        {% set badge = 'success' %}
                    {% elseif entity.estado == 'PR' %}
                        {% set badge = 'primary' %}
                    {% else %}
                        {% set badge = 'warning' %}
                    {% endif %}
                    <td style="text-{{ text_color }}"><span class="label label-{{ badge }}">{{ ('estado.' ~ entity.estado)  | trans({}, 'BusetaTallerBundle')  }}</span></td>

                    <td style="width: 18% !important; text-align: center; {{ color_fondo|raw }}">
                    {% if is_granted('VIEW', entity) %}
                            <div class="btn-group">
                                <a class="btn btn-success btn-xs"
                                   href="{{ path('ordentrabajo_show', { 'id': entity.id }) }}"><i
                                            class="fa fa-search"> Mostrar</i></a>
                            </div>
                        {% endif %}

                        {% if is_granted('EDIT', entity) %}
                            <div class="btn-group">
                                <a class="btn btn-danger btn-xs"
                                   href="{{ path('ordentrabajo_edit', { 'id': entity.id }) }}"><i
                                            class="fa fa-edit"> Editar</i></a>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">No se encontraron registros de tareas adicionales en el sistema.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
            {{ knp_pagination_render(entities) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('a#filter_form_header').click(function () {
                if ($('a#filter_form_header span').hasClass('glyphicon-chevron-right')) {
                    $('a#filter_form_header span')
                            .removeClass('glyphicon-chevron-right')
                            .addClass('glyphicon-chevron-down');
                } else {
                    $('a#filter_form_header span')
                            .removeClass('glyphicon-chevron-down')
                            .addClass('glyphicon-chevron-right');
                }

                $('div#filter_form_component').slideToggle(500);
            });

            $('a#filter_form_submit_btn').click(function () {
                $('form#filter_form').submit();
            });

            $('a#filter_form_reset_btn').click(function () {
                $('form#filter_form').find('input').each(function () {
                    $(this).val(null);
                });
                $('form#filter_form').find('select').each(function () {
                    $(this).val(null);
                })
            });


            //Aqui hago el ajax para el select dependiente del autobus
            $('#{{ filter_form.diagnostico.vars.id }}').change(function () {
                var data = {
                    diagnostico_id: $(this).val()
                };

                $.ajax({
                    type: 'GET',
                    url: '{{ path("ordentrabajo_ajax_diagnostico_autobus") }}',
                    data: data,
                    success: function (data) {
                        var values = $.parseJSON(data);
                        var $autobus_selector = $('#{{ filter_form.autobus.vars.id }}');

                        $autobus_selector.html('<option>---Seleccione---</option>');

                        for (var i = 0, total = values.length; i < total; i++) {
                            $autobus_selector.append('<option selected value="' + values[i].id + '">' + values[i].matricula + '</option>');
                        }
                    }
                });
            });

        });

        // Aqui switcheo con js las vistas

        $("#vistatareas").click(function () {
            var display = $('div#lista_tareas_ordenes').css("display");
            if (display == 'none') {
                $('div#lista_ordenes').css('display', 'none');
                $('div#lista_tareas_ordenes').fadeIn(500);
            }
        });


        $("#vistaordenes").click(function () {
            var display = $('div#lista_tareas_ordenes').css("display");
            if (display == 'block') {
                $('div#lista_tareas_ordenes').css('display', 'none');
                $('div#lista_ordenes').fadeIn(500);
            }
        });
    </script>
{% endblock javascripts %}
