{% extends "BusetaTallerBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block title %}
    Listado de órdenes de trabajo
{% endblock %}

{% block titulo_encabezado %}
    Listado de órdenes de trabajo
{% endblock %}

{% block area_trabajo %}

    <!-- OT, Autobus, Grupo, Autobus, Tarea, Realizado por, Fecha estimada-->

    <div class="btn-group" style="padding-bottom: 8px;">
        <a class="btn btn-primary" href="{{ path('ordentrabajo_new') }}"><i class="fa fa-plus-circle"></i> Adicionar Orden de Trabajo</a>
    </div>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>OT</th>
            <th>Autobus</th>
            <th>Grupo</th>
            <th>Subgrupo</th>
            <th>Tarea</th>
            <th>Kilometraje</th>
            <th>Responsable</th>
            <th>Fecha estimada</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% for tarea in entity.tareasAdicionales %}
                <tr>
                    <td>OT #{{ entity.numero }}</td>
                    <td>{{ entity.autobus }}</td>
                    <td>{{ tarea.grupo }}</td>
                    <td>{{ tarea.subgrupo }}</td>
                    <td>{{ tarea.tareamantenimiento }}</td>
                    <td>{{ entity.kilometraje}}</td>
                    <td>{{ entity.realizadapor }}</td>
                    <td>{{ tarea.fechaestimada |date('d/m/Y')  }}</td>

                    <td  style="width: 18% !important; text-align: center;">
                        <div class="btn-group">
                            <a class="btn btn-success btn-xs" href="{{ path('ordentrabajo_show', { 'id': entity.id }) }}"><i class="fa fa-search"> Mostrar</i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn btn-danger btn-xs" href="{{ path('ordentrabajo_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"> Editar</i></a>
                        </div>

                    </td>
                </tr>

            {% endfor %}
        {% else %}
            <tr>
                <td colspan="12">No se encontraron registros de tareas adicionales en el sistema.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>

{% endblock %}
