<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">Detalles del Reporte</h3>
    </div>

    <!-- Resumen Reporte -->
    <ul class="list-group">
        <li class="list-group-item"><b>Número:</b>  {{ reportes.numero }}</li>
        <li class="list-group-item"><b>Medio:</b>   {{ reportes.medioReporte }}</li>
        <li class="list-group-item"><b>Reporta:</b> {{ reportes.reporta }}</li>
        {%  if reportes.esUsuario %}
                <li class="list-group-item"><b>¿Es Usuario?:</b> Sí</li>
                <li class="list-group-item"><b>Nombre de Persona:</b> {{ reportes.nombrePersona }}</li>
                <li class="list-group-item"><b>Email de Persona:</b> {{ reportes.emailPersona }}</li>
                <li class="list-group-item"><b>Teléfono de Persona:</b> {{ reportes.telefonoPersona }}</li>
            {% else %}
                <li class="list-group-item"><b>¿Es Usuario?:</b> No</li>
        {% endif %}

    </ul>

    <div class="panel-heading">
        <h3 class="panel-title">Observaciones del Reporte</h3>
    </div>

    <!-- Observaciones del Reporte -->
    <ul class="list-group">
        {% for reporte in reportes.observaciones %}
            <li class="list-group-item"><b>Obs#{{ loop.index }}:</b> {{ reporte.valor }}</li>
        {% else %}
            <li class="list-group-item">No existen observaciones de reportes disponibles</li>
        {% endfor %}
    </ul>

</div>


