<form action="{{ path('ordentrabajo_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.numero) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.requisionMateriales) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.diagnostico) }}
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.realizadaPor) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.ayudante) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.diagnosticadoPor) }}
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.autobus) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.fechaInicio) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.fechaFinal) }}
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.prioridad) }}
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.observaciones) }}
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.tareasAdicionales) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="btn-group" style="padding-bottom: 8px;">
                <a id="adicionarNuevaTarea" class="btn btn-primary" href="#"><i class="fa fa-plus-circle"></i> Adicionar tarea adicional</a>
            </div>
        </div>
    </div>

    <br/>
    <fieldset>
        <legend>Resumen de Orden de Trabajo</legend>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.duracionDias) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.duracionHorasLaboradas) }}
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.aprobadoPor) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.revisadoPor) }}
            </div>
        </div>
    </fieldset>

    <br/>
    <div class="row">
        <div class="col-md-4">
            <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
            <div class="btn-group">
                <a class="btn btn-primary" href="{{ path('ordentrabajo') }}"> Cancelar</a>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}
</form>
