{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Bitácora de Producto' %}

{% block area_trabajo %}

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Fecha Movimiento</th>
            <th>Bodega</th>
            <th>Cantidad Movida</th>
            <th>Tipo Movimiento</th>
        </tr>
        </thead>
        <tbody>
        {% for bitacora in bitacora %}
            <tr style="text-align: center;">
                <td>{{ bitacora.fechaMovimiento | date('d/m/Y') }}</td>
                <td>{{ bitacora.almacen }}</td>
                <td>{{ bitacora.cantidadMovida }}</td>
                <td>{{ bitacora.tipoMovimiento }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No se encontraron registros de acciones para el producto seleccionado.</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ knp_pagination_render(bitacora) }}
            </div>
        </div>
    </div>

{% endblock %}
