{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title %}
    Modificar Datos del Producto
{% endblock %}

{% block titulo_encabezado %}
    Modificar Datos del Producto: "{{ entity.nombre }}"
{% endblock %}

{% block area_trabajo %}

    <div class="row">
        <div class="col-lg-12">
            {# Nav tabs #}
            <ul class="nav nav-tabs">
                <li class="active"><a href="#basicos" data-toggle="tab">Datos Básicos</a></li>
                <li><a href="#precios" data-toggle="tab">Precios</a></li>
                <li><a href="#costos" data-toggle="tab">Costos</a></li>
            </ul>

            {# Tab panes #}
            <div class="tab-content" style="padding-top: 20px;">
                <!-- TAB BASICOS-->
                <div class="tab-pane fade in active" id="basicos">
                    {% include '@BusetaBodega/Producto/form_template.html.twig' with {'form': edit_form} %}
                </div>

                <!-- TAB PRECIOS-->
                <div class="tab-pane fade" id="precios">
                    {# Precios #}
                </div>

                <!-- TAB COSTOS-->
                <div class="tab-pane fade" id="costos">
                    {# Costos #}
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

    {#
    <div class="modal" id="form_precios_modal"></div>
    #}

{% endblock area_trabajo %}

{% block javascripts %}
    {{ parent() }}

    <!-- Initialize script -->
    <script type="text/javascript">
        $(function (){
            // init producto
            producto._load();
        });
    </script>

    <script type="text/javascript">
        var button = {
            _disable: function (selector) {
                $(selector).addClass('disabled');
            },
            _enable: function (selector) {
                $(selector).removeClass('disabled');
            }
        };
        var tabs = {
            loadding_image: '<i class="fa fa-spinner fa-spin"></i>',
            _show_all_tabs: function() {
                tabs._show_tab('precios');
                tabs._show_tab('costos');
            },
            _show_tab: function (tabname) {
                $('li a[href="#' + tabname + '"]').parent().show();
            },
            _hide_tab: function () {
                $('li a[href="#' + tabname + '"]').parent().hide();
            },
            _add_loadding: function (tabname) {
                var linktab = $('li a[href="#' + tabname + '"]');
                linktab.prepend($(tabs.loadding_image));
            },
            _remove_loadding: function (tabname) {
                var spinning = $('li a[href="#' + tabname + '"]').find('i.fa.fa-spinner.fa-spin');
                spinning.remove();
            },
            _active: function (href) {
                $('li a[href="' + href + '"]').parent().addClass('active');
                $('div' + href).addClass('active').addClass('in');
            },
            _desactive: function (href) {
                $('li a[href="' + href + '"]').parent().removeClass('active');
                $('div' + href).removeClass('active').removeClass('in');
            }
        };
        var utils = {
            _fail: function (jqXHR, textStatus, errorThrown) {
                if(jqXHR.status == 500 && jqXHR.responseText.message != undefined) {
                    addGlobalMessage('danger', jqXHR.responseText.message);
                } else {
                    addGlobalMessage('danger', '{{ 'messages.unexpected_error' | trans({}, 'BusetaBodegaBundle') }}');
                }
            }
        };
        var progressBar = {
            _add_progressBar: function (name) {
                var progressBar = $('<div class="progress" id="' + name + '_progress_bar"></div>'),
                        bar = $('<div>')
                                .addClass('progress-bar')
                                .attr('role', 'progressbar')
                                .attr('aria-valuenow', 2)
                                .attr('aria-valuemin', 0)
                                .attr('aria-valuemax', 100)
                                .css('width', '2%')
                                .append($('<span class="sr-only"></span>'));

                progressBar.append(bar);

                $('#' + name).hide().parent().prepend(progressBar);
            },
            _remove_progressBar: function(name) {
                var progressBar = $('div#' + name + '_progress_bar');
                progressBar.slideUp(400, function () {
                    progressBar.remove();
                });
                $('#' + name).show();
            }
        };
    </script>

    <!-- Producto script -->
    <script type="text/javascript">
        var producto = {
            form_id: $('div#basicos').find('form').attr('id'),
            form_name: $('div#basicos').find('form').attr('name'),
            id: '',
            _load: function () {
                $('a#btn_producto_save').on('click', producto._save);

                producto.id = $('input[id="' + producto.form_id + '_id"]').val();
                if (producto.id === '' || producto.id === undefined) {
                    // hide all tabs on page load
                    $('a[data-toggle="tab"]').each(function(key, item) {
                        if($(item).attr('href') != '#basicos') {
                            $(item).parent().hide();
                        }
                    });
                } else {
                    tabs._show_all_tabs();
                }

                // on show tab events
                $('a[data-toggle="tab"]').unbind('show.bs.tab');
                $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                    var href = $(e.target).attr('href');
                    var relhref = $(e.relatedTarget).attr('href');

                    if (href === '#precios') {
                        precios._load();
                    }
                    if (href === '#costos') {
                        costos._load();
                    }

                });

                $('#{{ edit_form.grupo.vars.id }}').on('change', function () {
                    var data = {
                        grupo_id: $(this).val()
                    };

                    //Select dependientes entre Grupos y Subgrupos
                    $.ajax({
                        type: 'GET',
                        url: '{{ path("producto_ajax_grupos_subgrupos") }}',
                        data: data,
                        success: function(data) {
                            var values = $.parseJSON(data);
                            var $subgrupo_selector = $('#{{ edit_form.subgrupo.vars.id }}');

                            $subgrupo_selector.html('<option>---Seleccione---</option>');

                            for (var i=0, total = values.length; i < total; i++) {
                                $subgrupo_selector.append('<option value="' + values[i].id + '">' + values[i].valor + '</option>');
                            }
                        }
                    });
                });
            },
            _save: function (event) {
                if (event != undefined) {
                    event.preventDefault();
                }

                // disable btn
                button._disable('a#btn_producto_save');

                // add spinning to show loading process
                tabs._add_loadding('basicos');

                // Producto Id
                producto.id = $('input[id="' + producto.form_id + '_id"]').val();

                var productosForm    = $('form#' + producto.form_id),
                        url             = Routing.generate('productos_producto_create',{});
                if(producto.id !== '' && producto.id !== undefined) {
                    url = Routing.generate('productos_producto_update', {'id': producto.id});
                }

                productosForm.ajaxSubmit({
                    success: producto._done,
                    error: utils._fail,
                    complete: producto._always,
                    uploadProgress: producto._upload,
                    url: url,
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $('form#' + producto.form_id).replaceWith(response.view);

                if(jqXHR.status == 201 || jqXHR.status == 202) {
                    addGlobalMessage('success', response.message);
                }
                producto._load();
            },
            _always: function() {
                // remove spinning
                tabs._remove_loadding('basicos');
                // remove progress bar

                button._enable('a#btn_producto_save');
            },
            _upload: function (event, position, total, percentComplete) {
                var progressBarr = $('div#basicos').find('.progress-bar')[0];
                if (progressBarr !== undefined) {
                    $(progressBarr).css('width', percentComplete + '%');
                    $(progressBarr).find('span').html(percentComplete + '% Completado');
                }
            }
        };
    </script>

    <!-- Precios script -->
    <script type="text/javascript">
        var precios = {
            form_name: '',
            form_id: '',
            id: '',
            _start_events: function () {
                $('a[href="#form_precios_modal"]').on('click', precios._load_modal);
                // Paginator sort
                $('table.precios_records_list').find('a.sortable, a.asc, a.desc').on('click', precios._load);
                // Table addresses actions
                $('table.precios_records_list').find('a[href="#edit"]').on('click', precios._load_modal);
                $('table.precios_records_list').find('a[href="#delete"]').on('click', precios._load_delete_modal);
                // Paginator navigation
                $('div.precios-paginator.row ul.pagination').find('a.paginator-link').on('click', precios._load);

            },
            _load: function (event) {
                if(event !== undefined) {
                    event.preventDefault();
                }

                if (producto.id == '') {
                    return;
                }

                // add spinning to show loading process
                tabs._add_loadding('precios');

                var url = Routing.generate('producto_precios_list',{'producto': producto.id});
                if($(this).hasClass('sortable') || $(this).hasClass('desc') || $(this).hasClass('asc') || $(this).hasClass('paginator-link')) {
                    url = $(this).attr('href');
                }

                $.get(url).done(function (response, textStatus, jqXHR) {
                    $('div#precios').html(response);

                    precios._start_events();
                }).fail(utils._fail).always(precios._always);
            },
            _load_modal: function(event) {
                if(event !== undefined) {
                    event.preventDefault();
                }

                if(producto.id === '' || producto.id === undefined) {
                    return;
                }

                var url = Routing.generate('producto_precios_new_modal', {'producto': producto.id});
                if($(this).attr('href') !== undefined && $(this).attr('href') === '#edit') {
                    url = Routing.generate('producto_precios_edit_modal', {'producto': producto.id, id:$(this).data('content')});
                }

                $.get(url)
                        .done(function(response, textStatus, jqXHR){

                            $('div#form_precios_modal').replaceWith($(response.view));

                            precios.form_id = $('div#form_precios_modal').find('form').attr('id');
                            precios.form_name = $('div#form_precios_modal').find('form').attr('name');

                            //$('a#btn_precios_save').on('click', precios._save_modal);
                            $('a#btn_precios_save').on('click',  precios._save_modal);

                            $('a#btn_precios_cancel').on('click', function(){
                                $('div#form_precios_modal').modal('hide');
                            });

                            $('#' + precios.form_id + '_fechaInicio').datetimepicker({
                                'format': 'DD/MM/YYYY'
                            });

                            var fechaInicio = $('#' + precios.form_id + '_fechaInicio').val();
                            $('input:hidden[name^="data_busqueda_movimiento_producto_type[fechaInicio]_submit"]').val(fechaInicio);

                            $('#' + precios.form_id + '_fechaFin').datetimepicker({
                                'format': 'DD/MM/YYYY'
                            });

                            var fechaFin = $('#' + precios.form_id + '_fechaFin').val();
                            $('input:hidden[name^="data_busqueda_movimiento_producto_type[fechaFin]_submit"]').val(fechaFin);

                            $('#' + precios.form_id + '_fechaInicio').on("dp.change", function (e) {
                                $('#' + precios.form_id + '_fechaFin').data("DateTimePicker").setMinDate(e.date);
                            });
                            $('#' + precios.form_id + '_fechaFin').on("dp.change", function (e) {
                                $('#' + precios.form_id + '_fechaInicio').data("DateTimePicker").setMaxDate(e.date);
                            });

                            $('div#form_precios_modal').modal('show');
                        }).fail(utils._fail).always(function(){});
            },
            _load_delete_modal: function(event) {
                if(event !== undefined) {
                    event.preventDefault();
                }

                if(producto.id === '' || producto.id === undefined) {
                    return;
                }

                var id  = $(this).data('content'),
                        url = Routing.generate('producto_precios_delete', {id: id});
                $.get(url)
                        .done(function(response, textStatus, jqXHR){
                            $('div#form_precios_delete_modal').replaceWith($(response.view));

                            $('div#form_precios_delete_modal a#btn_precios_delete').on('click', precios._save_delete_modal);
                            $('div#form_precios_delete_modal a#btn_precios_cancel').on('click', function(){
                                $('div#form_precios_delete_modal').modal('hide');
                            });

                            $('div#form_precios_delete_modal').modal('show');
                        }).fail(utils._fail).always(function(){});
            },
            _save_modal: function (event) {

                if(event != undefined) {
                    event.preventDefault();
                }

                $('#btn_precios_save').find('span')
                        .removeClass('glyphicon')
                        .removeClass('glyphicon-save')
                        .addClass('fa')
                        .addClass('fa-gear')
                        .addClass('fa-spin');

                var url = Routing.generate('producto_precios_new_modal',{'producto': producto.id}),
                        id  = $('#' + precios.form_id + '_id').val();
                if(id !== '' && id !== undefined) {
                    url = Routing.generate('producto_precios_edit_modal',{'producto': producto.id, id: id});
                }

                $('form#' + precios.form_id).ajaxSubmit({
                    success: precios._done,
                    error: utils._fail,
                    complete: precios._always,
                    url: url,
                    dataType: 'json'
                });
            },
            _save_delete_modal: function (event) {
                if(event != undefined) {
                    event.preventDefault();
                }

                $('#btn_precios_delete').find('span')
                        .removeClass('glyphicon')
                        .removeClass('glyphicon-trash')
                        .addClass('fa')
                        .addClass('fa-gear')
                        .addClass('fa-spin');

                var deleteForm = $('div#form_precios_delete_modal').find('form'),
                        url = $(deleteForm).attr('action');

                deleteForm.ajaxSubmit({
                    success: function (response, textStatus, jqXHR) {
                        if(jqXHR.status == 202) {
                            addGlobalMessage('success', response.message);
                        }
                        $('div#form_precios_delete_modal').modal('hide');
                        precios._load();
                    },
                    error: utils._fail,
                    complete: precios._always,
                    url: url,
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $('form#' + precios.form_id).replaceWith($(response.view).find('form'));

                if(jqXHR.status == 201 || jqXHR.status == 202) {
                    addGlobalMessage('success', response.message);

                    $('div#form_precios_modal').modal('hide');
                    precios._load();
                }
            },
            _always: function(jqXHR, textStatus) {
                // remove spinning
                tabs._remove_loadding('precios');
                $('a[id^="btn_precios_"]').find('span')
                        .addClass('glyphicon')
                        .addClass('glyphicon-save')
                        .removeClass('fa')
                        .removeClass('fa-gear')
                        .removeClass('fa-spin');
            }
        };
    </script>

    <!-- Costos script -->
    <script type="text/javascript">
        var costos = {
            form_name: '',
            form_id: '',
            id: '',
            _start_events: function () {
                $('a[href="#form_costos_modal"]').on('click', costos._load_modal);
                // Paginator sort
                $('table.costos_records_list').find('a.sortable, a.asc, a.desc').on('click', costos._load);
                // Table addresses actions
                $('table.costos_records_list').find('a[href="#edit"]').on('click', costos._load_modal);
                $('table.costos_records_list').find('a[href="#delete"]').on('click', costos._load_delete_modal);
                // Paginator navigation
                $('div.costos-paginator.row ul.pagination').find('a.paginator-link').on('click', costos._load);

            },
            _load: function (event) {
                if(event !== undefined) {
                    event.preventDefault();
                }

                if (producto.id == '') {
                    return;
                }

                // add spinning to show loading process
                tabs._add_loadding('costos');

                var url = Routing.generate('producto_costos_list',{'producto': producto.id});
                if($(this).hasClass('sortable') || $(this).hasClass('desc') || $(this).hasClass('asc') || $(this).hasClass('paginator-link')) {
                    url = $(this).attr('href');
                }

                $.get(url).done(function (response, textStatus, jqXHR) {
                    $('div#costos').html(response);

                    costos._start_events();
                }).fail(utils._fail).always(costos._always);
            },
            _load_modal: function(event) {
                if(event !== undefined) {
                    event.preventDefault();
                }

                if(producto.id === '' || producto.id === undefined) {
                    return;
                }

                var url = Routing.generate('producto_costos_new_modal', {'producto': producto.id});
                if($(this).attr('href') !== undefined && $(this).attr('href') === '#edit') {
                    url = Routing.generate('producto_costos_edit_modal', {'producto': producto.id, id:$(this).data('content')});
                }

                $.get(url)
                        .done(function(response, textStatus, jqXHR){

                            $('div#form_costos_modal').replaceWith($(response.view));

                            costos.form_id = $('div#form_costos_modal').find('form').attr('id');
                            costos.form_name = $('div#form_costos_modal').find('form').attr('name');

                            //$('a#btn_costos_save').on('click', costos._save_modal);
                            $('a#btn_costos_save').on('click',  costos._save_modal);

                            $('a#btn_costos_cancel').on('click', function(){
                                $('div#form_costos_modal').modal('hide');
                            });

                            $('#' + costos.form_id + '_fechaInicio').datetimepicker({
                                'format': 'DD/MM/YYYY'
                            });

                            var fechaInicio = $('#' + costos.form_id + '_fechaInicio').val();
                            $('input:hidden[name^="data_busqueda_movimiento_producto_type[fechaInicio]_submit"]').val(fechaInicio);

                            $('#' + costos.form_id + '_fechaFin').datetimepicker({
                                'format': 'DD/MM/YYYY'
                            });

                            var fechaFin = $('#' + costos.form_id + '_fechaFin').val();
                            $('input:hidden[name^="data_busqueda_movimiento_producto_type[fechaFin]_submit"]').val(fechaFin);

                            $('#' + costos.form_id + '_fechaInicio').on("dp.change", function (e) {
                                $('#' + costos.form_id + '_fechaFin').data("DateTimePicker").setMinDate(e.date);
                            });
                            $('#' + costos.form_id + '_fechaFin').on("dp.change", function (e) {
                                $('#' + costos.form_id + '_fechaInicio').data("DateTimePicker").setMaxDate(e.date);
                            });


                            $('div#form_costos_modal').modal('show');
                        }).fail(utils._fail).always(function(){});
            },
            _load_delete_modal: function(event) {
                if(event !== undefined) {
                    event.preventDefault();
                }

                if(producto.id === '' || producto.id === undefined) {
                    return;
                }

                var id  = $(this).data('content'),
                        url = Routing.generate('producto_costos_delete', {id: id});
                $.get(url)
                        .done(function(response, textStatus, jqXHR){
                            $('div#form_costos_delete_modal').replaceWith($(response.view));

                            $('div#form_costos_delete_modal a#btn_costos_delete').on('click', costos._save_delete_modal);
                            $('div#form_costos_delete_modal a#btn_costos_cancel').on('click', function(){
                                $('div#form_costos_delete_modal').modal('hide');
                            });

                            $('div#form_costos_delete_modal').modal('show');
                        }).fail(utils._fail).always(function(){});
            },
            _save_modal: function (event) {

                if(event != undefined) {
                    event.preventDefault();
                }

                $('#btn_costos_save').find('span')
                        .removeClass('glyphicon')
                        .removeClass('glyphicon-save')
                        .addClass('fa')
                        .addClass('fa-gear')
                        .addClass('fa-spin');

                var url = Routing.generate('producto_costos_new_modal',{'producto': producto.id}),
                        id  = $('#' + costos.form_id + '_id').val();
                if(id !== '' && id !== undefined) {
                    url = Routing.generate('producto_costos_edit_modal',{'producto': producto.id, id: id});
                }

                $('form#' + costos.form_id).ajaxSubmit({
                    success: costos._done,
                    error: utils._fail,
                    complete: costos._always,
                    url: url,
                    dataType: 'json'
                });
            },
            _save_delete_modal: function (event) {
                if(event != undefined) {
                    event.preventDefault();
                }

                $('#btn_costos_delete').find('span')
                        .removeClass('glyphicon')
                        .removeClass('glyphicon-trash')
                        .addClass('fa')
                        .addClass('fa-gear')
                        .addClass('fa-spin');

                var deleteForm = $('div#form_costos_delete_modal').find('form'),
                        url = $(deleteForm).attr('action');

                deleteForm.ajaxSubmit({
                    success: function (response, textStatus, jqXHR) {
                        if(jqXHR.status == 202) {
                            addGlobalMessage('success', response.message);
                        }
                        $('div#form_costos_delete_modal').modal('hide');
                        costos._load();
                    },
                    error: utils._fail,
                    complete: costos._always,
                    url: url,
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $('form#' + costos.form_id).replaceWith($(response.view).find('form'));

                if(jqXHR.status == 201 || jqXHR.status == 202) {
                    addGlobalMessage('success', response.message);

                    $('div#form_costos_modal').modal('hide');
                    costos._load();
                }
            },
            _always: function(jqXHR, textStatus) {
                // remove spinning
                tabs._remove_loadding('costos');
                $('a[id^="btn_costos_"]').find('span')
                        .addClass('glyphicon')
                        .addClass('glyphicon-save')
                        .removeClass('fa')
                        .removeClass('fa-gear')
                        .removeClass('fa-spin');
            }
        };
    </script>

{% endblock javascripts %}
