{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title %}
    Modificar Datos del Producto
{% endblock %}

{% block titulo_encabezado %}
    Modificar Datos del Producto: "{{ entity.nombre }}"
{% endblock %}

{% block area_trabajo %}

    <div class="row">
        <div class="col-lg-12">
            {# Nav tabs #}
            <ul class="nav nav-tabs">
                <li class="active"><a href="#basicos" data-toggle="tab">Datos Básicos</a></li>
                {#<li><a href="#precios" data-toggle="tab">Precios</a></li>#}
                <li><a href="#costos" data-toggle="tab">Costos</a></li>
            </ul>

            {# Tab panes #}
            <div class="tab-content" style="padding-top: 20px;">
                <!-- TAB BASICOS-->
                <div class="tab-pane fade in active" id="basicos">
                    {% include '@BusetaBodega/Producto/form_template.html.twig' with {'form': edit_form} %}
                </div>

                <!-- TAB COSTOS-->
                <div class="tab-pane fade" id="costos">
                    {# Costos #}
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

    {#
    <div class="modal" id="form_precios_modal"></div>
    #}

{% endblock area_trabajo %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var button = {
            _disable: function (selector) {
                $(selector).addClass('disabled');
            },
            _enable: function (selector) {
                $(selector).removeClass('disabled');
            }
        };
        var tabs = {
            loadding_image: '<i class="fa fa-spinner fa-spin"></i>',
            _show_all_tabs: function() {
                tabs._show_tab('precios');
                tabs._show_tab('costos');
            },
            _show_tab: function (tabname) {
                $('li a[href="#' + tabname + '"]').parent().show();
            },
            _hide_tab: function () {
                $('li a[href="#' + tabname + '"]').parent().hide();
            },
            _add_loadding: function (tabname) {
                var linktab = $('li a[href="#' + tabname + '"]');
                linktab.prepend($(tabs.loadding_image));
            },
            _remove_loadding: function (tabname) {
                var spinning = $('li a[href="#' + tabname + '"]').find('i.fa.fa-spinner.fa-spin');
                spinning.remove();
            },
            _active: function (href) {
                $('li a[href="' + href + '"]').parent().addClass('active');
                $('div' + href).addClass('active').addClass('in');
            },
            _desactive: function (href) {
                $('li a[href="' + href + '"]').parent().removeClass('active');
                $('div' + href).removeClass('active').removeClass('in');
            }
        };
        var utils = {
            _fail: function (jqXHR, textStatus, errorThrown) {
                if(jqXHR.status == 500 && jqXHR.responseText.message != undefined) {
                    $btalerts.addDanger(jqXHR.responseText.message);
                } else {
                    $btalerts.addDanger('{{ 'messages.unexpected_error' | trans({}, 'BusetaBodegaBundle') }}');
                }
            }
        };
        var progressBar = {
            _add_progressBar: function (name) {
                var progressBar = $('<div class="progress" id="' + name + '_progress_bar"></div>'),
                        bar = $('<div>')
                                .addClass('progress-bar')
                                .attr('role', 'progressbar')
                                .attr('aria-valuenow', 2)
                                .attr('aria-valuemin', 0)
                                .attr('aria-valuemax', 100)
                                .css('width', '2%')
                                .append($('<span class="sr-only"></span>'));

                progressBar.append(bar);

                $('#' + name).hide().parent().prepend(progressBar);
            },
            _remove_progressBar: function(name) {
                var progressBar = $('div#' + name + '_progress_bar');
                progressBar.slideUp(400, function () {
                    progressBar.remove();
                });
                $('#' + name).show();
            }
        };
    </script>
    <!-- Producto script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabodega/js/producto/producto.js') }}"></script>
    <!-- Precios script -->
    {#<script type="text/javascript" src="{{ asset('bundles/busetabodega/js/producto/precios.js') }}"></script>#}
    <!-- Costos script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabodega/js/producto/costos.js') }}"></script>

    <!-- Initialize script -->
    <script type="text/javascript">
        $(function (){
            // init producto
            producto._load();
        });
    </script>
{% endblock javascripts %}
