{% form_theme form '@BusetaBodega/Form/fields.twig' %}

<form id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" action="{{ form.vars.action }}" method="POST" enctype="multipart/form-data">
    {% if form.vars.method == 'PUT' %}
        <input type="hidden" name="_method" value="PUT"/>
    {% endif %}
    {{ form_errors(form) }}
    {{ form_row(form.id) }}
    {{ form_row(form._token) }}

    <div class="row show-grid">
        <div class="col-md-4">
            {{ form_row(form.nombre) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.codigo) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.uom) }}
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.bodega) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.minimo_bodega) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.maximo_bodega) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.grupos) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.subgrupos) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.categoriaProducto) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.condicion) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-lg-4">
                {{ form_row(form.activo) }}
            </div>
        </div>
    </div>    

    {# buttons group #}
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" id="btn_producto_save" href="#"><span class="glyphicon glyphicon-save"></span>
                {{ 'actions.save' | trans({}, 'BusetaBodegaBundle') }}</a>
            <a class="btn btn-default" id="btn_producto_cancel" href="{{ path('producto') }}"><span class="glyphicon glyphicon-chevron-left"></span>
                {{ 'actions.cancel' | trans({}, 'BusetaBodegaBundle') }}</a>
        </div>
    </div>
</form>
