{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Listado de productos
{% endblock %}

{% block titulo_encabezado %}
    Listados de productos
{% endblock %}

{% block area_trabajo %}

    <h4><a id="busqueda_producto" style="cursor: pointer; "><i class="icon-chevron-down"></i> Búsqueda de Productos</a></h4>
    <div id="busqueda_producto_div" class="panel panel-default" style="display: none;">
        <div class="panel-body">
            <fieldset>
                {{ form_start(producto) }}
                <div class="row show-grid" style="padding-top: 0px">
                    <div class="col-md-4">
                        {{ form_row(producto.codigo) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(producto.nombre) }}
                    </div>
                </div>
                <div class="row show-grid" style="padding-top: 0px">
                    <div class="col-md-4">
                        {{ form_row(producto.uom) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(producto.condicion) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(producto.bodega) }}
                    </div>
                </div>

                {{ form_end(producto) }}

                <div class="row show-grid">
                    <div class="col-md-6">
                        <input class="btn btn-primary btn-bg" style="width: 100px;" value="Buscar" name="buscar" onclick="setFilters()">

                        <div class="btn-group">
                            <a class="btn btn-success btn-bg" href="{{ path('producto') }}"><i class="fa fa-search"> Reiniciar Búsqueda</i></a>
                        </div>
                    </div>
                </div>


            </fieldset>
        </div>
    </div>

    <div class="btn-group" style="padding-bottom: 8px;">
        <a class="btn btn-primary" href="{{ path('producto_new') }}"><i class="fa fa-plus-circle"></i> Adicionar Producto</a>
    </div>
    <div class="productos-result-table" style="text-align: center;"> </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{asset('vendors/busquedaProducto.js')}}" type="text/javascript"></script>

{% endblock %}

