{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block title %}
    Datos del Producto
{% endblock %}

{% block titulo_encabezado %}
    Datos del Producto: "{{ entity.nombre }}"
{% endblock %}

{% block area_trabajo %}

    <table class="table table-striped" style="font-size: 16px;">
    <tbody>

    <tr>
        <th>Nombre</th>
        <td>{{ entity.nombre }}</td>
    </tr>
    <tr>
        <th>Proveedor</th>
        <td>{{ entity.proveedor }}</td>
    </tr>
    <tr>
        <th>Código</th>
        <td>{{ entity.codigo }}</td>
    </tr>
    <tr>
        <th>Unidad de medida (U/M)</th>
        <td>{{ entity.uom }}</td>
    </tr>
    <tr>
        <th>Categoría de Producto</th>
        <td>{{ entity.categoriaProducto }}</td>
    </tr>
    <tr>
        <th>Grupo</th>
        <td>{{ entity.grupo }}</td>
    </tr>
    <tr>
        <th>Subgrupo</th>
        <td>{{ entity.subgrupo }}</td>
    </tr>
    <tr>
        <th>Condición</th>
        <td>{{ entity.condicion }}</td>
    </tr>

    <tr>
        <th>Costos existentes</th>
        <td>
            <table class="table table-striped" style="font-size: 16px;">
                <th>Costo</th>
                <th>Proveedor</th>
                <th>Activo</th>

                {% for costo in entity.costoproducto %}
                <tbody>
                <tr>
                    <td>{{ costo.costo }}</td>
                    <td>{{ costo.proveedor }}</td>
                    <td>
                        {% if costo.activo %}
                            Sí
                        {% else %}
                            No
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="6">
                            <span class="label label-danger">No existen líneas de costos de productos disponibles</span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>

    <tr>
        <th>Activo</th>
        <td>
            {% if entity.activo == 1 %}
                Sí
            {% else %}
                No
            {% endif %}
        </td>
    </tr>

    </tbody>
    </table>

    <div class="form-actions">
        <a class="btn btn-primary" href="{{ path('producto_edit', { 'id': entity.id }) }}"> Editar</a>
        <a class="btn btn-primary" href="{{ path('producto') }}"> Listado</a>
        {#<a href="#delete" data-href="{{ path('producto_delete', {'id': entity.id}) }}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> {{ 'actions.delete' | trans({}, 'BusetaBodegaBundle') }}</a>#}
        <a class="btn btn-primary" href="{{ path('producto_bitacora', { 'id': entity.id }) }}"> Bitácora</a>
    </div>

    {% include 'BusetaBodegaBundle:Producto:delete_modal.html.twig' with { 'form' : delete_form, 'entity' : entity } %}

{% endblock %}

{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var productodeleteevent = new DeleteEvent('{{ path('producto') }}', 'div#producto_records_list', false);
        productodeleteevent.start_events();
    </script>
{% endblock %}

