{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Listado de pedidos de compras pendientes
{% endblock %}

{% block titulo_encabezado %}
    Listado de pedidos de compras pendientes
{% endblock %}

{% block area_trabajo %}

    <h4><a id="busqueda_pedidoCompra" style="cursor: pointer; "><i class="icon-chevron-down"></i> Búsqueda de Pedidos de Compras</a></h4>
    <div id="busqueda_pedidoCompra_div" class="panel panel-default" style="display: none;">
        <div class="panel-body">
            <fieldset>
                {{ form_start(pedidoCompra) }}
                <div class="row show-grid" style="padding-top: 0px">
                    <div class="col-md-4">
                        {{ form_row(pedidoCompra.numero_documento) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(pedidoCompra.tercero) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(pedidoCompra.almacen) }}
                    </div>
                </div>
                <div class="row show-grid" style="padding-top: 0px">
                    <div class="col-md-4">
                        {{ form_row(pedidoCompra.moneda) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(pedidoCompra.forma_pago) }}
                    </div>
                    {#<div class="col-md-4">
                        {{ form_row(pedidoCompra.estado_documento) }}
                    </div>#}
                </div>
                <div class="row show-grid" style="padding-top: 0px">
                    <div class="col-md-4">
                        {{ form_row(pedidoCompra.condiciones_pago) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(pedidoCompra.importe_total_lineas) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(pedidoCompra.importe_total) }}
                    </div>
                </div>

                {{ form_end(pedidoCompra) }}

                <div class="row show-grid">
                    <div class="col-md-6">
                        <input class="btn btn-primary btn-bg" style="width: 100px;" value="Buscar" name="buscar" onclick="setFilters()">

                        <div class="btn-group">
                            <a class="btn btn-success btn-bg" href="{{ path('pedidocompra') }}"><i class="fa fa-search"> Reiniciar Búsqueda</i></a>
                        </div>
                    </div>
                </div>


            </fieldset>
        </div>
    </div>

    <div class="btn-group" style="padding-bottom: 8px;">
        <a class="btn btn-primary" href="{{ path('pedidocompra_new') }}"><i class="fa fa-plus-circle"></i> Adicionar Pedido de Compra</a>
    </div>
    <div class="pedidoCompras-result-table" style="text-align: center;"> </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{asset('vendors/busquedaPedidoCompra.js')}}" type="text/javascript"></script>

{% endblock %}