{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Ver Datos de Registro de Compra' %}

{% block area_trabajo %}

    <table class="table table-striped" style="font-size: 16px;">
        <tbody>

            <tr>
                <th>Nro.Documento</th>
                <td>{{ entity.numerodocumento }}</td>
            </tr>

            <tr>
                <th>Nro.Referencia</th>
                <td>{{ entity.consecutivocompra }}</td>
            </tr>

            <tr>
                <th>Fecha Pedido</th>
                <td>{{ entity.fechapedido | date('d/m/Y') }}</td>
            </tr>

            <tr>
                <th>Bodega</th>
                <td>{{ entity.almacen }}</td>
            </tr>

            <tr>
                <th>Forma de Pago</th>
                <td>{{ entity.formapago }}</td>
            </tr>

            <tr>
                <th>Condiciones de Pago</th>
                <td>{{ entity.condicionespago }}</td>
            </tr>

            <tr>
                <th>Moneda</th>
                <td>{{ entity.moneda }}</td>
            </tr>

            <tr>
                <th>Importe Compra</th>
                <td>{{ entity.importeCompra }}</td>
            </tr>

            <tr>
                <th>Importe Total Líneas</th>
                <td>{{ entity.importetotallineas }}</td>
            </tr>

            <tr>
                <th>Importe Total</th>
                <td>{{ entity.importetotal }}</td>
            </tr>

            <tr>
                <th>Nombre del Proveedor</th>
                <td>{{ entity.tercero.nombres }} {{ entity.tercero.apellidos }}</td>
            </tr>

            <tr>
                <th>Estado Documento</th>
                <td>{{ ('estado.'~entity.estadodocumento) | trans({}, 'BusetaTallerBundle') }}</td>
            </tr>

            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones }}</td>
            </tr>

            <tr>
                <th>Líneas existentes</th>
                <td>
                    <table class="table table-striped" style="font-size: 16px;">
                        <th>Línea</th>
                        <th>Producto</th>
                        <th>Cant. Pedido</th>
                        <th>UOM</th>
                        <th>Precio Unitario</th>
                        <th>Impuesto</th>
                        <th>%Descuento</th>
                        <th>Importe Línea</th>

                        {% for linea in entity.pedidocompralineas %}
                        <tbody>
                            <tr>
                                <td>{{ linea.linea }}</td>
                                <td>{{ linea.producto.nombre }}</td>
                                <td>{{ linea.cantidadpedido }}</td>
                                <td>{{ linea.uom.valor }}</td>
                                <td>{{ linea.preciounitario }}</td>
                                <td>{{ linea.impuesto ? linea.impuesto.nombre : '-' }}</td>
                                <td>{{ linea.porcientodescuento }}</td>
                                <td>{{ linea.importelinea }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">
                                    <span class="label label-danger">No existen líneas de registros de compras disponibles</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-actions">
        {% if entity.estadodocumento == 'BO' %}
            <a class="btn btn-primary" href="{{ path('pedidocompra_edit', { 'id': entity.id }) }}"> Editar</a>
        {% endif %}
        {% if entity.estadodocumento == 'PR' %}
            <a class="btn btn-primary" href="{{ path('completarRegistro', { 'id': entity.id }) }}"> Completar Proceso</a>
        {% elseif entity.estadodocumento == 'BO' %}
            <a class="btn btn-primary" href="{{ path('procesarRegistro', { 'id': entity.id }) }}"> Procesar</a>
        {% endif %}
        <a class="btn btn-primary" href="{{ path('pedidocompra') }}"> Listado</a>

        {% if entity.estadodocumento == 'BO' %}
            <a href="#delete" data-href="{{ path('pedidocompra_delete', {'id': entity.id}) }}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> {{ 'actions.delete' | trans({}, 'BusetaBodegaBundle') }}</a>
        {% endif %}
    </div>

    {% include 'BusetaBodegaBundle:PedidoCompra:delete_modal.html.twig' with { 'form' : delete_form, 'entity' : entity } %}

{% endblock %}

{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if entity.estadodocumento == 'BO' %}
        <script type="text/javascript">
            var pedidocompradeleteevent = new DeleteEvent('{{ path('pedidocompra') }}', 'div#pedidocompra_records_list', false);
            pedidocompradeleteevent.start_events();
        </script>
    {% endif %}
{% endblock %}

