{% extends '@HatueySoftSecurity/layout.html.twig' %}

{% block title block('header') ~ entity|capitalize  %}

{% block header 'Modificar Lista Control de Acceso para entidad' %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Usuarios</h3>
        </div>
        <table id="acl_users_list" class="table table-hover table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th style="width: 20%;">Permisos</th>
            </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr data-content="{{ u.username }}" data-target="users">
                    <td class="col-md-2">{{ u.username }}</td>
                    <td class="col-md-4">{{ u.nombreCompleto }}</td>
                    <td class="col-md-6">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" title="CREATE" data-content="CREATE">
                                <span class="glyphicon glyphicon-plus"></span></a>
                            <a href="#" class="btn btn-primary" title="VIEW" data-content="VIEW">
                                <span class="glyphicon glyphicon-eye-open"></span></a>
                            <a href="#" class="btn btn-primary" title="EDIT" data-content="EDIT">
                                <span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="#" class="btn btn-primary" title="DELETE" data-content="DELETE">
                                <span class="glyphicon glyphicon-trash"></span></a>
                            <a href="#" class="btn btn-primary" title="SEARCH" data-content="SEARCH">
                                <span class="glyphicon glyphicon-search"></span></a>
                            <a href="#" class="btn btn-primary" title="LIST" data-content="LIST">
                                <span class="glyphicon glyphicon-list"></span></a>

                            {#A PARTIR DE AQUI LOS PERMISOS ESPECIFICOS QUE CADA ENTIDAD DEFINA#}
                            {% for a in allExtraRules %}
                                <a href="#" class="btn btn-primary" title="{{ a | upper }}" data-content="{{ a | upper }}">
                                    <span class="glyphicon glyphicon-edit"></span></a>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="8">No se encontraron elementos que mostrar.</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Roles</h3>
        </div>
        <table id="acl_roles_list" class="table table-hover table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>Rol</th>
                <th style="width: 20%;">Permisos</th>
            </tr>
            </thead>
            <tbody>
            {% for r in roles %}
                <tr data-content="{{ r }}" data-target="roles">
                    <td  class="col-md-6">{{ r }}</td>
                    <td  class="col-md-6">
                        <div class="btn-group">
                            {#ESTOS SON LOS ESTANDARES#}
                            <a href="#" class="btn btn-primary" title="CREATE" data-content="CREATE">
                                <span class="glyphicon glyphicon-plus"></span></a>
                            <a href="#" class="btn btn-primary" title="VIEW" data-content="VIEW">
                                <span class="glyphicon glyphicon-eye-open"></span></a>
                            <a href="#" class="btn btn-primary" title="EDIT" data-content="EDIT">
                                <span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="#" class="btn btn-primary" title="DELETE" data-content="DELETE">
                                <span class="glyphicon glyphicon-trash"></span></a>
                            <a href="#" class="btn btn-primary" title="SEARCH" data-content="SEARCH">
                                <span class="glyphicon glyphicon-search"></span></a>
                            <a href="#" class="btn btn-primary" title="LIST" data-content="LIST">
                                <span class="glyphicon glyphicon-list"></span></a>

                            {#A PARTIR DE AQUI LOS PERMISOS ESPECIFICOS QUE CADA ENTIDAD DEFINA#}
                            {% for a in allExtraRules %}
                            <a href="#" class="btn btn-primary" title="{{ a | upper }}" data-content="{{ a | upper }}">
                                <span class="glyphicon glyphicon-edit"></span></a>
                            {% endfor %}

                        </div>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="8">No se encontraron elementos que mostrar.</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}

{% block javascripts %}
    <script type="text/javascript">
        var $users_rules = {{ users_rules|raw }};
        var $roles_rules = {{ roles_rules|raw }};
        var $entity      = '{{ entity }}';

        $(function(){
            $('table#acl_roles_list tbody tr').each(function(key, value) {
                var content = $(value).data('content');

                setacl(content, $roles_rules[content]);
            });

            $('table#acl_users_list tbody tr').each(function(key, value) {
                var content = $(value).data('content');

                setacl(content, $users_rules[content]);
            });


            //cuando doyt click en un boton
            $('div.btn-group a.btn.btn-primary').on('click', function(event){
                event.preventDefault();

                var content = $(this).parent().parent().parent().data('content');   //el (rol o usuario) especifico, ej: rei , ROLE_SOLICITUD
                var target  = $(this).parent().parent().parent().data('target');    //si es roles o es users
                var action  = $(this).data('content');  //si es CREATE, VIEW, EDIT, LIST, PROCESAR etc

                //mando a cambiar el permiso especifico del usuario en la entidad
                toggleacl(target, content, action);
            })
        });

        function setacl(content, rules) {
            if (rules == undefined) {
                rules = [];
            }

            $('tr[data-content="' + content +'"] div.btn-group a').each(function(key, value) {
                var action = $(value).data('content');
                if ($.inArray(action, rules) != -1) {
                    $(value).removeClass('disabled');
                } else {
                    $(value).addClass('disabled');
                    $(value).css({
                        "cursor": "pointer",
                        "pointer-events": "auto"
                    });
                }
            });
        }

        function toggleacl(target, content, action) {
            // bloqueando la interfaz
//            $('table[id="acl_' + target + '_list"]').block();

            $.ajax({
                url: Routing.generate('aclrules_toggle',{'entity': $entity }),
                data: {
                    target: target,
                    content: content,
                    action: action
                }
            }).done(function(response){
                var value = 'tr[data-content="'+ content +'"] div.btn-group a.btn.btn-primary[data-content="'+ action +'"]';

                if($(value).hasClass('disabled')) {
                    $(value).removeClass('disabled')
                } else {
                    $(value).addClass('disabled');
                    $(value).css({
                        "cursor": "pointer",
                        "pointer-events": "auto"
                    });
                }
                // desbloqueando la interfaz
//                $('table[id="acl_' + target + '_list"]').unblock();
            })
        }

        //$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    </script>
{% endblock javascripts %}
