{% extends "BusetaBusesBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Cambio de Fecha del Sistema' %}

{% block area_trabajo %}

    <form action="{{ path('fecha_sistema_edit') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form._token) }}

        <div class="row">
            <div class="col-md-2">
                {{ form_row(form.fecha) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.activo) }}
            </div>
        </div>

        <br/>

        {# buttons group #}
        <div class="row">
            <div class="col-md-4">
                <input type="submit" class="btn btn-primary" value="Salvar" />
            </div>
        </div>

    </form>

{% endblock area_trabajo %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){

            var horaSistema = $('#buseta_corebundle_fechasistematype_fecha').datetimepicker({
                today: 'Hoy',
                format: 'DD/MM/YYYY',
                formatSubmit: 'DD/MM/YYYY'
            });

            var horaSistema = $('#buseta_corebundle_fechasistematype_fecha').val();
            $('input:hidden[name^="buseta_corebundle_fechasistematype[fecha]_submit"]').val(horaSistema);

        });
    </script>
{% endblock %}
