{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Modificar Salida de Bodega' %}

{% block area_trabajo %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#basicos" data-toggle="tab">Datos Básicos</a></li>
        <li><a href="#lineas" data-toggle="tab">Líneas de Productos</a></li>
    </ul>

    {# Tab panes #}
    <div class="tab-content" style="padding-top: 20px;">
        <!-- TAB BASICOS-->
        <div class="tab-pane fade in active" id="basicos">
            {% include 'BusetaBodegaBundle:SalidaBodega:form_template.html.twig' with {'form': edit_form} %}
            <div id="actions" style="margin-bottom: 20px;margin-left: 15px;">

                {% if entity.estadodocumento == 'PR' %}
                    <a class="btn btn-primary" href="{{ path('completarSalidaBodega', { 'id': entity.id }) }}"> Completar Proceso</a>
                {% elseif entity.estadodocumento == 'BO' %}
                    <a class="btn btn-primary" href="{{ path('procesarSalidaBodega', { 'id': entity.id }) }}"> Procesar</a>
                {% endif %}
                <a class="btn btn-primary" href="{{ path('salidabodega') }}"> Listado</a>
            </div>
        </div>

        <!-- TAB LINEAS DE PRODUCTOS-->
        <div class="tab-pane fade" id="lineas"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            salidabodega._load();
        }).ajaxStart(function () {
            $('.btn.btn-primary')
                    .addClass('disabled');

        }).ajaxStop(function () {
            $('.btn.btn-primary')
                    .removeClass('disabled');
        });

    </script>
    <!-- Salidas de Bodegas -->
    <script type="text/javascript">
        var salidabodega = {
            tabname: 'basicos',
            form_id: $('div#basicos').find('form').attr('id'),
            form_name: $('div#basicos').find('form').attr('name'),
            id: '',
            _load: function () {
                $('a#btn_salidabodega_save').on('click', salidabodega._save);

                salidabodega.id = $('input[id="' + salidabodega.form_id + '_id"]').val();
                if (salidabodega.id === '' || salidabodega.id === undefined) {
                    // hide all tabs on page load
                    $('a[data-toggle="tab"]').each(function(key, item) {
                        if($(item).attr('href') != '#basicos') {
                            $(item).parent().hide();
                        }
                    });
                } else {
                    tabs._show_all_tabs();
                }

                // remove all assigned events
                $('a[data-toggle="tab"]').unbind();
                // on show tab events
                $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                    var href = $(e.target).attr('href');

                    if (href === '#lineas') {
                        lineas._load();
                    }
                });

                $('#buseta_bodegabundle_salida_bodega_fecha').datetimepicker({
                    'format': 'DD/MM/YYYY'
                });
                $('#buseta_bodegabundle_salida_bodega_almacenOrigen').chosen();
                $('#buseta_bodegabundle_salida_bodega_almacenDestino').chosen();
                $('#buseta_bodegabundle_salida_bodega_orden_trabajo').chosen();
                $('#buseta_bodegabundle_salida_bodega_centro_costo').chosen();
                $('#buseta_bodegabundle_salida_bodega_tipo_ot').chosen();
                $('#buseta_bodegabundle_salida_bodega_responsable').chosen();
            },

            _save: function (e) {
                if (e !== undefined) {
                    e.preventDefault();
                }

                // add spinning to show loading process
                tabs._add_loadding(salidabodega.tabname);

                var salidaForm = $('form#' + salidabodega.form_id);

                salidaForm.ajaxSubmit({
                    success: salidabodega._done,
                    error: utils._fail,
                    complete: salidabodega._always,
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $('form#' + salidabodega.form_id).replaceWith($(response.view).find('form#' + salidabodega.form_id));

                if(jqXHR.status == 201 || jqXHR.status == 202) {
                    $btalerts.addSuccess(response.message);

                }
                salidabodega._load();
            },
            _always: function() {
                // remove spinning
                tabs._remove_loadding(salidabodega.tabname);
            }
        }
        var almacenOrigenData = {
            almacenOrigen_id: $({{ edit_form.almacenOrigen.vars.id }}).val()
        };
    </script>

    <!-- Lineas de Productos -->
    <script type="text/javascript">
        var lineas = {
            tabname: 'lineas',
            form_name: '',
            form_id: '',

            _start_events: function (e) {
                <!-- click en el botón 'Adicionar lineas de productos' -->
                $('a[href="#form_lineas_modal"]').on('click', lineas._load_modal);
                $('a[href="#btn_lineas_edit"]').on('click', lineas._load_modal);
                $('a[href="#btn_lineas_delete"]').on('click', lineas._load_delete_modal);
                // Paginator sort
                $('table.records_list').find('a.sortable, a.asc, a.desc').on('click', lineas._load);
                // Paginator navigation
                $('div.lineas-paginator.row ul.pagination').find('a.paginator-link').on('click', lineas._load);
            },

            _load: function (e) {
                if (e !== undefined) {
                    e.preventDefault();
                }

                tabs._add_loadding(lineas.tabname);

                var url = Routing.generate('lineasdeproducto', {'salida': salidabodega.id});
                if($(this).hasClass('sortable') || $(this).hasClass('desc') ||
                        $(this).hasClass('asc') || $(this).hasClass('paginator-link')) {
                    url = $(this).attr('href');
                }

                $.get(url).done(function (response, textStatus, jqXHR) {
                    $('div#lineas').html(response);

                    lineas._start_events();
                }).fail(utils._fail).always(lineas._always());
            },

            _load_modal: function (e) {
                if (e !== undefined) {
                    e.preventDefault();
                }

                console.log($(this).attr('href'));

                var url = Routing.generate('lineasdeproducto_new', {'salida': salidabodega.id});
                if($(this).attr('href') !== undefined && $(this).attr('href') === '#btn_lineas_edit') {
                    url = Routing.generate('lineasdeproducto_edit', {'id': $(this).data('content')});
                }
                $.get(url)
                        .done(function(response, textStatus, jqXHR){
                            $('div#form_lineas_modal').replaceWith($(response.view));

                            lineas.form_id = $('div#form_lineas_modal').find('form').attr('id');
                            lineas.form_name = $('div#form_lineas_modal').find('form').attr('name');

                            console.log(lineas.form_id);
                            console.log(lineas.form_name);

                            $('a#btn_lineas_save').on('click', lineas._save_modal);
                            $('a#btn_lineas_cancel').on('click', function(){
                                $('div#form_lineas_modal').modal('hide');
                            });
                            lineas._modal_start_events();
                            $('select#buseta_bodegabundle_salida_bodega_producto_producto').change(lineas._on_product_change);
                            $('select#buseta_bodegabundle_salida_bodega_producto_seriales_fake').change(function () {
                                var arr_val = $('select#buseta_bodegabundle_salida_bodega_producto_seriales_fake').val();
                                var str_val = "";
                                for (var i = 0; i < arr_val.length; i++) {
                                    if(str_val != "")
                                        str_val = str_val + ","
                                    str_val = str_val + arr_val[i];
                                }
                                $('input#buseta_bodegabundle_salida_bodega_producto_seriales').val(str_val);
                            });
                            $('div#form_lineas_modal').modal('show');
                        }).fail(utils._fail).always(function(){});
            },
            _modal_start_events: function () {
                $('select#buseta_bodegabundle_salida_bodega_producto_producto').chosen();
                $('select#buseta_bodegabundle_salida_bodega_producto_seriales_fake').chosen();
                $.ajax({
                    type: 'GET',
                    url: '{{ path("salidabodegas_ajax_almacenOrigen_Productos") }}',
                    data: almacenOrigenData,
                    success: function (data) {
                        var values = $.parseJSON(data);
                        var $producto_selector = $('select#buseta_bodegabundle_salida_bodega_producto_producto');
                        var selected = $producto_selector.selected().val();
                        $producto_selector.html('<option></option>');

                        for (var i = 0, total = values.length; i < total; i++) {
                            var selected_str = "";
                            if(selected == values[i].id)
                                selected_str = 'selected = "selected"'
                            $producto_selector.append(
                                    $('<option ' + selected_str + ' ></option>')
                                            .val(values[i].id)
                                            .html(values[i].valor)
                            );
                            $producto_selector.trigger("chosen:updated");
                            if(selected == values[i].id)
                                lineas._on_product_change();
                        }
                    }
                });
            },
            _on_product_change: function () {
                var serialesData = {
                    stock: almacenOrigenData.almacenOrigen_id,
                    product: $('select#buseta_bodegabundle_salida_bodega_producto_producto').selected().val()
                };
                $.ajax({
                    type: 'GET',
                    url: '{{ path("salidabodegaproducto_ajax_seriales") }}',
                    data: serialesData,
                    success: function (data) {
                        var values = $.parseJSON(data);
                        var selectorElem = $('select#buseta_bodegabundle_salida_bodega_producto_seriales_fake');
                        var realSeriales = $('input#buseta_bodegabundle_salida_bodega_producto_seriales').val();
                        selectorElem.html('<option></option>');
                        for (var i = 0, total = values.length; i < total; i++) {
                            if(realSeriales.contains(values[i].valor))
                            {
                                var opt = "<option selected=\"selected\" value=\"" + values[i].id + "\">" +
                                        values[i].valor + "</option>";
                            }
                            else {
                                var opt = "<option value=\"" + values[i].id + "\">" +
                                        values[i].valor + "</option>";
                            }
                            $(opt).appendTo(selectorElem);
                            selectorElem.trigger("chosen:updated");
                        }
                    }
                });
            },
            _load_delete_modal: function(e) {
                if (e !== undefined) {
                    e.preventDefault();
                }

                var url = Routing.generate('salidabodega_lineasdeproducto_delete', {'id': $(this).data('content')});

                $.get(url).done(function(response, textStatus, jqXHR){
                    $('div#form_lineas_delete_modal').replaceWith($(response.view));

                    $('div#form_lineas_delete_modal a#btn_lineas_delete').on('click', lineas._save_delete_modal);
                    $('div#form_lineas_delete_modal a#btn_lineas_cancel').on('click', function(){
                        $('div#form_lineas_delete_modal').modal('hide');
                    });

                    $('div#form_lineas_delete_modal').modal('show');
                }).fail(utils._fail).always(function(){});
            },

            _save_modal: function (e) {
                if(e !== undefined) {
                    e.preventDefault();
                }

                $('#btn_lineas_save').find('span')
                        .removeClass('glyphicon')
                        .removeClass('glyphicon-save')
                        .addClass('fa')
                        .addClass('fa-gear')
                        .addClass('fa-spin');

                $('form#' + lineas.form_id).ajaxSubmit({
                    success: lineas._done,
                    error: utils._fail,
                    beforeSubmit: function () {
                        var tempo = '';
                    },
                    complete: lineas._always,
                    dataType: 'json'
                });
            },

            _save_delete_modal: function (event) {

                if(event != undefined) {
                    event.preventDefault();
                }

                $('#btn_lineas_delete').find('span')
                        .removeClass('glyphicon')
                        .removeClass('glyphicon-save')
                        .addClass('fa')
                        .addClass('fa-gear')
                        .addClass('fa-spin');

                var deleteForm = $('div#form_lineas_delete_modal').find('form'),
                        url = $(deleteForm).attr('action');

                deleteForm.ajaxSubmit({
                    success: function (response, textStatus, jqXHR) {
                        if(jqXHR.status == 202) {
                            $btalerts.addSuccess(response.message);
                        }
                        $('div#form_lineas_delete_modal').modal('hide');
                        lineas._load();
                    },
                    error: utils._fail,
                    complete: lineas._always,
                    url: url,
                    dataType: 'json'
                });
            },

            _done: function (response, textStatus, jqXHR) {
                if(jqXHR.status == 201 || jqXHR.status == 202) {
                    $btalerts.addSuccess(response.message);

                    $('div#form_lineas_modal').modal('hide');
                    lineas._load();
                } else {
                    $('form#' + lineas.form_id).replaceWith($(response.view).find('form'));
                }
            },

            _always: function () {
                tabs._remove_loadding(lineas.tabname)
            }
        }
    </script>

    <!-- Extras script -->
    <script type="text/javascript">
        var tabs = {
            loadding_image: '<span class="loading"><i class="fa fa-spinner fa-spin"></i> </span>',

            _show_all_tabs: function() {
                tabs._show_tab('lineas');
            },

            _show_tab: function (tabname) {
                $('li a[href="#' + tabname + '"]').parent().show();
            },

            _hide_tab: function () {
                $('li a[href="#' + tabname + '"]').parent().hide();
            },

            _add_loadding: function (tabname) {
                var spinning = $('li a[href="#' + tabname + '"]').find('span.loading');

                if (spinning.length == 0) {
                    var linktab = $('li a[href="#' + tabname + '"]');
                    linktab.prepend($(tabs.loadding_image));
                }
            },

            _remove_loadding: function (tabname) {
                var spinning = $('li a[href="#' + tabname + '"]').find('span.loading');
                spinning.remove();
            }
        };

        var utils = {
            _fail: function (jqXHR, textStatus, errorThrown) {
                if(jqXHR.status == 500 && jqXHR.responseText.message != undefined) {
                    $btalerts.addDanger(jqXHR.responseText.message);
                } else if (jqXHR.status == 200) {
                    $btalerts.addSuccess('{{ 'messages.update.success' | trans({}, 'BusetaBodegaBundle') }}');
                }
                else {
                    $btalerts.addDanger('{{ 'messages.unexpected_error' | trans({}, 'BusetaBodegaBundle') }}');
                }
            }
        };

        $({{ edit_form.almacenOrigen.vars.id }}).change(function () {
            almacenOrigenData = {
                almacenOrigen_id: $(this).val()
            };

            $.ajax({
                type: 'GET',
                url: '{{ path("salidabodegas_ajax_almacenOrigen_almacenDestino") }}',
                data: almacenOrigenData,
                success: function (data) {
                    var values = $.parseJSON(data);
                    var $almacenDestino_selector = $({{ edit_form.almacenDestino.vars.id }});

                    $almacenDestino_selector.html('<option></option>');

                    for (var i = 0, total = values.length; i < total; i++) {
                        $almacenDestino_selector.append(
                                $('<option></option>')
                                        .val(values[i].id)
                                        .html(values[i].valor)
                        );
                        $almacenDestino_selector.trigger("chosen:updated");
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}
