{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Listado de Inventarios Físicos' %}

{% block area_trabajo %}

    <div id="inventariofisico_records_list">
        {% set display = '' %}
        {% set headericon = 'glyphicon-chevron-down' %}
        {% if (filter_form.vars.value.nombre is null or filter_form.vars.value.nombre is empty)
        and (filter_form.vars.value.almacen is null or filter_form.vars.value.almacen is empty)
        and (filter_form.vars.value.fechaInicio is null or filter_form.vars.value.fechaInicio is empty)
        and (filter_form.vars.value.fechaFin is null or filter_form.vars.value.fechaFin is empty)
        and (filter_form.vars.value.estado is null or filter_form.vars.value.estado is empty)
        %}
            {% set display = 'display: none;' %}
            {% set headericon = 'glyphicon-chevron-right' %}
        {% endif %}

        <h4>
            <a id="filter_form_header" style="cursor: pointer;">
                <span class="glyphicon {{ headericon }}"></span>
                Búsqueda
            </a>
        </h4>
        <div id="filter_form_component" style="{{ display }}">
            <form id="filter_form" method="{{ filter_form.vars.method }}" action="{{ filter_form.vars.action }}">
                <div class="row">
                    <div class="col-lg-4">{{ form_row(filter_form.nombre) }}</div>
                    <div class="col-lg-4">{{ form_row(filter_form.almacen) }}</div>
                    <div class="col-lg-4">{{ form_row(filter_form.producto) }}</div>
                    <div class="col-lg-4">{{ form_row(filter_form.fechaInicio) }}</div>
                    <div class="col-lg-4">{{ form_row(filter_form.fechaFin) }}</div>
                    <div class="col-lg-4">{{ form_row(filter_form.estado) }}</div>
                </div>
                {{ form_widget(filter_form._token) }}

                <div class="filter-actions" style="margin-top: 8px;">
                    <a id="filter_form_submit_btn" class="btn btn-success btn-small">
                        <span class="glyphicon glyphicon-filter"></span> Filtrar
                    </a>
                    <a id="filter_form_reset_btn" class="btn btn-danger btn-small">
                        <span class="glyphicon glyphicon-repeat"></span> Reiniciar
                    </a>
                </div>
            </form>
        </div>

        <hr/>
        {% if is_granted('create', 'Buseta\\BodegaBundle\\Entity\\InventarioFisico') %}
            <div class="btn-group" style="margin-bottom: 8px;">
                <a class="btn btn-primary" href="{{ path('inventariofisico_new') }}">
                    <span class="glyphicon glyphicon-plus-sign"></span> {{ 'inventariofisico.btn.adicionar'|trans({}, 'BusetaBodegaBundle') }}
                </a>
            </div>
        {% endif %}
        <div class="paginator row">
            <div class="col-lg-4"><strong>Resultados:</strong> {{ entities.getTotalItemCount }}</div>
        </div>


        <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Nombre{#{{ knp_pagination_sortable(entities, 'No.Documento', 't.numero_documento') }}#}</th>
            <th>Bodega{#{{ knp_pagination_sortable(entities, 'Tercero', 't.tercero') }}#}</th>
            <th>Fecha{#{{ knp_pagination_sortable(entities, 'Almacén', 't.almacen') }}#}</th>
            <th>Estado{#{{ knp_pagination_sortable(entities, 'Moneda', 't.moneda') }}#}</th>
            <th style="text-align: center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.almacen }}</td>
                <td>{{ entity.fecha | date('d/m/Y') }}</td>
                {% if entity.estado == 'CO' %}
                    {% set badge = 'success' %}
                    {% set text_color = 'success' %}
                {% elseif entity.estado == 'PR' %}
                    {% set badge = 'primary' %}
                    {% set text_color = 'primary' %}
                {% else %}
                    {% set badge = 'danger' %}
                    {% set text_color = 'danger' %}
                {% endif %}
                <td class="text-{{ text_color }}"><span
                            class="label label-{{ badge }}">{{ ('estado.' ~entity.estado) | trans({}, 'BusetaBodegaBundle') | upper }}</span>
                </td>

                <td style="width: 24% !important; text-align: center;">
                    {% if is_granted('show', entity) %}
                        <div class="btn-group">
                            <a class="btn btn-success btn-xs"
                               href="{{ path('inventariofisico_show', { 'id': entity.id }) }}"><span
                                        class="glyphicon glyphicon-search"> Mostrar</span></a>
                        </div>
                    {% endif %}
                    {% if entity.estado == 'BO' %}
                        {% if is_granted('edit', entity) %}
                            <div class="btn-group">
                                <a class="btn btn-danger btn-xs"
                                   href="{{ path('inventariofisicos_inventariofisico_edit', { 'id': entity.id }) }}"><span
                                            class="glyphicon glyphicon-edit"> Editar</span></a>
                            </div>
                        {% endif %}
                        {% if is_granted('delete', entity) %}
                            <a href="#delete" data-href="{{ path('inventariofisico_delete', {'id': entity.id}) }}" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span> {{ 'actions.delete' | trans({}, 'BusetaBodegaBundle') }}</a>
                        {% endif %}
                    {% else %}
                        {% if is_granted('edit', entity) %}
                            <div class="btn-group">
                                <a class="btn btn-danger btn-xs disabled"
                                   href="{{ path('inventariofisicos_inventariofisico_edit', { 'id': entity.id }) }}"><span
                                            class="glyphicon glyphicon-edit"> Editar</span></a>
                            </div>
                        {% endif %}
                        {% if is_granted('delete', entity) %}
                            <a href="#delete" data-href="{{ path('inventariofisico_delete', {'id': entity.id}) }}" class="btn btn-danger btn-xs disabled">
                                <span class="glyphicon glyphicon-trash"></span> {{ 'actions.delete' | trans({}, 'BusetaBodegaBundle') }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="12">{{ 'messages.no_results' | trans({}, 'BusetaBodegaBundle') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="paginator row">
            <div class="col-lg-4"></div>
            <div class="col-lg-12" style="text-align: center">{{ knp_pagination_render(entities) }}</div>
        </div>
    </div>


    <!-- Delete modal -->
    <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true"></div>

{% endblock area_trabajo %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            $('a#filter_form_header').click(function () {
                if ($('a#filter_form_header span').hasClass('glyphicon-chevron-right')) {
                    $('a#filter_form_header span')
                            .removeClass('glyphicon-chevron-right')
                            .addClass('glyphicon-chevron-down');
                } else {
                    $('a#filter_form_header span')
                            .removeClass('glyphicon-chevron-down')
                            .addClass('glyphicon-chevron-right');
                }

                $('div#filter_form_component').slideToggle(500);
            });

            $('a#filter_form_submit_btn').click(function () {
                $('form#filter_form').submit();
            });

            $('a#filter_form_reset_btn').click(function () {
                $('form#filter_form').find('input').each(function () {
                    $(this).val(null);
                });
                $('form#filter_form').find('select').each(function () {
                    $(this).val(null);
                })
            });

            //modificacion de los selectores de fecha
            var fechaInicio = $('input#buseta_inventario_fisico_filter_fechaInicio'),
                    fechaFin = $('input#buseta_inventario_fisico_filter_fechaFin');
            fechaInicio.datetimepicker({
                format: 'DD/MM/YYYY',
                useCurrent: false
            });
            fechaFin.datetimepicker({
                format: 'DD/MM/YYYY',
                useCurrent: false
            });
            fechaInicio.on('dp.change', function(e){
                fechaFin.data("DateTimePicker").minDate(e.date);
            });
            fechaFin.on('dp.change', function (e) {
                fechaInicio.data("DateTimePicker").maxDate(e.date);
            });
            $('#buseta_inventario_fisico_filter_almacen').chosen();
            $('#buseta_inventario_fisico_filter_producto').chosen();
            $('#buseta_inventario_fisico_filter_estado').chosen();
        });
    </script>

    <script type="text/javascript">
        var inventariofisicodeleteevent = new DeleteEvent('{{ path('inventariofisico') }}', 'div#inventariofisico_records_list');
        inventariofisicodeleteevent.start_events();
    </script>
{% endblock javascripts %}