{% form_theme form '@BusetaBodega/Form/fields.twig' %}

{% form_theme form.impuesto '@BusetaBodega/NecesidadMaterial/Linea/impuesto_form_theme.html.twig' %}
{% form_theme form.producto '@BusetaBodega/NecesidadMaterial/Linea/producto_form_theme.html.twig' %}

<div class="modal" id="form_lineas_modal" tabindex="-1" role="dialog" aria-labelledby="createLineas" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createLineas">{{ 'linea.modal.title'|trans({},'BusetaBodegaBundle') }}</h4>
            </div>
            <div class="modal-body">
                <form name="{{ form.vars.full_name }}" id="{{ form.vars.id }}" action="{{ form.vars.action }}"
                      method="post" enctype="multipart/form-data">
                    {% if form.vars.method == 'PUT' %}
                        <input type="hidden" name="_method" value="PUT"/>
                    {% endif %}

                    <div class="row">
                        <div class="col-lg-11">{{ form_row(form.producto) }}</div>

                        <div class="col-lg-1">
                            <div class="form-group">
                                <label class="control-label required">&nbsp;</label>

                                <a id="actualizar_productos" class="btn btn-danger btn-xl form-control"
                                   href="#"><span class="glyphicon glyphicon-refresh"></span></a>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-9"> </div>
                            <div class="col-lg-2 pull-right"> <div id="editar_producto"></div>
                        </div>

                        <div class="col-lg-12">
                            <table id="producto_proveedores_results_list" class="table table-condensed table-striped table-bordered table-hover" style="display: none;">
                                <tr>
                                    <th>Proveedor</th>
                                    <th>Código</th>
                                    <th style="width: 20%;">Costo</th>
                                    <th></th>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-4">{{ form_row(form.cantidad_pedido) }}</div>
                        <div class="col-lg-4">{{ form_row(form.uom) }}</div>
                        <div class="col-lg-4">{{ form_row(form.precio_unitario) }}</div>
                        <div class="col-lg-4">{{ form_row(form.moneda) }}</div>
                        <div class="col-lg-4">{{ form_row(form.impuesto) }}</div>
                        <div class="col-lg-4">{{ form_row(form.porciento_descuento) }}</div>
                        <div class="col-lg-4">{{ form_row(form.importe_linea) }}</div>
                    </div>
                    {{ form_widget(form._token) }}
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" id="btn_lineas_cancel" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left"></span>
                    {{ 'actions.cancel' | trans({}, 'BusetaBodegaBundle') }}</a>
                <a href="#" class="btn btn-primary" id="btn_lineas_save"><span class="glyphicon glyphicon-save"></span>
                    {{ 'actions.save' | trans({}, 'BusetaBodegaBundle') }}</a>
            </div>
        </div>
    </div>
</div>