{% block choice_widget_options -%}
    {% if options is defined %}
        {% for group_label, choice in options %}
            {%- if choice is iterable -%}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{- block('choice_widget_options') -}}
                </optgroup>
            {%- else -%}
                {% set alt_search = choice.data.codigo %}
                {#
                {% for costo in choice.data.costoProducto %}
                    {% if costo.codigoAlternativo %}
                        {% set alt_search = alt_search ~ ' ' ~ costo.codigoAlternativo %}
                    {% endif %}
                {% endfor %}
                #}
                <option data-alt-search="{{ alt_search }}" value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
            {%- endif -%}
        {% endfor %}
    {% endif %}
{%- endblock choice_widget_options %}
