{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Modificar datos del Producto con Topes' %}

{% block area_trabajo %}

    <form action="{{ path('productotope_update',{'id':entity.id}) }}" method="post" {{ form_enctype(edit_form) }}>

        {{ form_errors(edit_form) }}

        <div class="row show-grid">
            <div class="col-md-6">
                {{ form_row(edit_form.producto) }}
            </div>
            <div class="col-md-6">
                {{ form_row(edit_form.almacen) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-3">
                {{ form_row(edit_form.min) }}
            </div>
            <div class="col-md-3">
                {{ form_row(edit_form.max) }}
            </div>
            <div class="col-md-6">
                {{ form_row(edit_form.comentarios) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">

                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('productotope') }}"> Cancelar</a>
                </div>
            </div>
        </div>

        {{ form_rest(edit_form) }}
    </form>

{% endblock %}


{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('vendors/bootstrap/js/bootstrap-modal.js') }}"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#buseta_bodegabundle_productotope_producto').chosen();
                $('#buseta_bodegabundle_productotope_almacen').chosen();
            });
        </script>

{% endblock javascripts %}
