
{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Crear Nuevo Producto con Topes' %}

{% block area_trabajo %}

    <form action="{{ path('productotope_create') }}" method="post" enctype="multipart/form-data">

        <div class="row show-grid">
            <div class="col-md-6">
                {{ form_row(form.producto) }}
            </div>

            <div class="col-md-6">
                {{ form_row(form.almacen) }}
            </div>
        </div>

        <div class="row show-grid">

            <div class="col-md-3">
                {{ form_row(form.min) }}
            </div>

            <div class="col-md-3">
                {{ form_row(form.max) }}
            </div>

            <div class="col-md-6">
                {{ form_row(form.comentarios) }}
            </div>

        </div>

        <div class="row show-grid">
            <div class="col-md-4">

                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('productotope') }}"> Cancelar</a>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    </form>

{% endblock %}


{% block contenido %}

{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#buseta_bodegabundle_productotope_producto').chosen();
        $('#buseta_bodegabundle_productotope_almacen').chosen();
    });
</script>
{% endblock javascripts %}
