{% extends 'BusetaBodegaBundle::layout.html.twig' %}

{% block area_trabajo %}
    <form action="{{ path('proveedor_create') }}" method="POST" enctype="multipart/form-data">
        {{ form_errors(form) }}

        <div class="row show-grid">
            <div class="col-md-2">
                <a href="#" class="thumbnail">
                    <img src="{{ asset('bundles/busetabodega/images/default.png') }}" alt="Imagen por defecto"/>
                </a>
            </div>

            <div class="col-md-10">
                <div class="row show-grid">
                    <div class="col-md-6">
                        {{ form_row(form.codigo) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.alias) }}
                    </div>
                </div>

                <div class="row show-grid">
                    <div class="col-md-6">
                        {{ form_row(form.nombres) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.apellidos) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.moneda) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.creditoLimite) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.activo) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.observaciones) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('proveedor') }}"> Cancelar</a>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}