{% extends "BusetaBodegaBundle::layout.html.twig" %}


{% block area_trabajo %}

    <table class="table table-striped" style="font-size: 16px;">
        <tbody>

        <tr>
            <th>Código</th>
            <td>{{ entity.codigo }}</td>
        </tr>
        <tr>
            <th>Nombres</th>
            <td>{{ entity.nombres }}</td>
        </tr>
        <tr>
            <th>Apellidos</th>
            <td>{{ entity.apellidos }}</td>
        </tr>
        <tr>
            <th>Alias</th>
            <td>{{ entity.alias }}</td>
        </tr>
        <tr>
            <th>Moneda</th>
            <td>{{ entity.moneda }}</td>
        </tr>
        <tr>
            <th>Crédito Límite</th>
            <td>{{ entity.creditoLimite }}</td>
        </tr>
        <tr>
            <th>Observaciones</th>
            <td>{{ entity.observaciones }}</td>
        </tr>
        <tr>
            <th>Activo</th>
            <td>
                {% if entity.activo %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>


    <div class="form-actions">
        <form action="{{ path('proveedor_delete', {'id': entity.proveedorId}) }}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="DELETE"/>
            <a class="btn btn-primary" href="{{ path('proveedor') }}"> Listado</a>
            <button type="submit" class="btn btn-primary"> Eliminar</button>
        </form>
    </div>

{% endblock %}
