{% extends "BusetaBusesBundle::layout.html.twig" %}

{% block nombre_menu_superior %}
    Datos del Servicio de Combustible
{% endblock %}

{% block titulo_encabezado %}
    Datos del Servicio de Combustible: "{{ entity.combustible }}"
{% endblock %}

{% block area_trabajo %}
    <table class="table table-striped" style="font-size: 16px;">
        <tbody>

        <tr>
            <th>Nomenclador de Combustible</th>
            <td>{{ entity.combustible }}</td>
        </tr>

        <tr>
            <th>Chofer</th>
            <td>{{ entity.chofer }}</td>
        </tr>

        <tr>
            <th>Autobús</th>
            <td>{{ entity.autobus }}</td>
        </tr>

        <tr>
            <th>Cantidad de Libros</th>
            <td>{{ entity.cantidadLibros }}</td>
        </tr>

        </tbody>
    </table>

        <div class="form-actions">
        <a class="btn btn-primary" href="{{ path('despachadoraCombustible') }}"> Listado</a>
    </div>

{% endblock %}

{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
