<form id="form_direccion" action="{{ path('direccion_create') }}" method="post" enctype="multipart/form-data">
    <div class="row show-grid">
        <div class="col-md-4">
            {{ form_row(direccion.nombre) }}
        </div>

        <div class="col-md-4">
            {{ form_row(direccion.calle) }}
        </div>
        <div class="col-md-4">
            {{ form_row(direccion.codigoPostal) }}
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-4">
            {{ form_row(direccion.localidad) }}
        </div>

        <div class="col-md-4">
            {{ form_row(direccion.region) }}
        </div>
        <div class="col-md-4">
            {{ form_row(direccion.pais) }}
        </div>
    </div>
    {{ form_rest(direccion) }}
</form>
