{% trans_default_domain 'messages' %}

{% macro documentState(state, translationDomain) %}
    {% if state == 'COMPLETE' or state == 'CO'%}
        {% set badge = 'success' %}
    {% elseif state == 'PROCESS' or state == 'PR' %}
        {% set badge = 'primary' %}
    {% elseif state == 'POSTED' %}
        {% set badge = 'warning' %}
    {% else %}
        {% set badge = 'danger' %}
    {% endif %}

    {% set value = ('estado.' ~ state)  | trans({}, translationDomain) %}
    <span class="label label-{{ badge }}" data-toggle="tooltip" data-placement="left"
          title="{{ 'label.state'|trans ~ ' ' ~ value }}"> {{ value | upper }}</span>
{% endmacro %}

{% macro show_styles() %}
    {{ 'table table-striped' }}
{% endmacro %}

{% macro table_styles() %}
    {{ _self.show_styles() ~ ' table-bordered table-condensed table-hover' }}
{% endmacro %}

{% macro no_elements(colspan=8)%}
    <tr><td colspan="{{ colspan }}">No existen elementos que mostrar.</td></tr>
{% endmacro %}

{% macro container_content(header_content, table_content, trans_domain) %}
    <div class="block">
        <div class="block-content collapse in">
            {# TABLE HERE #}
            {{ table_content }}
        </div>
    </div>
{% endmacro %}

{% macro submit_button(label, trans_domain = 'BusBPMCoreBundle') %}
    <input type="submit" class="btn btn-primary" value="{{ label | trans({},trans_domain) }}" />
{% endmacro %}
