{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TareaAdicional</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Tarea</th>
                <td>{{ entity.tarea }}</td>
            </tr>
            <tr>
                <th>Fecha_estimada</th>
                <td>{{ entity.fechaestimada|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tareaadicional') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tareaadicional_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
