{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Modificar Bodega' %}

{% block area_trabajo %}

<form action="{{ path('bodega_update',{'id':entity.id}) }}" method="post" enctype="multipart/form-data" >

    <div class="row show-grid">
        <div class="col-md-4">
            {{ form_row(edit_form.nombre) }}
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.codigo) }}
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.responsable) }}
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-6">
            {{ form_row(edit_form.descripcion) }}
        </div>
        <div class="col-md-6">
            {{ form_row(edit_form.direccion) }}
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-4">

            <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
            <div class="btn-group">
                <a class="btn btn-primary" href="{{ path('bodega') }}"> Cancelar</a>
            </div>
        </div>
    </div>

    {{ form_rest(edit_form) }}
</form>

{% endblock %}


{% block contenido %}

{% endblock %}
