{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Listado de bodegas
{% endblock %}

{% block titulo_encabezado %}
    Listado de bodegas
{% endblock %}

{% block area_trabajo %}

    <h4><a id="busqueda_almacen" style="cursor: pointer; "><i class="icon-chevron-down"></i> Búsqueda de Bodegas</a></h4>
    <div id="busqueda_almacen_div" class="panel panel-default" style="display: none;">
        <div class="panel-body">
            <fieldset>
                {{ form_start(almacen) }}
                <div class="row show-grid" style="padding-top: 0px">
                    <div class="col-md-4">
                        {{ form_row(almacen.codigo) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(almacen.nombre) }}
                    </div>
                </div>

                <div class="row show-grid" style="padding-top: 0px">
                    <div class="col-md-4">
                        {{ form_row(almacen.descripcion) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(almacen.direccion) }}
                    </div>
                </div>

                {{ form_end(almacen) }}

                <div class="row show-grid">
                    <div class="col-md-6">
                        <input class="btn btn-primary btn-bg" style="width: 100px;" value="Buscar" name="buscar" onclick="setFilters()">

                        <div class="btn-group">
                            <a class="btn btn-success btn-bg" href="{{ path('bodega') }}"><i class="fa fa-search"> Reiniciar Búsqueda</i></a>
                        </div>
                    </div>
                </div>


            </fieldset>
        </div>
    </div>

    <div class="btn-group" style="padding-bottom: 8px;">
        <a class="btn btn-primary" href="{{ path('bodega_new') }}"><i class="fa fa-plus-circle"></i> Adicionar Bodega</a>
    </div>
    <div class="almacens-result-table" style="text-align: center;"> </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{asset('vendors/busquedaAlmacen.js')}}" type="text/javascript"></script>

{% endblock %}
