{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Crear nueva Bodega' %}

{% block area_trabajo %}

    <form action="{{ path('bodega_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.codigo) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.nombre) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.responsable) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-6">
                {{ form_row(form.descripcion) }}
            </div>

            <div class="col-md-6">
                {{ form_row(form.direccion) }}
            </div>
        </div>



        <div class="row show-grid">
            <div class="col-md-4">

                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('bodega') }}"> Cancelar</a>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    </form>

{% endblock %}


{% block contenido %}

{% endblock %}
