{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Maximos y Minimos de Productos en Bodega
{% endblock %}

{% block area_trabajo %}

    {% block titulo_encabezado %}
        Maximos y Minimos de Productos en Bodega:  {{ almacen.nombre }}
    {% endblock %}

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad Real</th>
            <th>Estado</th>
            <th>Minimo</th>
            <th>Maximo</th>
            <th>Observaciones</th>
        </tr>
        </thead>
        <tbody>
        {% for productotope in productotope %}
            <tr style="text-align: center;">
                <td>{{ productotope.prodtope.producto }}</td>
                <td>{{ productotope.cantidad }}</td>

                {% if  productotope.cantidad < productotope.prodtope.min  %}
                    <td><span class="label label-danger">Faltan Unidades</span></td>
                {% elseif productotope.cantidad > productotope.prodtope.max %}
                    <td><span class="label label-warning">Demasiadas Unidades</span></td>
                {% else %}
                    <td></td>
                {% endif %}

                <td>{{ productotope.prodtope.min }}</td>

                <td>{{ productotope.prodtope.max }}</td>

                <td>{{ productotope.prodtope.comentarios }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No se encontraron registros maximos y minimos de productos para el almacen seleccionado.</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ knp_pagination_render(productotope) }}
            </div>
        </div>
    </div>

{% endblock %}
