{% extends "BusetaCombustibleBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Crear Nuevo Servicio de Combustible' %}

{% block area_trabajo %}

    {% include '@BusetaCombustible/ServicioCombustible/form_template.html.twig' with {'form': form} %}

{% endblock area_trabajo %}

{% block javascripts %}
    <!-- Script -->
    <script type="text/javascript"
            src="{{ asset('bundles/busetacombustible/js/servicioCombustible/servicioCombustible.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            TallerApp.servicioCombustible.init();

            $.ajax({
                type: 'GET',
                url: 'http://{{ server.address }}:{{ server.port }}/boleta/api/boletas?fecha=',
                success: function (data) {
                    //var values = $.parseJSON(data);
                    var values = data;
                    var selectBoleta = $('select#combustible_servicio_combustible_boleta');
                    selectBoleta.html('<option></option>');
                    for (var i = 0, total = values.length; i < total; i++) {
                        var opt = "<option value=\"" + values[i].identificador + "\">" +
                                values[i].identificador + "</option>";
                        $(opt).appendTo(selectBoleta);
                        selectBoleta.trigger("chosen:updated");
                    }
                }
            });

            $('select#combustible_servicio_combustible_boleta').change(function () {
                var boleta_id = $('select#combustible_servicio_combustible_boleta').val();
                $.ajax({
                    type: 'GET',
                    url: 'http://{{ server.address }}:{{ server.port }}/boleta/api/choferAndAutobusFromBoleta?identificador=' + boleta_id,
                    success: function (data) {
                        //var values = $.parseJSON(data);
                        var values = data;
                        var selectChofer = $('select#combustible_servicio_combustible_chofer_chofer');
                        var selectVehiculo = $('select#combustible_servicio_combustible_vehiculo');

                        var requestData = {
                            cedula_chofer: values.chofer.cedula,
                            numero_bus: values.autobus.identificador
                        };

                        $.ajax({
                            type: 'GET',
                            url: '{{ path("chofer_bus_ajax") }}',
                            data: requestData,
                            success: function (data) {
                                //var values = $.parseJSON(data);
                                var values = data;
                                selectChofer
                                        .val(values.chofer)
                                        .trigger("chosen:updated")
                                        .trigger("change");
                                selectVehiculo
                                        .val(values.autobus)
                                        .trigger("chosen:updated")
                                        .trigger('change');

                            }
                        });
                    }
                });
            });
        });
    </script>
{% endblock javascripts %}
