{% extends "BusetaTallerBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Modificar mantenimiento preventivo: "{{ entity.id }}"
{% endblock %}

{% block area_trabajo %}
    <form action="{{ edit_form.vars.action }}" method="POST" enctype="multipart/form-data">
        {{ form_errors(edit_form) }}
        <input type="hidden" name="_method" value="PUT"/>

        <div class="row show-grid">
            <div class="col-md-4">
                <label>Autobus:</label>
                {{ form_widget(edit_form.autobus) }}
            </div>

            <div class="col-md-4">
                <label>Grupo:</label>
                {{ form_widget(edit_form.grupo) }}
            </div>

            <div class="col-md-4">
                <label>Subgrupo:</label>
                {{ form_widget(edit_form.subgrupo) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                <label>Tarea:</label>
                {{ form_widget(edit_form.tarea) }}
            </div>

            <div class="col-md-4">
                <label>Fecha Inicio:</label>
                {{ form_widget(edit_form.fechaInicio) }}
            </div>

            <div class="col-md-4">
                <label>Fecha Inicio:</label>
                {{ form_widget(edit_form.fechaFinal) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                <label>Kilometraje:</label>
                {{ form_widget(edit_form.kilometraje) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('mantenimientopreventivo') }}"> Cancelar</a>
                </div>
            </div>
        </div>
        {{ form_rest(edit_form) }}
    </form>
{% endblock %}


{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            $('#{{ edit_form.fechaInicio.vars.id }}').datetimepicker({
                format: 'DD/MM/YYYY',
                pickTime: false
            });

            $('#{{ edit_form.fechaFinal.vars.id }}').datetimepicker({
                format: 'DD/MM/YYYY',
                pickTime: false
            });

            $('#{{ edit_form.grupo.vars.id }}').change(function() {
                var data = {
                    grupo_id: $(this).val()
                };

                $.ajax({
                    type: 'GET',
                    url: '{{ path('ajax_select_subgrupo_grupo') }}',
                    data: data,
                    success: function(data) {
                        var values = $.parseJSON(data);
                        var subgrupo_selector = $('#{{ edit_form.subgrupo.vars.id }}');

                        subgrupo_selector.html('<option>---Seleccione un grupo---</option>');
                        for (var i = 0, len = values.length; i < len; i++) {
                            subgrupo_selector.append('<option value="' + values[i].id + '">' + values[i].valor + '</option>')
                        }
                    }
                });
            });

        });
    </script>
{% endblock %}