{% extends "BusetaTallerBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Adicionar nuevo mantenimiento preventivo
{% endblock %}

{% block area_trabajo %}
    <form action="{{ path('mantenimientopreventivo_create') }}" method="POST" enctype="multipart/form-data">
        {{ form_errors(form) }}

        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.autobus) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.grupo) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.subgrupo) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.tarea) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.fechaInicio) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.fechaFinal) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.kilometraje) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('mantenimientopreventivo') }}"> Cancelar</a>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            $('#{{ form.fechaInicio.vars.id }}').datetimepicker({
                format: 'DD/MM/YYYY',
                pickTime: false
            });

            $('#{{ form.fechaFinal.vars.id }}').datetimepicker({
                format: 'DD/MM/YYYY',
                pickTime: false
            });

            $('#{{ form.grupo.vars.id }}').change(function() {
                var data = {
                    grupo_id: $(this).val()
                };

                $.ajax({
                    type: 'GET',
                    url: '{{ path('ajax_select_subgrupo_grupo') }}',
                    data: data,
                    success: function(data) {
                        var values = $.parseJSON(data);
                        var subgrupo_selector = $('#{{ form.subgrupo.vars.id }}');

                        subgrupo_selector.html('<option>---Seleccione un grupo---</option>');
                        for (var i = 0, len = values.length; i < len; i++) {
                            subgrupo_selector.append('<option value="' + values[i].id + '">' + values[i].valor + '</option>')
                        }
                    }
                });
            });

        });
    </script>
{% endblock %}