{% extends "BusetaTallerBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Adicionar nuevo mantenimiento preventivo
{% endblock %}

{% block area_trabajo %}
    {{ form_errors(form) }}
    <form action="{{ path('mantenimientopreventivo_create') }}" method="post" enctype="multipart/form-data">
        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.tarea) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.fechaInicio) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.fechaFinal) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.autobus) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.grupo) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.subgrupo) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.kilometraje) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('mantenimientopreventivo') }}"> Cancelar</a>
                </div>
            </div>
        </div>

        {{ form_widget(form._token) }}
    </form>
{% endblock %}

{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            $('#{{ form.fechaInicio.vars.id }}').datetimepicker({
                pickTime: false,
                format: 'DD/MM/YYYY'
            });
            $('#{{ form.fechaFinal.vars.id }}').pickadate({
                format: 'dd/mm/yyyy',
                formatSubmit: 'dd/mm/yyyy'
            });
        })
    </script>
    <script src="{{ asset('vendors/funciones_datetime_new.js') }}"></script>
{% endblock %}