{% extends "BusetaTallerBundle::layout.html.twig" %}

{% trans_default_domain 'BusetaTallerBundle' %}

{% block title block('header') %}

{% block header 'Ver datos del mantenimiento preventivo' %}

{% block area_trabajo %}

    <table class="table table-striped" style="font-size: 16px;">
        <tbody>
        <tr>
            <th>Tarea de Mantenimiento</th>
            <td>{{ entity.tarea }}</td>
        </tr>
        <tr>
            <th>Autobus</th>
            <td>{{ entity.autobus }}</td>
        </tr>
        <tr>
            <th>Grupo</th>
            <td>{{ entity.grupo }}</td>
        </tr>
        <tr>
            <th>Subgrupo</th>
            <td>{{ entity.subgrupo }}</td>
        </tr>
        <tr>
            <th>Kilometraje</th>
            <td>{{ entity.kilometraje }}</td>
        </tr>
        <tr>
            <th>Horas</th>
            <td>{{ entity.horas }}</td>
        </tr>
        <tr>
            <th>Fecha Inicio</th>
            <td>{{ entity.fechaInicio | date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Fecha Final</th>
            <td>{{ entity.fechaFinal | date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Cumplimiento</th>
            <td>{{ entity.id | progress_bar_render }}</td>
        </tr>
        </tbody>
    </table>

    <div class="form-actions">
        <form action="{{ delete_form.vars.action }}" method="POST" enctype="multipart/form-data">
            {{ form_errors(delete_form) }}
            <input type="hidden" name="_method" value="DELETE"/>
            <a class="btn btn-primary" href="{{ path('mantenimientopreventivo_edit', { 'id': entity.id }) }}"> Editar</a>
            <a class="btn btn-primary" href="{{ path('mantenimientopreventivo') }}"> Listado</a>
            <button type="submit" class="btn btn-primary">Eliminar</button>
            {{ form_rest(delete_form) }}
        </form>
    </div>
{% endblock %}

{% block contenido %}

{% endblock %}
