<div class="kilometraje_form">
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-lg-12">
            {{ form_row(form.valor) }}
        </div>
    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}
</div>