{% extends "BusetaBusesBundle::layout.html.twig" %}

{% block title %}
    Listado Grupo de Buses
{% endblock %}

{% block titulo_encabezado %}
    Listado Grupo de Buses
{% endblock %}

{% block area_trabajo %}

    <div id="records_list">
        {% set display = '' %}
        {% set headericon = 'glyphicon-chevron-down' %}
        {% if (filter_form.vars.value.nombre is null or filter_form.vars.value.nombre is empty)
        and (filter_form.vars.value.color is null or filter_form.vars.value.color is empty)

        %}
            {% set display = 'display: none;' %}
            {% set headericon = 'glyphicon-chevron-right' %}
        {% endif %}

        <h4>
            <a id="filter_form_header" style="cursor: pointer;">
                <span class="glyphicon {{ headericon }}"></span>
                Búsqueda
            </a>
        </h4>
        <div id="filter_form_component" style="{{ display }}">
            <form id="filter_form" method="{{ filter_form.vars.method }}" action="{{ filter_form.vars.action }}">
                <div class="row">
                    <div class="col-lg-4">{{ form_row(filter_form.nombre) }}</div>
                    <div class="col-lg-4">{{ form_row(filter_form.color) }}</div>

                </div>
                {{ form_widget(filter_form._token) }}

                <div class="filter-actions" style="margin-top: 8px;">
                    <a id="filter_form_submit_btn" class="btn btn-success btn-small">
                        <span class="glyphicon glyphicon-filter"></span> Filtrar
                    </a>
                    <a id="filter_form_reset_btn" class="btn btn-danger btn-small">
                        <span class="glyphicon glyphicon-repeat"></span> Reiniciar
                    </a>
                </div>
            </form>
        </div>

        <hr/>
        <div class="btn-group" style="margin-bottom: 8px;">
            <a class="btn btn-primary" href="{{ path('grupobuses_new') }}">
                <span class="glyphicon glyphicon-plus-sign"></span> {{ 'grupobuses.btn.adicionar'|trans({}, 'BusetaBusesBundle') }}
            </a>
        </div>

        <div id="autobuses_results_container">
            <div class="row">
                <div class="col-lg-4"><strong>Resultados:</strong> {#{{ entities.getTotalItemCount }}#}</div>
            </div>
            <table class="autobuses_records_list table table-striped table-bordered table-condensed table-hover">
                <thead>
                <tr>
                    {#<th>{{ knp_pagination_sortable(entities, 'GrupoBuses', 'a.id') }}</th>#}
                    <th>Nombre</th>
                    <th>Color</th>
                    <th>Color de Texto</th>

                    <th style="text-align: center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.nombre }}</td>
                        <td align="center">
                            <div style="width: 50px; height: 30px; background-color: {{ entity.color }}"></div>
                        </td>
                        <td align="center">
                            <div style="width: 50px; height: 30px; background-color: {{ entity.colorTexto }}"></div>
                        </td>
                        <td style="width: 24% !important; text-align: center;">
                            <div class="btn-group">
                                <a class="btn btn-success btn-xs"
                                   href="{{ path('grupobuses_show', { 'id': entity.id }) }}"><span
                                            class="glyphicon glyphicon-search"> Mostrar</span></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-danger btn-xs"
                                   href="{{ path('grupobuses_edit', { 'id': entity.id }) }}"><span
                                            class="glyphicon glyphicon-edit"> Editar</span></a>
                            </div>
                            <a href="#delete" data-href="{{ path('grupobuses_delete', {'id': entity.id}) }}"
                               class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span> {{ 'actions.delete' | trans({}, 'BusetaBodegaBundle') }}
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">{{ 'messages.no_results' | trans({}, 'BusetaBusesBundle') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {#<div class="autobuses-paginator row">#}
            {#<div class="col-lg-12 text-center">{{ knp_pagination_render(entities) }}</div>#}
            {#</div>#}
        </div>
    </div>

    <!-- Delete modal -->
    <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;"
         aria-hidden="true"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('a#filter_form_header').click(function () {
                if ($('a#filter_form_header span').hasClass('glyphicon-chevron-right')) {
                    $('a#filter_form_header span')
                            .removeClass('glyphicon-chevron-right')
                            .addClass('glyphicon-chevron-down');
                } else {
                    $('a#filter_form_header span')
                            .removeClass('glyphicon-chevron-down')
                            .addClass('glyphicon-chevron-right');
                }

                $('div#filter_form_component').slideToggle(500);
            });

            $('a#filter_form_submit_btn').click(function () {
                $('form#filter_form').submit();
            });

            $('a#filter_form_reset_btn').click(function () {
                $('form#filter_form').find('input').each(function () {
                    $(this).val(null);
                });
                $('form#filter_form').find('select').each(function () {
                    $(this).val(null);
                })
            });
        });
    </script>


    {#<script type="text/javascript">#}
    {#var deleteevent = new DeleteEvent('{{ path('chofer') }}', 'div#records_list');#}
    {#deleteevent.start_events();#}
    {#</script>#}

{% endblock javascripts %}