{#{% if reporte.diagnostico == null %}
        <div class="btn-group" style="margin-bottom: 8px;">
            <a class="btn btn-primary" href="#form_linea_modal"><span class="glyphicon glyphicon-plus-sign"></span> {{ 'linea.btn.adicionar'|trans({}, 'BusetaBodegaBundle') }}</a>
        </div>
{% endif %}#}

<div class="btn-group" style="margin-bottom: 8px;">
    <a class="btn btn-primary" href="#form_lineas_modal"><span class="glyphicon glyphicon-plus-sign"></span> {{ 'linea.btn.adicionar'|trans({}, 'BusetaBodegaBundle') }}</a>
</div>

<div class="paginator row">
    <div class="col-lg-4"><strong>Resultados:</strong> {{ entities.getTotalItemCount }}</div>
</div>

<table class="lineas_records_list table table-striped table-bordered table-condensed table-hover">
    <thead>
    <tr>
        {#<th>{{ knp_pagination_sortable(entities, 'linea.valor' | trans({}, 'BusetaTallerBundle'), 'd.valor') }}</th>#}
        <th>Código</th>
        <th style="text-align: left">Producto</th>
        <th style="text-align: left">Cant.Pedido</th>
        <th style="text-align: left">UOM</th>
        <th style="text-align: left">Costo</th>
        <th style="text-align: left">Impuesto</th>
        <th style="text-align: left">Moneda</th>
        <th style="text-align: left">%Descuento</th>
        <th style="text-align: left">Importe</th>
        <th style="border: 0;width: 1%;"></th>
        <th style="border: 0;width: 1%;"></th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.producto.codigo }}</td>
            <td>{{ entity.producto.nombre }}</td>
            <td>{{ entity.cantidadpedido }}</td>
            <td>{{ entity.uom }}</td>
            <td>{{ entity.preciounitario }}</td>
            <td>{{ entity.impuesto }}</td>
            <td>{{ entity.moneda }}</td>
            <td>{{ entity.porcientodescuento }}</td>
            <td>{{ entity.importelinea }}</td>
            <td class="text-center">
                <a class="btn btn-primary btn-xs" href="#edit" data-content="{{ entity.id }}"><i class="fa fa-edit"> Editar</i></a>
            </td>
            <td class="text-center">
                <a class="btn btn-danger btn-xs" href="#delete" data-content="{{ entity.id }}"><i class="fa fa-remove"> Eliminar</i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="10">{{ 'messages.no_results' | trans({}, 'BusetaBodegaBundle') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="lineas-paginator row">
    <div class="col-lg-4"></div>
    <div class="col-lg-12" style="text-align: center">{{ knp_pagination_render(entities) }}</div>
</div>

<div class="modal" id="form_lineas_modal"></div>
<div class="modal" id="form_pedidocompralinea_delete_modal"></div>
