{% form_theme form '@BusetaBodega/Form/fields.twig' %}

{% form_theme form.impuesto _self %}

<div class="modal" id="form_lineas_modal" tabindex="-1" role="dialog" aria-labelledby="createLineas" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createLineas">{{ 'linea.modal.title'|trans({},'BusetaBodegaBundle') }}</h4>
            </div>
            <div class="modal-body">
                <form name="{{ form.vars.full_name }}" id="{{ form.vars.id }}" action="{{ form.vars.action }}"
                      method="post" enctype="multipart/form-data">
                    {% if form.vars.method == 'PUT' %}
                        <input type="hidden" name="_method" value="PUT"/>
                    {% endif %}
                    {{ form_widget(form) }}
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" id="btn_lineas_cancel" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left"></span>
                    {{ 'actions.cancel' | trans({}, 'BusetaBodegaBundle') }}</a>
                <a href="#" class="btn btn-primary" id="btn_lineas_save"><span class="glyphicon glyphicon-save"></span>
                    {{ 'actions.save' | trans({}, 'BusetaBodegaBundle') }}</a>
            </div>
        </div>
    </div>
</div>


{% block choice_widget_options -%}
    {% if options is defined %}
        {% for group_label, choice in options %}
            {%- if choice is iterable -%}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{- block('choice_widget_options') -}}
                </optgroup>
            {%- else -%}
                <option data-tipo="{{ choice.data.tipo }}" data-tarifa="{{ choice.data.tarifa }}" value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
            {%- endif -%}
        {% endfor %}
    {% endif %}
{%- endblock choice_widget_options %}
