{% extends "BusetaTallerBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Adicionar nueva tarea de mantenimiento
{% endblock %}

{% block area_trabajo %}

    <form action="{{ path('tareamantenimiento_create') }}" method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}

        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.autobus) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.grupos) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.subgrupos) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.tarea) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.kilometraje) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.horas) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.recorrido_inicio) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form.ultimo_cumplio) }}
            </div>
        </div>


        <div class="row show-grid">
            <div class="col-md-4">

                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('tareamantenimiento') }}"> Cancelar</a>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    </form>

{% endblock %}


{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('vendors/funciones_datetime_new.js') }}"></script>
    <script>
        $(function(){
            $('#{{ form.grupos.vars.id }}').change(function(){
                var data = {
                    grupo_id: $(this).val()
                };

                $.ajax({
                    type: 'GET',
                    url: '{{ path("tareamantenimiento_ajax_grupos_subgrupos") }}',
                    data: data,
                    success: function(data) {
                        var values = $.parseJSON(data);
                        var $subgrupo_selector = $('#{{ form.subgrupos.vars.id }}');

                        $subgrupo_selector.html('<option>---Seleccione un subgrupo---</option>');

                        for (var i=0, total = values.length; i < total; i++) {
                            $subgrupo_selector.append('<option value="' + values[i].id + '">' + values[i].valor + '</option>');
                        }
                    }
                });
            });


        });
    </script>
{% endblock %}