<form id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" action="{{ form.vars.action }}" method="POST" enctype="multipart/form-data">
    {% if form.vars.method == 'PUT' %}
        <input type="hidden" name="_method" value="PUT"/>
    {% endif %}
    {{ form_errors(form) }}
    {{ form_row(form.id) }}
    {{ form_row(form._token) }}

    <div class="row">
        <div class="col-lg-4">
            {{ form_row(form.matricula) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.numero) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.numeroChasis) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form_row(form.numeroMotor) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.pesoTara) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.pesoBruto) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form_row(form.numeroPlazas) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.numeroCilindros) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.cilindrada) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form_row(form.potencia) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.fechaIngreso) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.validoHasta) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form_row(form.estilo) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.fechaRtv1) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.fechaRtv2) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form_row(form.combustible) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.marca) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.modelo) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form_row(form.color) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.marcaMotor) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.capacidadTanque) }}
        </div>

        {% if form.offsetExists('kilometraje') %}
        <div class="col-lg-4">
            {{ form_row(form.kilometraje) }}
        </div>
        {% endif %}

        {% if form.offsetExists('horas') %}
        <div class="col-lg-4">
            {{ form_row(form.horas) }}
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="checkbox">
                <label>
                    <input id="rampas" type="checkbox"><strong>Tiene Rampas</strong>
                </label>
            </div>
            {{ form_widget(form.rampas) }}
        </div>

        <div class="col-lg-4">
            <div class="checkbox">
                <label>
                    <input id="barras" type="checkbox"><strong>Tiene Barras</strong>
                </label>
            </div>
            {{ form_widget(form.barras) }}
        </div>

        <div class="col-lg-4">
            <div class="checkbox">
                <label>
                    <input id="camaras" type="checkbox"><strong>Tiene Cámaras</strong>
                </label>
            </div>
            {{ form_widget(form.camaras) }}
        </div>

        <div class="col-lg-4">
            <div class="checkbox">
                <label>
                    <input id="lectorCedulas" type="checkbox"><strong>Tiene Lector de Cédulas</strong>
                </label>
            </div>
            {{ form_widget(form.lectorCedulas) }}
        </div>

        <div class="col-lg-4">
            <div class="checkbox">
                <label>
                    <input id="publicidad" type="checkbox"><strong>Tiene Publicidad</strong>
                </label>
            </div>
            {{ form_widget(form.publicidad) }}
        </div>

        <div class="col-lg-4">
            <div class="checkbox">
                <label>
                    <input id="gps" type="checkbox"><strong>Tiene GPS</strong>
                </label>
            </div>
            {{ form_widget(form.gps) }}
        </div>

        <div class="col-lg-4">
            <div class="checkbox">
                <label>
                    <input id="wifi" type="checkbox"><strong>Tiene Wifi</strong>
                </label>
            </div>
            {{ form_widget(form.wifi) }}
        </div>
    </div>
    <br/>

    {# buttons group #}
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" id="btn_autobus_save" href="#"><span class="glyphicon glyphicon-save"></span>
                {{ 'actions.save' | trans({}, 'BusetaBusesBundle') }}</a>
            <a class="btn btn-default" id="btn_autobus_cancel" href="{{ path('autobus') }}"><span class="glyphicon glyphicon-chevron-left"></span>
                {{ 'actions.list' | trans({}, 'BusetaBusesBundle') }}</a>
        </div>
    </div>

</form>
