{% extends "BusetaBusesBundle::layout.html.twig" %}

{% form_theme form 'BusetaTemplateBundle:Widgets:collection_widget_archivo_adjunto.html.twig' %}

{% block title %}
    Adicionar Nuevo Autobús
{% endblock %}

{% block titulo_encabezado %}
    Adicionar Nuevo Autobús
{% endblock %}

{% block area_trabajo %}

    <div class="row">
        <div class="col-lg-12">
            {# Nav tabs #}
            <ul class="nav nav-tabs">
                <li class="active"><a href="#basicos" data-toggle="tab">Datos Básicos</a></li>
                <li><a id="autobusExtras" href="#informacionextra" data-toggle="tab">Información Extra</a></li>
                <li><a id="autobusFiltros" href="#filtros" data-toggle="tab">Filtros</a></li>
                <li><a id="autobusImagenes" href="#imagenes" data-toggle="tab">Imágenes</a></li>
                <li><a id="archivosAdjuntos" href="#archivosadjuntos" data-toggle="tab">Archivos adjuntos</a></li>
            </ul>

            {# Tab panes #}
            <div class="tab-content" style="padding-top: 20px;">
                <!-- TAB BASICOS-->
                <div class="tab-pane fade in active" id="basicos">
                    {% include '@BusetaBuses/Autobus/form_template.html.twig' with {'form': form} %}
                </div>
                <div class="tab-pane fade" id="informacionextra"></div>
                <div class="tab-pane fade" id="filtros"></div>
                <div class="tab-pane fade" id="imagenes"></div>
                <div class="tab-pane fade" id="archivosadjuntos"></div>
            </div>

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

{% endblock %}

{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Tabs actions template -->
    {% include '@BusetaBuses/Autobus/template_tabs_actions.html.twig' %}

    <!-- Fechas script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabodega/js/funciones_datetime.js') }}"></script>

    <!-- Dependencia marca y modelo script -->
    {% include '@BusetaBuses/Vehiculo/template_marcaModelo.html.twig' with {'form': form} %}

    <!-- Autobus-Basico script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabuses/js/autobus/autobus_basico.js') }}"></script>
    <!-- Archivo Adjunto script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabuses/js/autobus/autobus_archivoadjunto.js') }}"></script>
    <!-- Autobus-InformacionExtra script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabuses/js/autobus/autobus_informacion_extra.js') }}"></script>
    <!-- Autobus-Filtros script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabuses/js/autobus/autobus_filtros.js') }}"></script>
    <!-- Autobus-Imagenes script -->
    <script type="text/javascript" src="{{ asset('bundles/busetabuses/js/autobus/autobus_imagenes.js') }}"></script>

    <!-- Initialize script -->
    <script type="text/javascript">
        $(function (){
            // init autobus
            autobus._load();
        });
    </script>

{% endblock javascripts %}
