<div id="datos-persona">
    <div class="row">
        <div class="col-lg-12 form-group">
            {{ form_row(is_persona) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 form-group">
            <div class="panel panel-default">
                <a href="#" class="thumbnail">
                    {% if entity is not defined
                    or entity.persona is not defined
                    or entity.persona.foto is not defined
                    or entity.persona.foto is null %}
                        <img src="{{ asset('bundles/olimpiadatemplate/images/default.png') }}" alt="" width="152" height="120"/>
                    {% else %}
                        <img src="{{ asset('uploads/resources/') }}{{ entity.persona.foto.path }}" alt="" width="152" height="120"/>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="col-lg-3 form-group">
            {{ form_row(form.foto) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 form-group">
            {{ form_row(form.cedula) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(form.fechaNacimiento) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(form.edad) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 form-group">
            {{ form_row(form.nacionalidad) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(form.nombreMadre) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(form.nombrePadre) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 form-group">
            {{ form_row(form.email) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(form.sexo) }}
        </div>
        {#<div class="col-lg-4 form-group">#}
            {#{{ form_label(form.direccion) }}#}
            {#{{ form_errors(form.direccion) }}#}
            {#<div class="input-group">#}
                {#{{ form_widget(form.direccion) }}#}
                {#<span class="input-group-btn">#}
                    {#<a href="#" class="btn btn-default add-btn-address" type="button" data-toggle="tooltip"#}
                       {#data-placement="left" title="Adicionar nueva dirección"><span class="glyphicon glyphicon-plus"></span></a>#}
                {#</span>#}
            {#</div>#}
        {#</div>#}
    </div>
    <div class="row">
        <div class="col-lg-4 form-group">
            {{ form_row(form.profesion) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(form.trabaja) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(form.idioma1) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 form-group">
            {{ form_row(form.idioma2) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(form.pasatiemposHabilidades) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(form.estadoCivil) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 form-group">
            {{ form_row(form.tallaCamiseta) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(form.tallaPantalon) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(form.tallaShort) }}
        </div>
    </div>
    {{ form_widget(form) }}
</div>