{% extends '@OlimpiadaTemplate/base_template.html.twig' %}

{% block headline %} Editar datos del tercero con identificación: "{{ entity.identificador }}" {% endblock headline %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 ">
            {{ form_start(edit_form) }}
            {# Nav tabs #}
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#basicos" data-toggle="tab">Tercero</a>
                </li>
                <li>
                    <a href="#persona" data-toggle="tab">Persona</a>
                </li>
                <li>
                    <a href="#cliente" data-toggle="tab">Cliente</a>
                </li>
                <li>
                    <a href="#proveedor" data-toggle="tab">Proveedor</a>
                </li>
                <li>
                    <a href="#institucion" data-toggle="tab">Institución</a>
                </li>
            </ul>

            {# Tab panes #}
            <div class="tab-content" style="padding-top: 20px;">
                <!-- TAB BASICOS-->
                <div class="tab-pane fade in active" id="basicos">
                    {% include '@HatueyERPTerceros/Tercero/_tercero_parameters_template.html.twig' with {'form': edit_form} %}
                </div>

                <div class="tab-pane fade" id="persona">
                    {% include '@HatueyERPTerceros/Persona/_persona_parameters_template.html.twig' with {'form': edit_form.persona, 'is_persona': edit_form.is_persona, 'entity': entity } %}
                </div>

                <!-- TAB EXTRAS-->
                <div class="tab-pane fade" id="cliente">
                    {% include '@HatueyERPTerceros/Cliente/_cliente_parameters_template.html.twig' with {'form': edit_form} %}
                </div>

                <!-- TAB PROVEEDOR-->
                <div class="tab-pane fade" id="proveedor">
                    {% include '@HatueyERPTerceros/Proveedor/_proveedor_parameters_template.html.twig' with {'form': edit_form} %}
                </div>

                <!-- TAB INSTITUCION-->
                <div class="tab-pane fade" id="institucion">
                    {% include '@HatueyERPTerceros/Institucion/_institucion_parameters_template.html.twig' with {'form': edit_form} %}
                </div>

            </div>

            {# buttons group #}
            <div class="row show-grid">
                <div class="col-md-4 form-group">
                    <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                    <a class="btn btn-primary" href="{{ path('hatuey_erp_tercero') }}"> Cancelar</a>
                </div>
            </div>
            {{ form_rest(edit_form) }}
            {{ form_end(edit_form) }}
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

    {# modal panel #}
    <!-- Modal -->
    <div id="formAddressModal">
    </div>


{% endblock content %}

{% block javascripts %}
    <script type="text/javascript">
        $(function(){
            var padconfig = $pickadateconfig;
            padconfig.firstDay = 1;
            padconfig.selectYears = 80;
            padconfig.selectMonths = true;
            padconfig.max =  new Date();

            $("#hatueyerp_tercerosbundle_tercero_activo").bootstrapSwitch($switchconfig);
            $("#hatueyerp_tercerosbundle_tercero_is_persona").bootstrapSwitch($switchconfig);
            $("#hatueyerp_tercerosbundle_tercero_persona_trabaja").bootstrapSwitch($switchconfig);
            $("#hatueyerp_tercerosbundle_tercero_is_cliente").bootstrapSwitch($switchconfig);
            $("#hatueyerp_tercerosbundle_tercero_is_proveedor").bootstrapSwitch($switchconfig);
            $("#hatueyerp_tercerosbundle_tercero_is_institucion").bootstrapSwitch($switchconfig);

            var fechanacimiento_input = $('input#{{ edit_form.persona.fechaNacimiento.vars.id }}');
            fechanacimiento_input.pickadate(padconfig);
            var fechanacimiento = fechanacimiento_input.val();
            $('input:hidden[name^="hatueyerp_tercerosbundle_tercero[persona][fechaNacimiento]_submit"]').val(fechanacimiento);

            $.get(Routing.generate('terceros_direccion_modal_new', {'id':{{ entity.id }}}))
                    .done(function(response){
                        $('div#formAddressModal').replaceWith(response);
                    });
        });
    </script>
{% endblock javascripts %}