{#*******************formulario de filtro para que funcione la busqueda en TABS**********************#}
{#
{% set display = '' %}
    {% set headericon = 'glyphicon-chevron-down' %}
    {% if (filter_form.vars.value.alma is null or filter_form.vars.value.alma is empty)
    and (filter_form.vars.value.fechaMovimiento is null or filter_form.vars.value.fechaMovimiento is empty)
    %}
        {% set display = 'display: none;' %}
        {% set headericon = 'glyphicon-chevron-right' %}
    {% endif %}

<h4>
    <a id="filter_form_header" style="cursor: pointer;">
        <span class="glyphicon {{ headericon }}"></span>
        Búsqueda
    </a>
</h4>

<div id="filter_form_component" style="{{ display }}">
    <form id="filter_form" method="{{ filter_form.vars.method }}" action="{{ filter_form.vars.action }}">
        <div class="row">
            <div class="col-lg-4">{{ form_row(filter_form.tipoMovimiento ) }}</div>
            <div class="col-lg-4">{{ form_row(filter_form.alma) }}</div>
            <div class="col-lg-4">{{ form_row(filter_form.producto) }}</div>
            &#123;&#35;<div class="col-lg-4">{{ form_row(filter_form.serial ) }}</div>&#35;&#125;
            &#123;&#35;<div class="col-lg-4">{{ form_row(filter_form.categoriaProd) }}</div>&#35;&#125;
            <div class="col-lg-4">{{ form_row(filter_form.fechaInicio) }}</div>
            <div class="col-lg-4">{{ form_row(filter_form.fechaFin) }}</div>
        </div>
        {{ form_widget(filter_form._token) }}

        <div class="filter-actions" style="margin-top: 8px;">
            <a id="filter_form_submit_btn" class="btn btn-success btn-small">
                <span class="glyphicon glyphicon-filter"></span> Filtrar
            </a>
            <a id="filter_form_reset_btn" class="btn btn-danger btn-small">
                <span class="glyphicon glyphicon-repeat"></span> Reiniciar
            </a>
        </div>
    </form>
</div>

<hr/>#}

{#******************* fin de formulario de filtro para que funcione la busqueda en TABS**********************#}

<div class="paginator row">
    <div class="col-lg-12"><strong>Resultados:</strong> {{ entities.getTotalItemCount }}</div>
    <div class="col-lg-12"><strong>Producto:</strong> {{ producto }}</div>
</div>

<table class="bitacoraserial_records_list table table-striped table-bordered table-condensed table-hover">
    <thead>
    <tr>
        <th style="text-align: left">Cantidad Movida</th>
        <th style="text-align: left">Fecha Movimiento</th>
        <th style="text-align: left">Tipo Movimiento</th>
        <th style="text-align: left">Bodega</th>

    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.cantidadMovida }}</td>
            <td>{{ entity.fechaMovimiento | date('d/m/Y h:i a') }}</td>
            <td>{{ entity.tipoMovimiento }}</td>
            <td>{{ entity.almacen }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">{{ 'messages.no_results' | trans({}, 'BusetaBodegaBundle') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="paginator row">
    <div class="col-lg-4"></div>
    <div class="col-lg-12" style="text-align: center">{{ knp_pagination_render(entities) }}</div>
</div>

{#*******************script para que funcione la busqueda en TABS**********************#}

{#<script type="text/javascript">
    $(document).ready(function () {
        $('a#filter_form_header').on('click', function (e) {
            e.preventDefault();

            if ($('a#filter_form_header span').hasClass('glyphicon-chevron-right')) {
                $('a#filter_form_header span')
                        .removeClass('glyphicon-chevron-right')
                        .addClass('glyphicon-chevron-down');
            } else {
                $('a#filter_form_header span')
                        .removeClass('glyphicon-chevron-down')
                        .addClass('glyphicon-chevron-right');
            }

            $('div#filter_form_component').slideToggle(500);
        });

        $('a#filter_form_submit_btn').on('click', function (e) {
            e.preventDefault();

            $('form#filter_form').submit();
        });

        $('a#filter_form_reset_btn').on('click', function (e) {
            e.preventDefault();

            $('form#filter_form').find('input').each(function () {
                $(this).val(null);
            });
            $('form#filter_form').find('select').each(function () {
                $(this).val(null);
            })
        });

    });

</script>#}


{#*******************script para que funcione la busqueda en TABS**********************#}