<form id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" action="{{ form.vars.action }}" method="POST" enctype="multipart/form-data">
    {% if form.vars.method == 'PUT' %}
        <input type="hidden" name="_method" value="PUT"/>
    {% endif %}
    {{ form_errors(form) }}
    {{ form_row(form.id) }}
    {{ form_row(form._token) }}
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.numero_documento) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.numero_referencia) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.tercero) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.almacen) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.fecha_pedido) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.forma_pago) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.condiciones_pago) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.moneda) }}
        </div>

        {#<div class="col-md-4">
            {{ form_row(form.estado_documento) }}
        </div>#}

        <div class="col-md-12">
            {{ form_row(form.observaciones) }}
        </div>
    </div>

    <hr/>
    <div class="row">
        {#<div class="col-md-4">
            {{ form_row(form.impuesto) }}
        </div>#}

        <div class="col-md-4">
            {{ form_row(form.descuento) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.importe_total_lineas) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.importeImpuesto) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.importeDescuento) }}
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.importeCompra) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.importe_total) }}
        </div>
    </div>

    {# buttons group #}
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" id="btn_necesidadmaterial_save" href="#"><span class="glyphicon glyphicon-save"></span>
                {{ 'actions.save' | trans({}, 'BusetaBodegaBundle') }}</a>
            <a class="btn btn-default" id="btn_necesidadmaterial_cancel" href="{{ path('necesidadmaterial') }}"><span class="glyphicon glyphicon-chevron-left"></span>
                {{ 'actions.back' | trans({}, 'BusetaBodegaBundle') }}</a>
        </div>
    </div>
</form>
