{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block title %}
    Datos de la Necesidad de Material
{% endblock %}

{% block titulo_encabezado %}
    Datos de Necesidad de Material
{% endblock %}

{% block area_trabajo %}

    <table class="table table-striped" style="font-size: 16px;">
        <tbody>

            <tr>
                <th>Nro.Documento</th>
                <td>{{ entity.numeroDocumento }}</td>
            </tr>

            <tr>
                <th>Nro.Referencia</th>
                <td>{{ entity.consecutivoCompra }}</td>
            </tr>

            <tr>
                <th>Fecha Pedido</th>
                <td>{{ entity.fechaPedido | date('d/m/Y') }}</td>
            </tr>

            <tr>
                <th>Almacén</th>
                <td>{{ entity.almacen }}</td>
            </tr>

            <tr>
                <th>Forma de Pago</th>
                <td>{{ entity.formaPago }}</td>
            </tr>

            <tr>
                <th>Condiciones de Pago</th>
                <td>{{ entity.condicionesPago }}</td>
            </tr>

            <tr>
                <th>Moneda</th>
                <td>{{ entity.moneda }}</td>
            </tr>

            <tr>
                <th>Importe Total Líneas</th>
                <td>{{ entity.importeTotalLineas }}</td>
            </tr>

            <tr>
                <th>Importe Total</th>
                <td>{{ entity.importeTotal }}</td>
            </tr>

            <tr>
                <th>Tercero (Nombres y apellidos)</th>
                <td>{{ entity.tercero.nombres }} {{ entity.tercero.apellidos }}</td>
            </tr>

            <tr>
                <th>Estado Documento</th>
                <td>{{ ('estado.'~entity.estadodocumento) | trans({}, 'BusetaTallerBundle') }}</td>
            </tr>

            <tr>
                <th>Líneas existentes</th>
                <td>
                    <table class="table table-striped" style="font-size: 16px;">
                        <th>Línea</th>
                        <th>Producto</th>
                        <th>Cant. Pedido</th>
                        <th>UOM</th>
                        <th>Precio Unitario</th>
                        <th>Impuesto</th>
                        <th>%Descuento</th>
                        <th>Importe Línea</th>

                        {% for linea in entity.necesidadMaterialLineas %}
                        <tr>
                            <td>{{ linea.linea }}</td>
                            <td>{{ linea.producto.nombre }}</td>
                            <td>{{ linea.cantidadpedido }}</td>
                            <td>{{ linea.uom.valor }}</td>
                            <td>{{ linea.preciounitario }}</td>
                            <td>{{ linea.impuesto.nombre }}</td>
                            <td>{{ linea.porcientodescuento }}</td>
                            <td>{{ linea.importelinea }}</td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">
                                    <span class="label label-danger">No existen líneas de necesidad de materiales disponibles</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-actions">
        <a class="btn btn-primary" href="{{ path('necesidadmaterial_edit', { 'id': entity.id }) }}"> Editar</a>
        <a class="btn btn-primary" href="{{ path('procesarNecesidad', { 'id': entity.id }) }}"> Procesar</a>
        <a class="btn btn-primary" href="{{ path('necesidadmaterial') }}"> Listado</a>
        <a href="#delete" data-href="{{ path('necesidadmaterial_delete', {'id': entity.id}) }}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> {{ 'actions.delete' | trans({}, 'BusetaBodegaBundle') }}</a>
    </div>

    {% include 'BusetaBodegaBundle:NecesidadMaterial:delete_modal.html.twig' with { 'form' : delete_form, 'entity' : entity } %}

{% endblock %}


{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var necesidadmaterialdeleteevent = new DeleteEvent('{{ path('necesidadmaterial') }}', 'div#necesidadmaterial_records_list', false);
        necesidadmaterialdeleteevent.start_events();
    </script>
{% endblock %}
