{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Informe de Stock
{% endblock %}

{% block titulo_encabezado %}
    Informe de Stock
{% endblock %}

{% block area_trabajo %}

    <h4><a id="busqueda_informeStock" style="cursor: pointer; "><i class="icon-chevron-down"></i>Búsqueda de InformeStock</a></h4>
    <div id="busqueda_informeStock_div" class="panel panel-default" style="display: none;">
        <div class="panel-body">
            <fieldset>
                <legend><h4>Búsqueda Avanzada</h4></legend>

                <form action="{{ path('informeStock') }}" method="get">
                <div class="row show-grid" style="padding-top: 0px">
                    <div class="col-md-4">
                        {{ form_row(informeStock.almacen) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(informeStock.producto) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(informeStock.fecha) }}
                    </div>
                </div>

                </form>

                <div class="row show-grid">
                    <div class="col-md-6">
                        <input class="btn btn-primary btn-bg" style="width: 100px;" value="Buscar" name="buscar" onclick="setFilters()">

                        <div class="btn-group">
                            <a class="btn btn-success btn-bg" href="{{ path('informeStock') }}"><i class="fa fa-search"> Reiniciar Búsqueda</i></a>
                        </div>
                    </div>
                </div>


            </fieldset>
        </div>
    </div>

    <div class="informeStocks-result-table" style="text-align: center;"> </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('vendors/funciones_datetime_new.js') }}"></script>

{% endblock %}