{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Informe de Stock' %}

{% block area_trabajo %}

    <div id="busqueda_informeStock_div" class="panel panel-default" style="display: block;">
        <div class="panel-body">
            <fieldset>
                <form action="{{ path('bodega_informe_stock') }}" method="post">

                    <div class="row show-grid" style="padding-top: 0px">
                        <div class="col-md-4">
                            {{ form_row(informeStock.almacen) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(informeStock.categoriaProducto) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(informeStock.fecha) }}
                        </div>
                    </div>
                    <div class="row show-grid">
                        <div class="col-md-6">
                            <input class="btn btn-primary btn-bg" style="width: 100px;" type="submit" value="Buscar" name="buscar">

                            <div class="btn-group">
                                <a class="btn btn-success btn-bg" href="{{ path('bodega_informe_stock') }}"><i class="fa fa-search"> Reiniciar Búsqueda</i></a>
                            </div>
                        </div>
                    </div>

                </form>

            </fieldset>
        </div>
    </div>

    {%  if almacenes != null %}
        {% for almacen in almacenes %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <h4>Bodega "{{ almacen.nombre }}"</h4>

                            <table class="records_list table table-striped table-bordered table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th  style="text-align: left;">Producto</th>
                                    <th>Cantidad de productos</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% set comprobar = '' %}

                                {% for entity in entities %}

                                    {% if entity.almacen == almacen %}
                                        <tr>
                                            <td>{{ entity.producto }}</td>
                                            <td  style="text-align: center;">{{ entity.cantidad }}</td>
                                        </tr>

                                        {% set comprobar = 'ok' %}

                                    {% endif %}

                                {% endfor %}

                                {% if comprobar != 'ok' %}
                                    <tr>
                                        <td colspan="12">No se encontraron registros de productos para esta bodega.</td>
                                    </tr>
                                {% endif %}

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>



        {% endfor %}

        {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <h4>No se encontraron registros para los parámetros de búsqueda seleccionados.</h4>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#data_busqueda_informe_stock_type_fecha').datetimepicker({
            'format': 'DD/MM/YYYY'
        });
    </script>

{% endblock %}
