{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Informe de Stock
{% endblock %}

{% block titulo_encabezado %}
    Informe de Stock
{% endblock %}

{% block area_trabajo %}

    {% for entity in entities %}

        <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
            <!-- /.panel-heading -->
                <div class="panel-body">
                    <h4>Almacén "{{ entity.almacen }}"</h4>

                    <table class="records_list table table-striped table-bordered table-condensed table-hover">
                        <thead>
                        <tr>
                            <th  style="text-align: left;">Producto</th>
                            <th>Cantidad de productos</th>
                            <th>UOM</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ entity.producto }}</td>
                                <td  style="text-align: center;">{{ entity.cantidadProductos }}</td>
                                <td  style="text-align: center;">{{ entity.uom }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% else %}
        <tr>
            <td colspan="12">No se encontraron registros en el sistema.</td>
        </tr>
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>

{% endblock %}