{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Informe de Stock' %}

{% block area_trabajo %}

    <div id="busqueda_informeStock_div" class="panel panel-default" style="display: block;">
        <div class="panel-body">
            <fieldset>
                <form action="{{ path('bodega_informe_stock') }}" method="post">

                    <div class="row show-grid" style="padding-top: 0px">
                        <div class="col-md-4">
                            {{ form_row(informeStock.almacen) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(informeStock.categoriaProducto) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(informeStock.fecha) }}
                        </div>
                    </div>
                    <div class="row show-grid">
                        <div class="col-md-6">
                            <input class="btn btn-primary btn-bg" style="width: 100px;" type="submit" value="Buscar" name="buscar">

                            <div class="btn-group">
                                <a class="btn btn-success btn-bg" href="{{ path('bodega_informe_stock') }}"><i class="fa fa-search"> Reiniciar Búsqueda</i></a>
                            </div>
                        </div>
                    </div>

                </form>

            </fieldset>
        </div>
    </div>

    {%  if almacenes != null %}
        {% for almacen in almacenes %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <h4>Bodega "{{ almacen.nombre }}"</h4>

                            <table class="records_list table table-striped table-bordered table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th  style="text-align: left;">Producto</th>
                                    <th>Cantidad de productos</th>
                                    <th style="text-align: center">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% set comprobar = '' %}

                                {% for entity in entities %}

                                    {% if entity.almacen == almacen %}
                                        <tr>
                                            <td>{{ entity.producto }}</td>
                                            <td  style="text-align: center;">{{ entity.cantidad }}</td>
                                            <td style="width: 24% !important; text-align: center;">
                                                <div class="btn-group" style="padding-bottom: 8px;">
                                                    <a id="mostrarSeriales{{ entity.producto.id }}" prod_id="{{ entity.producto.id }}" data-toggle="modal" data-target="#showSerials" class="btn btn-primary" href="#"><i class="fa"></i>Ver seriales</a>
                                                </div>
                                            </td>
                                        </tr>

                                        {% set comprobar = 'ok' %}

                                    {% endif %}

                                {% endfor %}

                                {% if comprobar != 'ok' %}
                                    <tr>
                                        <td colspan="12">No se encontraron registros de productos para esta bodega.</td>
                                    </tr>
                                {% endif %}

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <h4>No se encontraron registros para los parámetros de búsqueda seleccionados.</h4>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}

    <div class="modal" id="form_seriales_modal"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#data_busqueda_informe_stock_type_fecha').datetimepicker({
            'format': 'DD/MM/YYYY'
        });
        jQuery(document).ready(function() {
            $('#data_busqueda_informe_stock_type_almacen').chosen();
            $('#data_busqueda_informe_stock_type_categoriaProducto').chosen();

            {% for entity in entities %}
            $('#mostrarSeriales{{ entity.producto.id }}').on('click', showSeriales);
            {% endfor %}
        });

        function paginatorEvents() {
            $('div.paginator ul.pagination').find('a.paginator-link').on('click', function(e){
                e.preventDefault();

                var url = Routing.generate('seriales_modal_action');
                if ($(this).hasClass('paginator-link')) {
                    url = $(this).attr('href');
                }

                $.get(url)
                        .done(function (response, textStatus, jqXHR) {
                            $('div#listado_seriales').replaceWith($(response.view).find('div#listado_seriales'));
                            paginatorEvents();
                        });
            });
        }

        function ajaxFilterSeriales(event)  {
            var url = Routing.generate('seriales_modal_action');

            $('form#buseta_bitserial_filter').ajaxSubmit({
                success: function(response) {
                    $('div#listado_seriales').replaceWith($(response.view).find('div#listado_seriales'));
                    paginatorEvents();
                },
                error:  function (jqXHR, textStatus, errorThrown) {
                    if(jqXHR.status == 500 && jqXHR.responseText.message != undefined) {
                        $btalerts.addDanger(jqXHR.responseText.message);
                    } else {
                        $btalerts.addDanger('{{ 'messages.unexpected_error' | trans({}, 'BusetaBodegaBundle') }}');
                    }
                },
                url: url,
                dataType: 'json'
            });
        }

        function showSeriales(e) {
            e.preventDefault();
            var stock_id = $('select#data_busqueda_informe_stock_type_almacen').selected().val();
            var prod_id_ = $(this).attr('prod_id');
            var url = Routing.generate('seriales_modal_action', {'product': prod_id_, 'stock': stock_id});
            if ($(this).hasClass('paginator-link')) {
                url = $(this).attr('href');
            }
            $.get(url)
                    .done(function (response, textStatus, jqXHR) {
                        $('div#form_seriales_modal').replaceWith($(response.view));
                        $('div#form_seriales_modal').modal('show');

                        $('form#buseta_bitserial_filter')
                                .find('input,select')
                                .on('keyup', ajaxFilterSeriales)
                                .on('change', ajaxFilterSeriales);
                        paginatorEvents();
                    });
        }
    </script>

{% endblock %}
