<div class="modal" id="form_seriales_modal" tabindex="-1" role="dialog" aria-labelledby="showSerials" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="showSerials">{{ 'informe_stock.modal.title'|trans({},'BusetaBodegaBundle') }}</h4>
            </div>
            <div class="modal-body">
                <form name="{{ form.vars.full_name }}" id="{{ form.vars.id }}" action="{{ form.vars.action }}"

                        {{ form_errors(form) }}

                      method="{{ form.vars.method }}" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-lg-4">{{ form_row(form.serial) }}</div>
                        <div class="col-lg-4">{{ form_row(form.almacen) }}</div>
                        <div class="col-lg-4">{{ form_row(form.producto) }}</div>
                    </div>

                    {{ form_row(form._token) }}
                </form>

                <div id="listado_seriales">
                    <div class="paginator row">
                        <div class="col-lg-4"><strong>Resultados:</strong> {{ entities.getTotalItemCount }}</div>
                    </div>

                    <table class="records_list table table-striped table-bordered table-condensed table-hover">
                        <thead>
                        <tr>
                            <th style="text-align: left;">Número de serie</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.serial }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="12">{{ 'messages.no_results' | trans({}, 'BusetaBodegaBundle') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="paginator row">
                        <div class="col-lg-12 text-center">{{ knp_pagination_render(entities) }}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
