<div class="panel panel-default">
    <!-- Default panel contents -->

    {% set cancelado = entity.cancelado %}

    <li class="list-group-item"><b>Número:</b>  {{ entity.numero }}</li>
    <li class="list-group-item"><b>Autobus:</b>  {{ entity.autobus }}</li>
    <li class="list-group-item"><b>Medio:</b> Sin medio reporte</li>
    <li class="list-group-item"><b>Reporta:</b> Sin reporte</li>

    {% if cancelado == 1 %}
        <li class="list-group-item"><b>¿Cancelado?:</b> Si</li>
    {% else %}
        <li class="list-group-item"><b>¿Cancelado?:</b> No</li>
    {% endif %}

    {% if reportes != null %}


        <!-- Resumen Reporte -->
        <ul class="list-group">
            <li class="list-group-item"><b>Número:</b>  {{ reportes.numero }}</li>
            <li class="list-group-item"><b>Medio:</b>   {{ reportes.medioReporte }}</li>
            <li class="list-group-item"><b>Reporta:</b> {{ reportes.reporta }}</li>
            {% if reportes.esUsuario %}
                <li class="list-group-item"><b>¿Es Usuario de la Empresa?:</b> Sí</li>
                <li class="list-group-item">
                    <div class="panel panel-default" style="margin: 10px">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h3 class="panel-title">Datos de Persona</h3>
                        </div>

                        <!-- Datos de Persona -->
                        <ul class="list-group">
                            <li class="list-group-item"><b>Nombre:</b>   {{ reportes.nombrePersona }}</li>
                            <li class="list-group-item"><b>Email:</b>    {{ reportes.emailPersona }}</li>
                            <li class="list-group-item"><b>Teléfono:</b> {{ reportes.telefonoPersona }}</li>
                        </ul>

                    </div>
                </li>
            {% else %}
                <li class="list-group-item"><b>¿Es Usuario de la Empresa?:</b> No</li>
            {% endif %}

            {% if cancelado == 1 %}
                <li class="list-group-item"><b>¿Cancelado?:</b> Si</li>
            {% else %}
                <li class="list-group-item"><b>¿Cancelado?:</b> No</li>
            {% endif %}

            <li class="list-group-item">
                <div class="panel panel-default" style="margin: 10px">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h3 class="panel-title">Observaciones de Solicitud</h3>
                    </div>

                    <!-- Observaciones de Solicitud -->
                    <ul class="list-group">
                        {% for reporte in reportes.observaciones %}
                            <li class="list-group-item">{{ reporte.valor }}</li>
                        {% else %}
                            <li class="list-group-item">No existen observaciones de solicitud disponibles</li>
                        {% endfor %}
                    </ul>

                </div>
            </li>





        </ul>
    {% else %}
        <!-- Resumen Solicitud -->
        <ul class="list-group">


            <li class="list-group-item">
                <div class="panel panel-default" style="margin: 10px">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h3 class="panel-title">Observaciones de Solicitud</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"> No fueron asociados solicitudes al diagnóstico.</li>
                    </ul>
                    <!-- Observaciones del Reporte -->


                </div>
            </li>
        </ul>




    {% endif %}

    <li class="list-group-item">

        <div class="panel panel-default" style="margin: 10px">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">Tareas del Diagnóstico</h3>
            </div>


            <ul class="list-group">


                <table class="table table-bordered" style="font-size: 16px;">
                    <thead>
                    <tr>
                        <th>Grupo</th>
                        <th>Subgrupo</th>
                        <th>Tarea</th>
                        <th>Observaciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tarea in entity.tareaDiagnostico %}
                        <tr>
                            <td align="center">{{ tarea.grupo }}</td>
                            <td align="center">{{ tarea.subgrupo }}</td>
                            <td align="center">{{ tarea.tareamantenimiento }}</td>
                            <td align="center">{{ tarea.descripcion }}</td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">
                                <span class="label label-danger">No existen tareas de diagnóstico disponibles</span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            </ul>

        </div>
    </li>

</div>
