<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">Detalles del Reporte</h3>
    </div>

    <!-- Table -->
    <table class="table table-striped" >
        <tbody>
            <tr style="padding-left: 30px;">
                <th>Número Reporte</th>
                <td>{{ reportes.numero }}</td>
            </tr>
            <tr>
                <th>Medio de Reporte</th>
                <td>{{ reportes.medioReporte }}</td>
            </tr>
            <tr>
                <th>Reporta</th>
                <td>{{ reportes.reporta }}</td>
            </tr>

            {%  if reportes.esUsuario %}
                <tr>
                    <th>¿Es Usuario?</th>
                    <td>Sí</td>
                </tr>
                <tr>
                    <th>Nombre de Persona</th>
                    <td>{{ reportes.nombrePersona }}</td>
                </tr>
                <tr>
                    <th>Email de Persona</th>
                    <td>{{ reportes.emailPersona }}</td>
                </tr>
                <tr>
                    <th>Teléfono de Persona</th>
                    <td>{{ reportes.telefonoPersona }}</td>
                </tr>

                {% else %}
                    <tr>
                        <th>¿Es Usuario?</th>
                        <td>No</td>
                    </tr>
            {% endif %}

        </tbody>
    </table>
</div>


