{% form_theme form '@BusetaBodegaBundle:Form:fields.twig' %}

<form action="{{ path('tercero_create') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    <div class="row show-grid">
        <div class="col-md-4">
            {{ form_row(form.nombres) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.apellidos) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.alias) }}
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-4">
            {{ form_row(form.codigo) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.direccion) }}
        </div>

        <div class="col-md-4">
            <label>&nbsp;</label> <br>
            <div class="btn-group" style="padding-bottom: 8px;">
                <a data-toggle="modal" data-target="#newDireccion" class="btn btn-primary" href="#"><i class="fa fa-plus-circle"></i></a>
            </div>
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-4">
            {{ form_row(form.usuario) }}
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-3">
            {{ form_row(form.cliente) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.institucion) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.proveedor) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.persona) }}
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-4">
            {{ form_row(form.activo) }}
        </div>
    </div>

    {{ form_row(form.mecanismoscontacto) }}

    <div class="row show-grid">
        <div class="col-md-4">

            <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
            <div class="btn-group">
                <a class="btn btn-primary" href="{{ path('tercero') }}"> Cancelar</a>
            </div>

        </div>
    </div>

    {{ form_rest(form) }}
</form>
