{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Listado de terceros
{% endblock %}

{% block titulo_encabezado %}
    Listados de terceros
{% endblock %}

{% block area_trabajo %}

    <h4><a id="busqueda_tercero" style="cursor: pointer; "><i class="icon-chevron-down"></i> Búsqueda de Terceros</a></h4>
    <div id="busqueda_tercero_div" class="panel panel-default" style="display: none;">
        <div class="panel-body">
            <fieldset>
                <legend><h4>Búsqueda Avanzada</h4></legend>

                {{ form_start(tercero) }}
                <div class="row show-grid" style="padding-top: 0px">
                    <div class="col-md-6">
                        {{ form_row(tercero.nombres) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(tercero.apellidos) }}
                    </div>
                </div>
                <div class="row show-grid" style="padding-top: 0px">
                    <div class="col-md-3">
                        {{ form_row(tercero.codigo) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(tercero.alias) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_row(tercero.cliente) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_row(tercero.proveedor) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_row(tercero.institucion) }}
                    </div>
                </div>
                
                {{ form_end(tercero) }}

                <div class="row show-grid">
                    <div class="col-md-6">
                        <input class="btn btn-primary btn-bg" style="width: 100px;" value="Buscar" name="buscar" onclick="setFilters()">

                        <div class="btn-group">
                            <a class="btn btn-success btn-bg" href="{{ path('tercero') }}"><i class="fa fa-search"> Reiniciar Búsqueda</i></a>
                        </div>
                    </div>
                </div>


            </fieldset>
        </div>
    </div>

    <div class="btn-group" style="padding-bottom: 8px;">
        <a class="btn btn-primary" href="{{ path('tercero_new') }}"><i class="fa fa-plus-circle"></i> Adicionar Tercero</a>
    </div>
    <div class="terceros-result-table" style="text-align: center;"> </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{asset('vendors/busquedaTercero.js')}}" type="text/javascript"></script>

{% endblock %}