{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% form_theme form 'BusetaTemplateBundle:Widgets:collection_widget_mecanismos_contacto.html.twig' %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Adicionar nuevo tercero
{% endblock %}

{% block area_trabajo %}

    <form action="{{ path('tercero_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="row show-grid">
            <div class="col-md-4">
                <label>Nombres:</label>
                {{ form_widget(form.nombres) }}
            </div>

            <div class="col-md-4">
                <label>Apellidos:</label>
                {{ form_widget(form.apellidos) }}
            </div>

            <div class="col-md-4">
                <label>Alias:</label>
                {{ form_widget(form.alias) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                <label>C贸digo:</label>
                {{ form_widget(form.codigo) }}
            </div>

            <div class="col-md-4">
                <label>Direcci贸n:</label>
                {{ form_widget(form.direccion) }}
            </div>

            <div class="col-md-4">
                <label>&nbsp;</label> <br>
                <div class="btn-group" style="padding-bottom: 8px;">
                    <a data-toggle="modal" data-target="#newDireccion" class="btn btn-primary" href="#"><i class="fa fa-plus-circle"></i></a>
                </div>
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                <label>Cliente:</label>
                {{ form_widget(form.cliente) }}
            </div>

            <div class="col-md-4">
                <label>Instituci贸n:</label>
                {{ form_widget(form.institucion) }}
            </div>

            <div class="col-md-4">
                <label>Proveedor:</label>
                {{ form_widget(form.proveedor) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                <label>Activo:</label>
                {{ form_widget(form.activo) }}
            </div>
        </div>

        {{ form_widget(form.mecanismoscontacto) }}

        <div class="row show-grid">
            <div class="col-md-4">

                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('tercero') }}"> Cancelar</a>
                </div>

            </div>
        </div>

        {{ form_rest(form) }}
    </form>

    <!-- Modal -->
    <div class="modal fade" id="newDireccion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 850px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">Datos de nueva direcci贸n</h3>
                </div>
                <div class="modal-body" style="width: 800px;">
                    {% include 'BusetaBodegaBundle:Extras:modal_direccion.html.twig'  %}
                </div>
                <div class="modal-footer">
                    <!-- <input class="btn btn-primary add_tag_link" style="height: 34px" type="submit" value="Guardar cambios"> !-->
                    <a class="btn btn-primary add_tag_link_direccion" style="margin: 0px 0px 20px 20px;" href="#"><span class="fa fa-plus-circle">Adicionar</span></a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}


{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

  <script type="text/javascript">
    var collectionHolder = $('table#buseta_bodegabundle_tercero_mecanismoscontacto');
    var $addTagLink = $('a.add_tag_link');
    var $addTagLinkDireccion = $('a.add_tag_link_direccion');

    jQuery(document).ready(function() {
        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        collectionHolder.data('index', collectionHolder.find('a.delete_tag_link').length);

        $addTagLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm(collectionHolder);
        });

        $addTagLinkDireccion.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            var modal = $('#newDireccion');

            //captura de valores del modal
            var direccion_modalA = modal.find('#buseta_bodegabundle_direccion_calle');
            var direccion_modalB = modal.find('#buseta_bodegabundle_direccion_numero');
            var direccion_modalC = modal.find('#buseta_bodegabundle_direccion_entre_calles');
            var direccion_modalD = modal.find('#buseta_bodegabundle_direccion_pais');
            var direccion_modalE = modal.find('#buseta_bodegabundle_direccion_subdivision');
            var direccion_modalF = modal.find('#buseta_bodegabundle_direccion_ciudad');

            var textDireccion = direccion_modalA.val()+". "+direccion_modalB.val()+". "+direccion_modalC.val()+". "+direccion_modalD.val()+". "+direccion_modalE.val()+". "+direccion_modalF.val();


            var data = $('form#form_direccion').serialize();
            $.ajax({
                url: Routing.generate('direccion_create'),
                type: 'POST',
                data: data
            })
                    .done(function (response) {
                        var values = $.parseJSON(response);

                        //$('form#form_direccion').replaceWith(values.vista);
                        $('div#newDireccion').modal('hide');
                        $('#buseta_bodegabundle_tercero_direccion').val(textDireccion).prop('readonly','readonly');
                        $('#buseta_bodegabundle_tercero_direccionId').val(values.id);
                    })
                    .fail(function(error){
                        console.error('Ha ocurrido un error');
                        $('form#form_direccion').replaceWith(error.responseText);
                    })
        });

        updateDeleteLink();
        updateView();

        function addTagForm(collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = collectionHolder.data('prototype');

            // get the new index
            var index = collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormDiv = $('<tr></tr>').append(newForm);
            collectionHolder.find('tbody').append($newFormDiv);
            updateDeleteLink();
            updateView();
        }

        function updateDeleteLink(){
            $('a.delete_tag_link').on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $(this).parent().parent().remove();
                updateView();
            });
        }

        function updateView(){
            counter = collectionHolder.find('a.delete_tag_link').length;
            if(counter == 0){
                $('tr#no-elements-tr').show();
            }else{
                $('tr#no-elements-tr').hide();
            }
        }
    });

  </script>
{% endblock javascripts %}
