{% extends "BusetaEmpleadosBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Listado de Empleados' %}

{% block area_trabajo %}

    <div class="btn-group" style="margin-bottom: 8px;">
        <a class="btn btn-primary" href="{{ path('tipoempleado_new') }}">
            <span class="glyphicon glyphicon-plus-sign"></span> {{ 'Adicionar Tipo de Empleado' }}
        </a>
    </div>
    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Tipo de Empleado</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td style="text-align: center;">
                    <a class="btn btn-success btn-xs" href="{{ path('tipoempleado_show', { 'id': entity.id }) }}">
                        <span class="glyphicon glyphicon-search"> {{ 'Mostrar' }}</span></a>
                    <a class="btn btn-danger btn-xs" href="{{ path('tipoempleado_edit', { 'id': entity.id }) }}">
                        <span class="glyphicon glyphicon-edit"> {{ 'Editar' }}</span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
