<div class="modal" id="form_contacto_modal" tabindex="-1" role="dialog" aria-labelledby="createContact" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createContact">{{ 'mecanismo_contacto.btn.adicionar'|trans({},'BusetaBodegaBundle') }}</h4>
            </div>
            <div class="modal-body">
                <form name="{{ edit_form.vars.full_name }}" id="{{ edit_form.vars.id }}" action="{{ edit_form.vars.action }}"
                      method="post" enctype="multipart/form-data">
                    {% if edit_form.vars.method == 'PUT' %}
                        <input type="hidden" name="_method" value="PUT"/>
                    {% endif %}
                    {{ form_errors(edit_form) }}

                    <div class="row show-grid">
                        <div class="col-md-6">
                            {{ form_row(edit_form.tipocontacto) }}
                        </div>

                        <div class="col-md-6">
                            {{ form_row(edit_form.valor) }}
                        </div>
                    </div>

                    {{ form_rest(edit_form) }}
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" id="btn_contacto_cancel" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left"></span>
                    {{ 'actions.cancel' | trans({}, 'BusetaBodegaBundle') }}</a>
                <a href="#" class="btn btn-primary" id="btn_contacto_save"><span class="glyphicon glyphicon-save"></span>
                    {{ 'actions.save' | trans({}, 'BusetaBodegaBundle') }}</a>
            </div>
        </div>
    </div>
</div>
