<div class="btn-group" style="margin-bottom: 8px;">
    <a class="btn btn-primary" href="#form_contacto_modal" ><span class="glyphicon glyphicon-plus-sign"></span> {{ 'mecanismo_contacto.btn.adicionar'|trans({}, 'BusetaBodegaBundle') }}</a>
</div>

<div class="row">
    <div class="col-lg-4"><strong>Resultados:</strong> {{ entities.getTotalItemCount }}</div>
</div>

<table class="records_list table table-striped table-bordered table-condensed table-hover">
    <thead>
    <tr>
        <th>{{ knp_pagination_sortable(entities, 'mecanismo_contacto.nombre' | trans({}, 'BusetaBodegaBundle'), 'm.nombre') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'mecanismo_contacto.telefono' | trans({}, 'BusetaBodegaBundle'), 'm.telefono') }}</th>
        <th>{{ 'mecanismo_contacto.direccion' | trans({}, 'BusetaBodegaBundle') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'mecanismo_contacto.dirEnvio' | trans({}, 'BusetaBodegaBundle'), 'm.dirEnvio') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'mecanismo_contacto.activo' | trans({}, 'BusetaBodegaBundle'), 'm.activo') }}</th>
        <th style="text-align: center">Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.telefono }}</td>
            <td>{{ entity.direccion ? entity.direccion.nombre : '-' }}</td>
            <td>{{ entity.dirEnvio ? '<i class="fa fa-circle text-success"></i>' : '<i class="fa fa-circle-o text-danger"></i>' }}</td>
            <td>{{ entity.activo ? '<i class="fa fa-circle text-success"></i>' : '<i class="fa fa-circle-o text-danger"></i>' }}</td>
            <td  style="text-align: center;">
                <a class="btn btn-primary btn-xs" href="#btn_contacto_edit" data-content="{{ entity.id }}"><i class="fa fa-edit"> Editar</i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="contacto-paginator row">
    <div class="col-lg-12 text-center">{{ knp_pagination_render(entities) }}</div>
</div>

<div class="modal" id="form_contacto_modal"></div>
