{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Listados de Movimientos de Productos' %}

{% block area_trabajo %}
    {% set display = '' %}
    {% set headericon = 'glyphicon-chevron-down' %}
    {% if (filter_form.vars.value.almacenOrigen is null or filter_form.vars.value.almacenOrigen is empty)
    and (filter_form.vars.value.almacenDestino is null or filter_form.vars.value.almacenDestino is empty)
    and (filter_form.vars.value.producto is null or filter_form.vars.value.producto is empty)
    and (filter_form.vars.value.fechaInicio is null or filter_form.vars.value.fechaInicio is empty)
    and (filter_form.vars.value.fechaFin is null or filter_form.vars.value.fechaFin is empty) %}
        {% set display = 'display: none;' %}
        {% set headericon = 'glyphicon-chevron-right' %}
    {% endif %}

    <h4>
        <a id="filter_form_header" style="cursor: pointer;">
            <span class="glyphicon {{ headericon }}"></span>
            Búsqueda
        </a>
    </h4>
    <div id="filter_form_component" style="{{ display }}">
        <form id="filter_form" method="{{ filter_form.vars.method }}" action="{{ filter_form.vars.action }}">
            <div class="row">
                <div class="col-lg-4">{{ form_row(filter_form.almacenOrigen) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.almacenDestino) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.producto) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.fechaInicio) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.fechaFin) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.estado) }}</div>
            </div>
            {{ form_widget(filter_form._token) }}

            <div class="filter-actions" style="margin-top: 8px;">
                <a id="filter_form_submit_btn" class="btn btn-success btn-small">
                    <span class="glyphicon glyphicon-filter"></span> Filtrar
                </a>
                <a id="filter_form_reset_btn" class="btn btn-danger btn-small">
                    <span class="glyphicon glyphicon-repeat"></span> Reiniciar
                </a>
            </div>
        </form>
    </div>

    <hr/>

    <div class="btn-group" style="padding-bottom: 8px;">
        <a class="btn btn-primary" href="{{ path('movimiento_new') }}"><i class="fa fa-plus-circle"></i> Realizar
            Movimiento de Productos</a>
    </div>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Fecha de Movimiento</th>
            <th>Bodega Origen</th>
            <th>Bodega Destino</th>
            <th>Realizado por</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.created|date('d/m/Y') }}</td>
                <td>{{ entity.almacenOrigen }}</td>
                <td>{{ entity.almacenDestino }}</td>
                <td>{{ entity.createdBy }}</td>
                {% if entity.estadodocumento == 'CO' %}
                    {% set badge = 'success' %}
                    {% set text_color = 'success' %}
                {% elseif entity.estadodocumento == 'PR' %}
                    {% set badge = 'primary' %}
                    {% set text_color = 'primary' %}
                {% else %}
                    {% set badge = 'danger' %}
                    {% set text_color = 'danger' %}
                {% endif %}
                <td class="text-{{ text_color }}">
                    <span class="label label-{{ badge }}">{{ ('estado.' ~entity.estadodocumento) | trans({}, 'BusetaBodegaBundle') | upper }}</span>
                </td>
                <td style="width: 18% !important; text-align: center;">
                    {% if is_granted('show', entity) %}
                        <div class="btn-group">
                            <a class="btn btn-success btn-xs" href="{{ path('movimiento_show', { 'id': entity.id }) }}"><i
                                        class="fa fa-search"> Mostrar</i></a>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">{{ 'messages.no_results' | trans({}, 'BusetaBodegaBundle') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-12 text-center">
            {{ knp_pagination_render(entities) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('a#filter_form_header').click(function () {
                if ($('a#filter_form_header span').hasClass('glyphicon-chevron-right')) {
                    $('a#filter_form_header span')
                            .removeClass('glyphicon-chevron-right')
                            .addClass('glyphicon-chevron-down');
                } else {
                    $('a#filter_form_header span')
                            .removeClass('glyphicon-chevron-down')
                            .addClass('glyphicon-chevron-right');
                }

                $('div#filter_form_component').slideToggle(500);
            });

            $('a#filter_form_submit_btn').click(function () {
                $('form#filter_form').submit();
            });

            $('a#filter_form_reset_btn').click(function () {
                $('form#filter_form').find('input').each(function () {
                    $(this).val(null);
                });
                $('form#filter_form').find('select').each(function () {
                    $(this).val(null);
                })
            });

            //modificacion de los selectores de fecha
            var fechaInicio = $('input#buseta_movimiento_filter_fechaInicio'),
                    fechaFin = $('input#buseta_movimiento_filter_fechaFin');
            fechaInicio.datetimepicker({
                format: 'DD/MM/YYYY',
                useCurrent: false
            });
            fechaFin.datetimepicker({
                format: 'DD/MM/YYYY',
                useCurrent: false
            });
            fechaInicio.on('dp.change', function (e) {
                fechaFin.data("DateTimePicker").minDate(e.date);
            });
            fechaFin.on('dp.change', function (e) {
                fechaInicio.data("DateTimePicker").maxDate(e.date);
            });

        });
    </script>

    <script type="text/javascript">
        var deleteevent = new DeleteEvent('{{ path('movimiento') }}', 'div#records_list');
        deleteevent.start_events();
    </script>
{% endblock javascripts %}
