{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Datos del movimiento del producto
{% endblock %}

{% block area_trabajo %}

    <table class="table table-striped" style="font-size: 16px;">
    <tbody>
    <tr>
        <th>Bodega Origen</th>
        <td>{{ entity.almacenOrigen }}</td>
        <th>Bodega Destino</th>
        <td>{{ entity.almacenDestino }}</td>
    </tr>
    <tr>

    </tr>
    <tr>
        <th>Fecha de movimiento</th>
        <td>{{ entity.created|date('d/m/Y')  }}</td>
        <th></th>
        <td></td>
    </tr>

    <tr>
        <th>Producto</th>
        <td></td>
        <th>Cantidad</th>
        <td></td>
    </tr>

    {% for objeto in entity.movimientosproductos %}

        <tr>
            <td>{{ objeto.producto }}</td>
            <td></td>
            <td>{{ objeto.cantidad }}</td>
            <td></td>
        </tr>

    {% endfor %}

    </tbody>
    </table>

    <div class="form-actions">
        {{ form_start(delete_form) }}
        <a class="btn btn-primary" href="{{ path('movimiento_edit', { 'id': entity.id }) }}"> Editar</a>
        <a class="btn btn-primary" href="{{ path('movimiento') }}"> Listado</a>
        <button type="sumbit" class="btn btn-primary">Eliminar</button>
        {{ form_end(delete_form) }}
    </div>

{% endblock %}


{% block contenido %}


{% endblock %}
