{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Ver Datos de Movimiento de Productos' %}

{% block area_trabajo %}

    <table class="table table-striped" style="font-size: 16px;">
    <tbody>
    <tr>
        <th>Bodega Origen</th>
        <td>{{ entity.almacenOrigen }}</td>
        <th>Bodega Destino</th>
        <td>{{ entity.almacenDestino }}</td>
    </tr>
    <tr>

    </tr>
    <tr>
        <th>Fecha de movimiento</th>
        <td>{{ entity.created|date('d/m/Y')  }}</td>
        <th>Estado Documento</th>
        <td>{{ ('estado.'~entity.estadoDocumento) | trans({}, 'BusetaTallerBundle') }}</td>
    </tr>

    <tr>
        <th>Movimientos de Productos Existentes</th>
        <td>
            <table class="table table-striped" style="font-size: 16px;">
                <th>Producto</th>
                <th>Cantidad Movida</th>
                {% for linea in entity.movimientosproductos %}
                <tbody>
                <tr>
                    <td>{{ linea.producto.nombre }}</td>
                    <td>{{ linea.cantidad }}</td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="6">
                            <span class="label label-danger">No existen movimientos de producto disponibles</span>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </td>
    </tr>

    </tbody>
    </table>

    <div class="form-actions">
        {% if entity.estadodocumento == 'BO' %}
            <a class="btn btn-primary" href="{{ path('movimiento_edit', { 'id': entity.id }) }}"> Editar</a>
        {% endif %}
        {% if entity.estadodocumento == 'PR' %}
            <a class="btn btn-primary" href="{{ path('completarMovimiento', { 'id': entity.id }) }}"> Completar Proceso</a>
        {% elseif entity.estadodocumento == 'BO' %}
            <a class="btn btn-primary" href="{{ path('procesarMovimiento', { 'id': entity.id }) }}"> Procesar</a>
        {% endif %}
        <a class="btn btn-primary" href="{{ path('movimiento') }}"> Listado</a>

        {% if entity.estadodocumento == 'BO' %}
            <a href="#delete" data-href="{{ path('movimiento_delete', {'id': entity.id}) }}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> {{ 'actions.delete' | trans({}, 'BusetaBodegaBundle') }}</a>
        {% endif %}
    </div>

    {% include 'BusetaBodegaBundle:Movimiento:delete_modal.html.twig' with { 'form' : delete_form, 'entity' : entity } %}

{% endblock %}

{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if entity.estadodocumento == 'BO' %}
        <script type="text/javascript">
            var deleteevent = new DeleteEvent('{{ path('movimiento') }}', 'div#movimiento_records_list', false);
            deleteevent.start_events();
        </script>
    {% endif %}
{% endblock %}

