{% extends 'BusetaSecurityBundle::layout.html.twig' %}

{% block titulo_encabezado 'Listado de Usuarios' %}

{% block area_trabajo %}
    <div class="btn-group" style="margin-bottom: 8px;">
        <a class="btn btn-primary" href="{{ path('security_user_new') }}">
            <span class="glyphicon glyphicon-plus-sign"></span> {{ 'usuario.btn.create'|trans({}, 'BusetaSecurityBundle') }}
        </a>
    </div>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Nombre Completo</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('security_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ (entity.nombres ~ entity.apellidos)|trim }}</td>
                <td>{{ entity.email }}</td>
                <td>
                    <a class="btn btn-default btn-sm" href="{{ path('security_user_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> Ver</a>
                    {#<a href="{{ path('security_user_edit', { 'id': entity.id }) }}">edit</a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
