{% extends 'BusetaSecurityBundle::layout.html.twig' %}

{% block titulo_encabezado 'Ver Datos de Usuario: ' ~ entity.username %}

{% block area_trabajo %}
    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Usuario</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ entity.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos|default('-') }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    <ul>
                        {% for rol in entity.roles %}
                            <li>{{ rol }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="{{ path('security_user') }}" class="btn btn-default"> Listado</a>
    </div>
{% endblock %}
