{# RESULTADOS POR PÁGINA #}
<div class="row">
  <div class="pull-right" style="padding: 0 20px 5px 0;">
    <strong>Resultados por página: </strong>
    {% if cantResult == 5 %}
    <strong>5</strong>
    {% else %}
      <a onclick="setCantResult(5)">5</a>
    {% endif %}
    {% if cantResult == 10 %}
      <strong>10</strong>
    {% else %}
      <a onclick="setCantResult(10)">10</a>
    {% endif %}
    {% if cantResult == 25 %}
      <strong>25</strong>
    {% else %}
      <a onclick="setCantResult(25)">25</a>
    {% endif %}
    {% if cantResult == 50 %}
      <strong>50</strong>
    {% else %}
      <a onclick="setCantResult(50)">50</a>
    {% endif %}
  </div>
</div>
{# END RESULTADOS POR PÁGINA #}

{# TABLA DE RESULTADOS #}

<table class="records_list table table-striped table-bordered table-condensed table-hover">
    <thead>
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Dirección</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for almacen in almacenes %}
        <tr>
            <td>
                {% if almacen.codigo == '' %}
                    <label style="color: red">No tiene</label>
                {% else %}
                    {{ almacen.codigo }}
                {% endif %}
            </td>
            <td>{{ almacen.nombre }}</td>
            <td>
                {% if almacen.descripcion == '' %}
                    <label style="color: red">No tiene</label>
                {% else %}
                    {{ almacen.descripcion }}
                {% endif %}
            </td>
            <td>
                {% if almacen.direccion == '' %}
                    <label style="color: red">No tiene</label>
                {% else %}
                    {{ almacen.direccion }}
                {% endif %}
            </td>

            <td  style="width: 18% !important; text-align: center;">
                <div class="btn-group">
                    <a class="btn btn-success btn-xs" href="{{ path('bodega_show', { 'id': almacen.id }) }}"><i class="fa fa-search"> Mostrar</i></a>
                </div>

                <div class="btn-group">
                    <a class="btn btn-danger btn-xs" href="{{ path('bodega_edit', { 'id': almacen.id }) }}"><i class="fa fa-edit"> Editar</i></a>
                </div>

            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="12">No se encontraron registros de bodegas en el sistema.</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{# END TABLA DE RESULTADOS #}

{# PAGINACIÓN #}
<br/>
<div style="text-align: center;">
{% if paginacion|length > 0 %}
  {# Elemento first #}
  {% if paginacion.first %}
    <img src="{{asset('/Taller/web/images/first.gif')}}" onclick="setPage(0)" style="cursor: pointer;"/>
  {% else %}
    <img src="{{asset('/Taller/web/images/first.gif')}}" style="cursor: default;opacity: 0.6;"/>
  {% endif %}
  {# Elemento prev #}
  {% if paginacion.prev %}
    <img src="{{asset('/Taller/web/images/previous.gif')}}" onclick="setPage({{page}}-1)" style="cursor: pointer;"/>
  {% else %}
    <img src="{{asset('/Taller/web/images/previous.gif')}}" style="cursor: default;opacity: 0.6;"/>
  {% endif %}
  {# Elemento next #}
  {% if paginacion.next %}
    <img src="{{asset('/Taller/web/images/next.gif')}}" onclick="setPage({{page}}+1)" style="cursor: pointer;"/>
  {% else %}
    <img src="{{asset('/Taller/web/images/next.gif')}}" style="cursor: default;opacity: 0.6;"/>
  {% endif %}
  {# Elemento last #}
  {% if paginacion.last and paginacion.last != page %}
    <img src="{{asset('/Taller/web/images/last.gif')}}" onclick="setPage({{paginacion.last}})" style="cursor: pointer;"/>
  {% else %}
    <img src="{{asset('/Taller/web/images/last.gif')}}" style="cursor: default;opacity: 0.6;"/>
  {% endif %}
{% endif %}
</div>
{# END PAGINACIÓN #}
