<div class="modal fade" id="nuevaTarea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 850px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Adicionar Tarea</h3>
            </div>
            <div class="modal-body" style="width: 800px;">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.grupo) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.subgrupo) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.tareamantenimiento) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.descripcion) }}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <a data-dismiss="modal" class="btn btn-primary add_tarea_link" style="margin: 0 0 20px 20px;" href="#">
                            <span class="fa fa-plus-circle"> Adicionar</span>
                        </a>
                    </div>
                    {{ form_rest(form) }}
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
