<form id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" action="{{ form.vars.action }}" method="POST" enctype="multipart/form-data">
    {% if form.vars.method == 'PUT' %}
        <input type="hidden" name="_method" value="PUT"/>
    {% endif %}
    {{ form_errors(form) }}
    {{ form_row(form._token) }}

    <div class="row show-grid">
        <div class="col-md-3">
            {{ form_row(form.name) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.type) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.prefix) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.suffix) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.padding) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.numberNextInterval) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.numberIncrement) }}
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-4">
            {{ form_row(form.active) }}
        </div>
    </div>

    {# buttons group #}
    <div class="row">
        <div class="col-md-4">
            <input class="btn btn-primary" style="height: 34px" type="submit" value="{{ 'actions.save' | trans({}, 'HatueySoftSequenceBundle') }}">
            <a class="btn btn-default" id="btn_sequence_cancel" href="{{ path('sequence') }}"><span class="glyphicon glyphicon-chevron-left"></span>
                {{ 'actions.cancel' | trans({}, 'HatueySoftSequenceBundle') }}</a>
        </div>
    </div>
</form>
