{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% trans_default_domain 'BusetaBodegaBundle' %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Datos del albarán
{% endblock %}

{% block area_trabajo %}

    <table class="table table-striped" style="font-size: 16px;">
        <tbody>

            <tr>
                <th>Nro.Documento</th>
                <td>{{ entity.consecutivoCompra }}</td>
            </tr>

            <tr>
                <th>Nro.Referencia</th>
                <td>
                    {% if entity.numeroReferencia == null %}
                        -
                    {% else %}
                        {{ entity.numeroReferencia }}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>Fecha Movimiento</th>
                <td>
                    {% if entity.fechaMovimiento == null %}
                        -
                    {% else %}
                        {{ entity.fechaMovimiento | date('d/m/Y') }}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>Fecha Contable</th>
                <td>
                    {% if entity.fechaContable == null %}
                        -
                    {% else %}
                        {{ entity.fechaContable | date('d/m/Y') }}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>Bodega</th>
                <td>{{ entity.almacen }}</td>
            </tr>

            <tr>
                <th>Nombre del Proveedor</th>
                <td>{{ entity.tercero.nombres }} {{ entity.tercero.apellidos }}</td>
            </tr>

            <tr>
                <th>Estado Documento</th>
                <td>{{ ('estado.'~entity.estadoDocumento) | trans({}, 'BusetaTallerBundle') }}</td>
            </tr>

            <tr>
                <th>Líneas existentes</th>
                <td>
                    <table class="table table-striped" style="font-size: 16px;">
                        <th>Producto</th>
                        <th>Cantidad Movida</th>
                        <th>Bodega</th>
                        <th>UOM</th>
                        <th>Valor Atributos</th>

                        {% for linea in entity.albaranLineas %}
                        <tbody>
                        <tr>
                            <td>{{ linea.producto.nombre }}</td>
                            <td>{{ linea.cantidadMovida }}</td>
                            <td>{{ linea.almacen.nombre }}</td>
                            <td>{{ linea.uom.valor }}</td>
                            <td>{{ linea.valoratributos }}</td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">
                                    <span class="label label-danger">No existen líneas de albaranes disponibles</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-actions">
        {% if entity.estadodocumento == 'BO' %}
            <a class="btn btn-primary" href="{{ path('albarans_albaran_edit', { 'id': entity.id }) }}"> Editar</a>
        {% endif %}
        {% if entity.estadodocumento == 'PR' %}
            <a class="btn btn-primary" href="{{ path('completarAlbaran', { 'id': entity.id }) }}"> Completar Proceso</a>
        {% elseif entity.estadodocumento == 'BO' %}
            <a class="btn btn-primary" href="{{ path('procesarAlbaran', { 'id': entity.id }) }}"> Procesar</a>
        {% endif %}
        <a class="btn btn-primary" href="{{ path('albaran') }}"> Listado</a>

        {% if entity.estadodocumento == 'BO' %}
            <a href="#delete" data-href="{{ path('albaran_delete', {'id': entity.id}) }}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> {{ 'actions.delete' | trans({}, 'BusetaBodegaBundle') }}</a>
        {% endif %}
    </div>

    {% include 'BusetaBodegaBundle:Albaran:delete_modal.html.twig' with { 'form' : delete_form, 'entity' : entity } %}

{% endblock %}

{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var albarandeleteevent = new DeleteEvent('{{ path('albaran') }}', 'div#albaran_records_list', false);
        albarandeleteevent.start_events();
    </script>
{% endblock %}
