{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title %}
    Listado de de Bitacora de Seriales
{% endblock %}

{% block titulo_encabezado %}
    Listado de Bitacora de Seriales
{% endblock %}

{% block area_trabajo %}
<div id="records_list">
    {% set display = '' %}
    {% set headericon = 'glyphicon-chevron-down' %}
    {% if (filter_form.vars.value.almacen is null or filter_form.vars.value.almacen is empty)
    and (filter_form.vars.value.fechaMovimiento is null or filter_form.vars.value.fechaMovimiento is empty)
    %}
        {% set display = 'display: none;' %}
        {% set headericon = 'glyphicon-chevron-right' %}
    {% endif %}

    <h4>
        <a id="filter_form_header" style="cursor: pointer;">
            <span class="glyphicon {{ headericon }}"></span>
            Búsqueda
        </a>
    </h4>
    <div id="filter_form_component" style="{{ display }}">
        <form id="filter_form" method="{{ filter_form.vars.method }}" action="{{ filter_form.vars.action }}">
            <div class="row">
                <div class="col-lg-4">{{ form_row(filter_form.tipoMovimiento ) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.almacen) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.producto) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.serial ) }}</div>
                {#<div class="col-lg-4">{{ form_row(filter_form.categoriaProd) }}</div>#}
                <div class="col-lg-4">{{ form_row(filter_form.fechaInicio) }}</div>
                <div class="col-lg-4">{{ form_row(filter_form.fechaFin) }}</div>
            </div>
            {{ form_widget(filter_form._token) }}

            <div class="filter-actions" style="margin-top: 8px;">
                <a id="filter_form_submit_btn" class="btn btn-success btn-small">
                    <span class="glyphicon glyphicon-filter"></span> Filtrar
                </a>
                <a id="filter_form_reset_btn" class="btn btn-danger btn-small">
                    <span class="glyphicon glyphicon-repeat"></span> Reiniciar
                </a>
            </div>
        </form>
    </div>

    <hr/>

    <div class="paginator row">
        <div class="col-lg-4"><strong>Resultados:</strong> {{ entities.getTotalItemCount }}</div>
    </div>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Serial{#{{ knp_pagination_sortable(entities, 'producto', 't.producto') }}#}</th>
            <th>Producto{#{{ knp_pagination_sortable(entities, 'producto', 't.producto') }}#}</th>
            <th>Bodega{#{{ knp_pagination_sortable(entities, 'producto', 't.producto') }}#}</th>
            <th>Tipo Movimiento{#{{ knp_pagination_sortable(entities, 'fechaMovimiento', 't.fechaMovimiento') }}#}</th>
            <th>Cantidad Movida{#{{ knp_pagination_sortable(entities, 'cantMovida', 't.cantMovida') }}#}</th>
            <th>Fecha Movimiento{#{{ knp_pagination_sortable(entities, 'fechaMovimiento', 't.fechaMovimiento') }}#}</th>

            <th style="text-align: center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.serial }}</td>
                <td>{{ entity.producto }}</td>
                <td>{{ entity.almacen }}</td>
                <td>{{ entity.tipoMovimiento }}</td>
                <td>{{ entity.cantidadMovida }}</td>
                <td>{{ entity.fechaMovimiento | date('d/m/Y h:i a') }}</td>
                <td style="width: 24% !important; text-align: center;">
                    <div class="btn-group">
                        <a class="btn btn-success btn-xs"
                           href="{{ path('bitacoraserial_show', { 'id': entity.id }) }}"><span
                                    class="glyphicon glyphicon-search"> Mostrar</span></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">{{ 'messages.no_results' | trans({}, 'BusetaBodegaBundle') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="paginator row">
        <div class="col-lg-4"></div>
        <div class="col-lg-12" style="text-align: center">{{ knp_pagination_render(entities) }}</div>
    </div>
</div>

    <!-- Delete modal -->
    <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true"></div>

{% endblock area_trabajo %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('a#filter_form_header').click(function () {
                if ($('a#filter_form_header span').hasClass('glyphicon-chevron-right')) {
                    $('a#filter_form_header span')
                            .removeClass('glyphicon-chevron-right')
                            .addClass('glyphicon-chevron-down');
                } else {
                    $('a#filter_form_header span')
                            .removeClass('glyphicon-chevron-down')
                            .addClass('glyphicon-chevron-right');
                }

                $('div#filter_form_component').slideToggle(500);
            });

            $('a#filter_form_submit_btn').click(function () {
                $('form#filter_form').submit();
            });

            $('a#filter_form_reset_btn').click(function () {
                $('form#filter_form').find('input').each(function () {
                    $(this).val(null);
                });
                $('form#filter_form').find('select').each(function () {
                    $(this).val(null);
                })
            });


            //Aqui se define los campos de fecha para el formulario de busqueda y comprueba que la fecha de inicio
            //sea menor que la fecha de fin, y viceversa que la fecha fin sea mayor que la fecha de inicio
            var  fechaInicio = $('input#buseta_bitacoraserial_filter_fechaInicio'),
                    fechaFin = $('input#buseta_bitacoraserial_filter_fechaFin');
            fechaInicio.datetimepicker({
                format: 'DD/MM/YYYY',
                useCurrent: false
            });
            fechaFin.datetimepicker({
                format: 'DD/MM/YYYY',
                useCurrent: false
            });

            fechaInicio.on('dp.change', function(e){
                fechaFin.data("DateTimePicker").minDate(e.date);
            });
            fechaFin.on('dp.change', function (e) {
                fechaInicio.data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
{% endblock javascripts %}
