{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Modificar Categoría de Producto' %}

{% block area_trabajo %}

    <form action="{{ path('categoria_producto_update',{'id':entity.id}) }}" method="post" enctype="multipart/form-data">
        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(edit_form.valor) }}
            </div>

            <div class="col-md-8">
                {{ form_row(edit_form.descripcion) }}
            </div>
        </div>


        <div class="row show-grid">
            <div class="col-md-4">

                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('categoria_producto') }}"> Cancelar</a>
                </div>
            </div>
        </div>

        {{ form_rest(edit_form) }}
    </form>

{% endblock %}


{% block contenido %}

{% endblock %}
