{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Adicionar nueva categoría de producto
{% endblock %}

{% block area_trabajo %}

    <form action="{{ path('categoria_producto_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(form.valor) }}
            </div>

            <div class="col-md-8">
                {{ form_row(form.descripcion) }}
            </div>
        </div>


        <div class="row show-grid">
            <div class="col-md-4">

                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('categoria_producto') }}"> Cancelar</a>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    </form>

{% endblock %}


{% block contenido %}

{% endblock %}