<table class="table table-striped" style="font-size: 16px;">
    <tbody>
    <tr>
        <th>Número Reporte</th>
        <td>{{ entity.numero }}</td>
    </tr>
    <tr>
        <th>Autobús</th>
        <td>{{ entity.autobus }}</td>
    </tr>
    <tr>
        <th>Medio Reporte</th>
        <td>{{ entity.medioReporte }}</td>
    </tr>
    <tr>
        <th>¿Es Usuario de la Empresa?</th>
        <td>
            {% if entity.esUsuario  %}
                Sí
            {% else %}
                No
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Nombre Persona</th>
        <td>{{ entity.nombrePersona }}</td>
    </tr>
    <tr>
        <th>Correo Persona</th>
        <td>{{ entity.emailPersona }}</td>
    </tr>
    <tr>
        <th>Teléfono Persona</th>
        <td>{{ entity.telefonoPersona }}</td>
    </tr>
    </tr>

    <tr>
        <th>Reporta</th>
        <td>{{ entity.reporta }}</td>
    </tr>
    {#<tr>
        <td colspan="2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div  {{ block('widget_container_attributes') }}>
                        <h4>Listado de Observaciones</h4>

                        <table class="table table-striped" style="font-size: 16px;">
                            <thead>
                            <th>Detalles de Observaciones</th>
                            </thead>
                            <tbody>
                            {% for observacion in entity.observaciones %}
                                <tr>
                                    <td>{{ observacion.valor }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">
                                        <span class="label label-danger">No existen observaciones disponibles</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </td>
    </tr>#}
    </tbody>
</table>