{% extends "BusetaTallerBundle::layout.html.twig" %}

{% trans_default_domain 'BusetaTallerBundle' %}

{% block title %}
    Datos de Solicitud
{% endblock %}

{% block titulo_encabezado %}
    Datos de Solicitud
{% endblock %}

{% block area_trabajo %}

    <div class="row">
        <div class="col-lg-12">
            {# Nav tabs #}
            <ul class="nav nav-tabs">
                <li class="active"><a href="#basicos" data-toggle="tab">Datos Básicos de Solicitud</a></li>
                <li><a href="#observaciones" data-toggle="tab">Observaciones</a></li>
            </ul>

            {# Tab panes #}
            <div class="tab-content" style="padding-top: 20px;">
                <!-- TAB BASICOS-->
                <div class="tab-pane fade in active" id="basicos">
                    {% include '@BusetaTaller/Reporte/show_datos_basicos.html.twig' with {'entity': entity} %}
                    <input type="hidden" id="reporte_id" name="reporte_id" value="{{ id }}"/>
                </div>

                <div class="tab-pane fade" id="observaciones">
                    {# Observaciones #}
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

    {# buttons group #}
    <div class="row">
        <div class="col-md-4">

            {% if entity.diagnostico == null and entity.estado == 'PR'%}
                    <a class="btn btn-primary" href="{{ path('reporte_generar_diagnostico', { 'id': entity.id }) }}">
                        <span class="glyphicon glyphicon-save"></span>
                         Generar Diagnóstico
                    </a>
                {% elseif entity.diagnostico != null and entity.estado == 'CO' %}
                    <a class="btn btn-primary disabled" href="{{ path('reporte_generar_diagnostico', { 'id': entity.id }) }}">
                        <span class="glyphicon glyphicon-save"></span>
                        Generar Diagnóstico
                    </a>
            {% endif %}

            {% if entity.estado == 'BO' %}
                <a class="btn btn-primary" href="{{ path('procesarReporte', { 'id': entity.id }) }}">
                    <span class="glyphicon glyphicon-primary"></span>
                    Procesar Solicitud
                </a>
            {% endif %}

            <a class="btn btn-default" id="btn_reporte_cancel" href="{{ path('reporte') }}"><span
                        class="glyphicon glyphicon-chevron-left"></span>
                {{ 'actions.list' | trans({}, 'BusetaTallerBundle') }}
            </a>
        </div>
    </div>

    {# modal panel #}
    <!-- Modal -->
    <div id="form_observacion_modal"></div>

{% endblock %}

{% block contenido %}

{% endblock %}

{% block javascripts %}
    <!-- Initialize script -->
    <script type="text/javascript">
        $(function () {

            // first read: set reporte event.
            $('a#btn_reporte_save').on('click', reporte._save);

            $('a#adicionarNuevaObservacion').on('click', observaciones._new);

            //Obtenemos el id del reporte actualmente mostrado en el show
            reporte.id = $('#reporte_id').val();

            // on show tab events
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                var href = $(e.target).attr('href');
                var relhref = $(e.relatedTarget).attr('href');

                //Si damos click en el tab "Observaciones"
                if (href === '#observaciones') {
                    observaciones._load();
                }

            });
        });
    </script>

    <script type="text/javascript">
        var tabs = {
            loadding_image: '<i class="fa fa-spinner fa-spin"></i>',
            _show_all_tabs: function () {
                tabs._show_tab('observaciones');
            },
            _show_tab: function (tabname) {
                $('li a[href="#' + tabname + '"]').parent().show();
            },
            _hide_tab: function () {
                $('li a[href="#' + tabname + '"]').parent().hide();
            },
            _add_loadding: function (tabname) {
                var linktab = $('li a[href="#' + tabname + '"]');
                linktab.prepend($(tabs.loadding_image));
            },
            _remove_loadding: function (tabname) {
                var spinning = $('li a[href="#' + tabname + '"]').find('i.fa.fa-spinner.fa-spin');
                spinning.remove();
            },
            _active: function (href) {
                $('li a[href="' + href + '"]').parent().addClass('active');
                $('div' + href).addClass('active').addClass('in');
            },
            _desactive: function (href) {
                $('li a[href="' + href + '"]').parent().removeClass('active');
                $('div' + href).removeClass('active').removeClass('in');
            }
        };
        var utils = {
            _fail: function (jqXHR, textStatus, errorThrown) {
                $('div.modal').modal('hide').html('');
                if (jqXHR.status == 500 && jqXHR.responseText.message != undefined) {
                    addGlobalMessage('danger', jqXHR.responseText.message);
                } else {
                    addGlobalMessage('danger', '{{ 'messages.unexpected_error' | trans({}, 'HatueyERPTercerosBundle') }}');
                }
            }
        };
        var progressBar = {
            _add_progressBar: function (name) {
                var progressBar = $('<div class="progress" id="' + name + '_progress_bar"></div>'),
                        bar = $('<div>')
                                .addClass('progress-bar')
                                .attr('role', 'progressbar')
                                .attr('aria-valuenow', 2)
                                .attr('aria-valuemin', 0)
                                .attr('aria-valuemax', 100)
                                .css('width', '2%')
                                .append($('<span class="sr-only"></span>'));

                progressBar.append(bar);

                $('div#' + name).prepend(progressBar);
            },
            _remove_progressBar: function (name) {
                var progressBar = $('div#' + name + '_progress_bar');
                progressBar.slideUp(400, function () {
                    progressBar.remove();
                });
            }
        };
    </script>

    <!-- Reporte script -->
    <script type="text/javascript">
        var reporte = {
            /*form_id: $('div#basicos').find('form').attr('id'),
             form_name: $('div#basicos').find('form').attr('name'),*/
            form_id: 'buseta_tallerbundle_reporte',
            form_name: 'buseta_tallerbundle_reporte',
            id: '',
            _load: function () {
                reporte.id = $('input[id="' + reporte.form_id + '_id"]').val()

                /*if (reporte.id != '' && reporte.id != undefined) {
                 persona._load();
                 }*/
            },
            _save: function (event) {
                if (event != undefined) {
                    event.preventDefault();
                }

                // add spinning to show loading process
                tabs._add_loadding('basicos');
                // add progress bar
                progressBar._add_progressBar('basicos');

                // Tercero Id
                reporte.id = $('input[id="' + reporte.form_id + '_id"]').val();

                var reportesForm = $('form#' + reporte.form_id),
                        url = Routing.generate('reportes_reporte_create', {});
                if (reporte.id !== '' && reporte.id !== undefined) {
                    url = Routing.generate('reportes_reporte_update', {'id': reporte.id});
                }

                var jqXHR = reportesForm.ajaxSubmit({
                    success: reporte._done,
                    error: utils._fail,
                    complete: reporte._always,
                    uploadProgress: reporte._upload,
                    url: url,
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $('form#' + reporte.form_id).replaceWith(response.view);
                if (jqXHR.status == 201) {
                    addGlobalMessage('success', response.message);
                    // Tercero Id
                    reporte.id = $('input[id="' + reporte.form_id + '_id"]').val();
                    // activate all tabs
                    tabs._show_all_tabs();
                    // loading observaciones
                    observaciones._load();
                } else if (jqXHR.status == 202) {
                    addGlobalMessage('success', response.message);
                }
                $('a#btn_reporte_save').on('click', reporte._save);
            },
            _always: function () {
                // remove spinning
                tabs._remove_loadding('basicos');
                // remove progress bar
                progressBar._remove_progressBar('basicos');
            },
            _upload: function (event, position, total, percentComplete) {
                var progressBarr = $('div#basicos_progress_bar').find('.progress-bar')[0];
                if (progressBarr !== undefined) {
                    $(progressBarr).css('width', percentComplete + '%');
                    $(progressBarr).find('span').html(percentComplete + '% Completado');
                }
            }
        };
    </script>

    <!-- Observaciones script -->
    <script type="text/javascript">
        var observaciones = {
            form_name: '',
            form_id: '',
            id: '',
            _start_events: function () {
                $('a[href="#form_observacion_modal"]').on('click', observaciones._load_modal);
                $('table.observacion_records_list').find('a.sortable, a.asc, a.desc').on('click', observaciones._load);
                $('table.observacion_records_list').find('a[href="#edit"]').on('click', observaciones._load_modal);
                $('table.observacion_records_list').find('a[href="#delete"]').on('click', observaciones._load_delete_modal);
            },
            _load: function (event) {
                if (event !== undefined) {
                    event.preventDefault();
                }

                //Obtenemos el id del reporte actualmente mostrado en el show
                reporte.id = $('#reporte_id').val();

                if (reporte.id == '') {
                    return;
                }

                // add spinning to show loading process
                tabs._add_loadding('observaciones');

                var url = Routing.generate('reportes_observacion_list', {'reporte': reporte.id});
                if ($(this).hasClass('sortable') || $(this).hasClass('desc') || $(this).hasClass('asc')) {
                    url = $(this).attr('href');
                }

                $.get(url).done(function (response, textStatus, jqXHR) {
                    $('div#observaciones').html(response);

                    observaciones._start_events();
                }).fail(utils._fail).always(observaciones._always);
            },
            _load_modal: function (event) {
                if (event !== undefined) {
                    event.preventDefault();
                }

                if (reporte.id === '' || reporte.id === undefined) {
                    return;
                }

                var url = Routing.generate('reportes_observacion_new_modal', {'reporte': reporte.id});
                if ($(this).attr('href') !== undefined && $(this).attr('href') === '#edit') {
                    url = Routing.generate('reportes_observacion_edit_modal', {
                        'reporte': reporte.id,
                        id: $(this).data('content')
                    });
                }

                $.get(url)
                        .done(function (response, textStatus, jqXHR) {
                            $('div#form_observacion_modal').replaceWith($(response.view));

                            observaciones.form_id = $('div#form_observacion_modal').find('form').attr('id');
                            observaciones.form_name = $('div#form_observacion_modal').find('form').attr('name');

                            $('a#btn_observacion_save').on('click', observaciones._save_modal);
                            $('a#btn_observacion_cancel').on('click', function () {
                                $('div#form_observacion_modal').modal('hide');
                            });

                            $('div#form_observacion_modal').modal('show');
                        }).fail(utils._fail).always(function () {
                        });
            },
            _load_delete_modal: function(event) {
                if(event !== undefined) {
                    event.preventDefault();
                }

                if(reporte.id === '' || reporte.id === undefined) {
                    return;
                }

                var id = $(this).data('content'),
                        url = Routing.generate('reportes_observacion_delete', {id: id});
                $.get(url)
                        .done(function(response, textStatus, jqXHR){
                            $('div#form_observacion_delete_modal').replaceWith($(response.view));

                            $('div#form_observacion_delete_modal a#btn_observacion_delete').on('click', observaciones._save_delete_modal);
                            $('div#form_observacion_delete_modal a#btn_observacion_cancel').on('click', function(){
                                $('div#form_observacion_delete_modal').modal('hide');
                            });

                            $('div#form_observacion_delete_modal').modal('show');
                        }).fail(utils._fail).always(function(){});
            },
            _save_modal: function (event) {
                if (event != undefined) {
                    event.preventDefault();
                }

                $('#btn_observacion_save').find('span')
                        .removeClass('glyphicon')
                        .removeClass('glyphicon-save')
                        .addClass('fa')
                        .addClass('fa-gear')
                        .addClass('fa-spin');

                var url = Routing.generate('reportes_observacion_new_modal', {'reporte': reporte.id}),
                        id = $('#' + observaciones.form_id + '_id').val();
                if (id !== '' && id !== undefined) {
                    url = Routing.generate('reportes_observacion_edit_modal', {'reporte': reporte.id, id: id});
                }
                var data = $('form#' + observaciones.form_id).serializeArray();
                data[0].value = $('#' + observaciones.form_id + '_valor').text();
                console.log(data);
                $('form#' + observaciones.form_id).ajaxSubmit({
                    success: observaciones._done,
                    error: utils._fail,
                    complete: observaciones._always,
                    url: url,
                    data: data,
                    dataType: 'json'
                });
            },
            _save_delete_modal: function (event) {
                if(event != undefined) {
                    event.preventDefault();
                }

                $('#btn_observacion_delete').find('span')
                        .removeClass('glyphicon')
                        .removeClass('glyphicon-save')
                        .addClass('fa')
                        .addClass('fa-gear')
                        .addClass('fa-spin');

                var deleteForm = $('div#form_observacion_delete_modal').find('form'),
                        url = $(deleteForm).attr('action');

                deleteForm.ajaxSubmit({
                    success: function (response, textStatus, jqXHR) {
                        if(jqXHR.status == 202) {
                            addGlobalMessage('success', response.message);
                        }
                        $('div#form_observacion_delete_modal').modal('hide');
                        observaciones._load();
                    },
                    error: utils._fail,
                    complete: observaciones._always,
                    url: url,
                    dataType: 'json'
                });
            },
            _done: function (response, textStatus, jqXHR) {
                $('form#' + observaciones.form_id).replaceWith(response.view);
                if (jqXHR.status == 201 || jqXHR.status == 202) {
                    addGlobalMessage('success', response.message);

                    $('div#form_observacion_modal').modal('hide');
                    observaciones._load();
                }
            },
            _always: function(jqXHR, textStatus) {
                // remove spinning
                tabs._remove_loadding('observaciones');
                $('a[id^="btn_observacion_"]').find('span')
                        .addClass('glyphicon')
                        .addClass('glyphicon-save')
                        .removeClass('fa')
                        .removeClass('fa-gear')
                        .removeClass('fa-spin');
            }

            /*_load: function () {
             $('a.add_observacion_link').on('click', observacion._insert_new);
             },*/
        };
    </script>

    <!-- Disable F5 refresh -->
    <script type="text/javascript">
        function disableF5(e) {
            if ((e.which || e.keyCode) == 116) e.preventDefault();
        }
        ;
        $(document).on("keydown", disableF5);
    </script>
    <!-- Disable go back navigation -->
    <script type="text/javascript">
        history.pushState(null, null, location.href);
        function disableGoBack(e) {
            history.go(1);
        }
        ;
        $(window).on("beforeunload", disableGoBack);
        $(window).on("popstate", disableGoBack);
    </script>
{% endblock javascripts %}
