<div class="modal" id="form_onecprod_delete_modal" tabindex="-1" role="dialog" aria-labelledby="deleteONecProd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createONecProd">{{ 'orden_necesidad_producto.modal.delete' | trans({},'BusetaTallerBundle') }}</h4>
            </div>
            <div class="modal-body">
                <p>Usted está tratando de eliminar la necesidad de un producto <strong>"{{ entity.producto.nombre }}"</strong>.
                    Al aceptar la acción se eliminarán los datos de forma permanente. <strong>¿Está seguro que desea continuar?</strong></p>
                <form name="{{ form.vars.full_name }}" id="{{ form.vars.id }}" action="{{ form.vars.action }}"
                      method="post" enctype="multipart/form-data">
                    {% if form.vars.method == 'DELETE' %}
                        <input type="hidden" name="_method" value="DELETE"/>
                    {% endif %}
                    {{ form_widget(form) }}
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" id="btn_onecprod_cancel" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left"></span>
                    {{ 'actions.cancel' | trans({}, 'BusetaTallerBundle') }}</a>
                <a href="#" class="btn btn-danger" id="btn_onecprod_delete"><span class="glyphicon glyphicon-trash"></span>
                    {{ 'actions.confirm' | trans({}, 'BusetaTallerBundle') }}</a>
            </div>
        </div>
    </div>
</div>
