<div class="btn-group" style="margin-bottom: 8px;">
    <a class="btn btn-primary" href="#form_productotope_modal" id="nuevaProductoTope"><span
                class="glyphicon glyphicon-plus-sign"></span> Adicionar Producto con Topes
    </a>
</div>

<div class="paginator row">
    <div class="col-lg-4"><strong>Resultados:</strong> {{ entities.getTotalItemCount }}</div>
</div>

<table class="productotope_records_list table table-striped table-bordered table-condensed table-hover">
    <thead>
    <tr>
        <th style="text-align: left">Producto</th>
        <th style="text-align: left">Almacen</th>
        <th style="text-align: left">Existencia</th>
        <th style="text-align: left">Estado</th>
        <th style="text-align: left">Minimo</th>
        <th style="text-align: left">Maximo</th>
        <th style="text-align: left">Observaciones</th>
        <th style="text-align: center">Acciones</th>

    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.prodtope.producto }}</td>
            <td>{{ entity.prodtope.almacen }}</td>
            <td>{{ entity.cantidad }}</td>

            {% if  entity.cantidad < entity.prodtope.min  %}
                <td><span class="label label-danger">Faltan Unidades</span></td>
            {% elseif entity.cantidad > entity.prodtope.max %}
                <td><span class="label label-warning">Demasiadas Unidades</span></td>
            {% else %}
                <td></td>
            {% endif %}

            <td>{{ entity.prodtope.min }}</td>

            <td>{{ entity.prodtope.max }}</td>

            <td>{{ entity.prodtope.comentarios }}</td>

            <td class="text-center">
                <a class="btn btn-primary btn-xs" href="#edit" data-content="{{ entity.prodtope.id }}"><i class="fa fa-edit"> Editar</i></a>
                <a class="btn btn-danger btn-xs" href="#delete" data-content="{{ entity.prodtope.id }}"><i class="fa fa-remove"> Eliminar</i></a>
            </td>

        </tr>
    {% else %}
        <tr>
            <td colspan="5">{{ 'messages.no_results' | trans({}, 'BusetaBodegaBundle') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="paginator row">
    <div class="col-lg-4"></div>
    <div class="col-lg-12" style="text-align: center">{{ knp_pagination_render(entities) }}</div>
</div>

<div class="modal" id="form_productotope_modal"></div>
<div class="modal" id="form_productotope_delete_modal"></div>