{% block collection_widget %}
{% spaceless %}
<div class="collection">
    {% if prototype is defined %}
        {# Con la siguiente linea creo un arreglo llamado attr que va a ser igual a la union de el mismo que
        al principio esta nulo con un arreglo llamado data-prototype que lo que tiene es el bloque
        collection_item_widget que a su vez trae consigo una macro con todos los elementos que van
        en el formulario que muestro luego en el show.html.twig
         #}
        {% set attr = attr | merge({'data-prototype': block('collection_item_widget') }) %}
    {% endif %}
    {{ form_errors(form) }}

    <div class="panel panel-default">
        <div class="panel-body">
            <div  {{ block('widget_container_attributes') }}>
                <h4>Listado de tareas adicionales insertadas:</h4>

                <div id="tareas-collection">

                    {% set counter = form | length %}
                    {% for rows in form %}
                        {{ _self.template(rows) }}
                    {% endfor %}
                    {% if counter == 0 %}
                        <div id="no-elements-tr">No existen elementos. Presione "Adicionar" para agregar nuevos elementos.</div>
                    {% else %}
                        <div id="no-elements-tr">No existen elementos. Presione "Adicionar" para agregar nuevos elementos.</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}
</div>
{% endspaceless %}
{% endblock collection_widget %}

{% block collection_item_widget %}
        {% spaceless %}
            {# Cargo la macro llamada template(prototype) #}
            {{ _self.template(prototype) }}
        {% endspaceless %}
{% endblock collection_item_widget %}

{# Creo una macro llamada template(prototype)
con todos los campos que van dentro de cada elemento tarea que muestro en la vista show #}
{% macro template(prototype) %}
<div class="well well-small">
    <div class="row">
        <div class="col-lg-4 form-group">
            {{ form_row(prototype.grupo) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(prototype.subgrupo) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(prototype.tareamantenimiento) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 form-group">
            {{ form_row(prototype.fechaEstimada) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(prototype.horaInicio) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(prototype.horaFinal) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 form-group">
            {{ form_row(prototype.garantiaTarea) }}
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(prototype.horasLaboradas) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 form-group">
            {{ form_row(prototype.descripcion) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <a class="btn btn-link delete_tag_link" href="#"><i class="fa fa-remove"></i> Eliminar Tarea</a>
        </div>
    </div>
</div>

{% endmacro %}
